.ui-range-circular {
	--input-bs: 12em;
	--_mask: radial-gradient(circle farthest-side at center, transparent calc(100% - var(--input-thumb-sz) - 1px), var(--AccentColor) calc(100% - var(--input-thumb-sz)));
	--_rad: calc(360deg / (var(--max, 100) - var(--min, 0)));

	display: grid;
	place-items: center;
	rotate: -90deg;
	touch-action: none;
	width: fit-content;

	& input {
		background: conic-gradient(
			var(--AccentColor) calc(1% * var(--value)),
			var(--ButtonBorder) calc(1% * var(--value))
		);
		border-radius: 50%;
		height: var(--input-bs);
		margin: 0;
		-webkit-mask: var(--_mask);
		mask: var(--_mask);
		pointer-events: none;
		rotate: 90deg;
		width: var(--input-bs);
		&::-webkit-slider-thumb { display: none; }
		&::-moz-range-thumb { opacity: 0; }
	}
	& input, & span {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
	& span {
		height: 100%;
		pointer-events: none;
		rotate: calc(90deg + (var(--_rad)) * var(--value));
		width: var(--input-thumb-sz);
		&::before {
			aspect-ratio: 1;
			background-color: var(--AccentColor);
			border-radius: 50%;
			box-shadow: 0 0 0 2px Canvas;
			content: '';
			display: block;
			width: 100%;
		}
	}
}