html, body {
	overscroll-behavior: none;
}
main { padding-block-end: 2ch; }
meter {
	--meter-custom-bg:linear-gradient(90deg, 
	#4691e2 20%,
	#0cb764 0 40%,
	#febf18 0 60%,
	#fc8711 0 80%,
	#cc1100 0 100%);
}
.icon-scale {
	display: grid;
	gap: 1em;
	row-gap: 4ch;
	grid-template-columns:  repeat(auto-fill, minmax(100px, 1fr));
	margin-block: 5ch;	
}
.icon-scale [data-icon] {
	aspect-ratio: 1 / 1;
	background-color: var(--gray-1);
	border: 1px dotted var(--gray-4);
}

.row {
	align-items: start;
	display: grid;
	gap: 1.5ch;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: left;
}

.row + .row {
	margin-top: 2ch;
}

.row-full {
	display: grid;
}

[data-bs~="dark-mode"] { --dark-mode: 1; }
.bs-header { display: flex; }
.bs-header button { --button-bgc: transparent; }
.bs-header svg {
	filter: invert(var(--dark-mode));
	inline-size: 3rem;
	transform: rotate(calc(var(--dark-mode) * 180deg));
  transition: all .6s ease;
}

@media (min-width: 600px) { 
	.bs-toc ol { column-count: 2; }
}