:where(html) {
	--icon-check: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z" fill="white"></path></svg>');
	--icon-reset: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.016 15.609l-3.609-3.609 3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406 3.609 3.609-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93z"/></svg>');

	--icon-alert: url('../svg/alert-circle.svg');
	--icon-bitcoin: url('../svg/bitcoin.svg');
	--icon-checkmark: url('../svg/check.svg');
	--icon-chevron-down: url('../svg/chevron-down.svg');
	--icon-chevron-right: url('../svg/chevron-right.svg');
	--icon-chevron-up: url('../svg/chevron-up.svg');
	--icon-cross: url('../svg/cross.svg');
	--icon-date: url('../svg/calendar.svg');
	--icon-download: url('../svg/download.svg');
	--icon-email: url('../svg/email.svg');
	--icon-external: url('../svg/external-link.svg');
	--icon-ftp: url('../svg/file-download.svg');
	--icon-message: url('../svg/message.svg');
	--icon-minus: url('../svg/minus.svg');
	--icon-month: url('../svg/week.svg');
	--icon-number: url('../svg/numbers.svg');
	--icon-password: url('../svg/lock.svg');
	--icon-phone: url('../svg/phone.svg');
	--icon-plus: url('../svg/plus.svg');
	--icon-search: url('../svg/search.svg');
	--icon-skype: url('../svg/skype.svg');
	--icon-time: url('../svg/time.svg');
	--icon-url: url('../svg/link.svg');
	--icon-week: url('../svg/week.svg');
}

:where([data-icon~="after"])::after,
:where([data-icon~="before"])::before {
	background-color: currentColor;
	block-size: var(--icon-sz, 2em);
	content: "";
	display: var(--icon-d, inline-block);
	inline-size: var(--icon-sz, 2em);
	margin-block: var(--icon-mb, 0);
	margin-inline: var(--icon-mi, .25em);
	mask-image: var(--icon-msi);
	-webkit-mask-image: var(--icon-msi);
}
:where([data-icon~="block"]) {
	--icon-d: block;
	--icon-mb: .35em;
	--icon-mi: auto;
}