[data-bs~="gradient-text"] {
  --bg-size: 250%;
  --color-one: purple;
  --color-two: cyan;
	background: linear-gradient(
		90deg,
		var(--color-one),
		var(--color-two),
		var(--color-one)
	) 0 0 / var(--bg-size) 100%;
  background-clip: text;
  color: transparent;
	-webkit-background-clip: text;
}

[data-bs~="gradient-text"][data-bs~="animate"] {
	animation: move-bg 10s infinite linear;
}

@keyframes move-bg {
  to { background-position: var(--bg-size) 0; }
}