:where(html) {
	color-scheme: light dark;
	--dark-mode: 0;
	--hue: 220;
	--saturation: 90%;
	--lightness: 50%;

	/* SIZES, ALERT RED, CONFIRM GREEN, INFO BLUE
	transition-times
	*/


	--accent-color: hsl(220, 90%, 50%);
	--accent-color-text: hsl(220, 90%, 50%);
	--accent-color-hover: hsl(var(--hue), var(--saturation), 40%);
	--accent-text-color: hsl(var(--hue), var(--saturation), 99%);

	
	--gray-0: #f8f9fa;
	--gray-1: #f1f3f5;
	--gray-2: #e9ecef;
	--gray-3: #dee2e6;
	--gray-4: #ced4da;
	--gray-5: #adb5bd;
	--gray-6: #868e96;
	--gray-7: #495057;
	--gray-8: #343a40;
	--gray-9: #212529;

	--color-warning: #ffc107;
	--color-danger: hsl(354, 70%, 54%);
	--color-success: hsl(134, 61%, 30%);

	--required-color: maroon;

	--secondary-color: hsl(var(--hue), 15%, 30%);
	--secondary-color-hover: hsl(var(--hue), 15%, 20%);
	--secondary-text-color: hsl(var(--hue), 15%, 95%);

	/* TAGS: Colors */
	--a-c: var(--accent-color-text);
	--address-bgc: var(--gray-1);
	--address-c: inherit;
	--badge-bg: var(--accent-color);
	--badge-c: var(--accent-text-color);
	--blockquote-bdc: var(--accent-color);
	--blockquote-bgc: var(--gray-1);
	--blockquote-c: inherit;
	--button-bgc: var(--accent-color);
	--button-bgc-hover: var(--accent-color-hover);
	--button-c: var(--accent-text-color);
	--code-bgc: var(--gray-2);
	--code-c: var(--text-c);
	--dl-table-bdc: var(--gray-6);
	--del-c: var(--color-danger);
	--figcaption-c: var(--gray-7);
	--hr-c: var(--gray-6);
	--ins-c: var(--color-success);
	--kbd-bgc: var(--gray-2);
	--kbd-c: inherit;
	--mark-bgc: hsl(60, 80%, 80%);
	--mark-c: var(--text-c);
	--menu-bdc: var(--input-bdc);
	--menu-bgc: #fff0;
	--menu-item-bdc: var(--input-bdc);
	--menu-item-bgc: #fff0;
	--menu-item-hover-bgc: var(--gray-1);
	--menu-item-hover-c: initial;
	--meter-bgc: var(--gray-2);
	--meter-evenless-bgc: var(--color-warning);
	--meter-optimum-bgc: var(--color-success);
	--meter-suboptimum-bgc: var(--color-danger);
	--ol-li-bg: var(--gray-2);
	--pre-bgc: var(--gray-8);
	--pre-c: #FFF;
	--progress-bar-bgc: var(--accent-color);
	--progress-bgc: var(--gray-2);
	--progress-indeterminate: var(--progress-bgc) linear-gradient(to right, var(--progress-bar-bgc) 33%, var(--progress-bgc) 33%) center left/150% 150% no-repeat;
	--progress-indeterminate-bgc: var(--gray-5);
	--progress-stripes: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	--var-bgc: var(--gray-9);
	--var-c: var(--color-warning);


	--body-fz: 19px;
	--body-lh: 1.5;

	/* Form Elements */
	--input-bdc: var(--gray-5);
	--input-bdrs: 4px;
	--input-bds: solid;
	--input-bdw: 1px;
	--input-bgc: white;
	--input-fz: 1rem;
	--input-gap: 0.25em;
	--input-invalid-bdc: var(--color-danger);
	--input-invalid-bgc: hsl(351, 100%, 97%);
	--input-invalid-c: var(--color-danger);
	--input-pb: .75em;
	--input-pi: .75em;
	--input-thumb-h: 1.25em;
	--input-track-h: 0.125em;
	--input-track-c: rgba(0, 0, 0, 0.2);

	--input-switch-bgc: var(--gray-5);
	--input-switch-c: #FFF;
	--file-button-bgc: var(--gray-2);
	--optgroup-bgc: var(--gray-5);
	--optgroup-c: inherit;
	--option-checked-bgc: var(--gray-1);

	/* Outline */
	--outline-color: var(--accent-color);
	--outline-offset: 3px;
	--outline-style: solid;
	--outline-width: thin;

	--placeholder-color: var(--gray-7);

	--scrollbar-bdrs: 1.5em;
	--scrollbar-bdw: 0.2em;
	--scrollbar-bgc: hsl(200, 0%, 95%);
	--scrollbar-w: .9em;
	--scrollbar-thumb-c: hsl(200, 0%, 72%);

	--selection-bgc: hsl(330, 75%, 50%);
	--selection-c: hsl(330, 75%, 99%);

	--main-mxis: 1200px;

	--text-c: hsl(0, 0%, 5%);
	--ticks-bdc: var(--gray-7);


	  /* Animation/Transition Duration */
		--animdur-200: 200ms;
		--animdur-300: 300ms;
		--animdur-400: 400ms;
		--animdur-700: 700ms;
		--animdur-1000: 1000ms;
		--animdur-1500: 1500ms;
}

:where([data-bs~="dark-mode"]) {
	--accent-color: hsl(220, 40%, 55%);
	--accent-color-text: hsl(220deg 100% 82%);
	--address-bgc: var(--gray-9);
	--body-bg: hsl(220, 10%, 10%);
	--body-c: hsl(220, 10%, 95%);
	--blockquote-bgc: var(--gray-7);
	--input-bdc: hsl(220, 10%, 75%);
	--input-bgc: hsl(220, 10%, 15%);
	--input-invalid-bdc: hsl(354, 50%, 70%);
	--input-invalid-bgc: hsl(351, 15%, 15%);
	--input-invalid-c: hsl(354, 50%, 70%);
	--input-switch-bgc: hsl(210, 11%, 50%);
	--input-track-c: hsl(220, 10%, 75%);
	--kbd-c: #000;
	--marquee-bgc: var(--gray-8);
	--menu-context-bgc: var(--gray-8);
	--menu-item-hover-bgc: var(--gray-7);
	--menu-list-button-bgc: var(--gray-8);
	--menu-tab-bar-bgc: var(--gray-9);
	--ol-li-bg: var(--gray-8);
	--optgroup-bgc: var(--gray-8);
	--option-checked-bgc: var(--gray-7);
	--table-zebra-bg: var(--gray-8);
	--tip-bgc: var(--gray-9);

	--select-icon: var(--icon-chevron-down-white);
}


:where([data-bs~="overflow-scroll"]) {
	max-inline-size: 100%;
	overflow: auto;
}

/* :where([data-bs="overflow-scroll"]) >* {
	background-image: linear-gradient(to right, transparent 75%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
} */

:where([data-bs~="text-overflow"]) {
	display: block;
	max-inline-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

:where(html) {
  --ratio-square: 1;
  --ratio-landscape: 4/3;
  --ratio-photo: 3/2;
  --ratio-portrait: 3/4;
  --ratio-widescreen: 16/9;
  --ratio-ultrawide: 18/5;
  --ratio-universal: 2/1;
  --ratio-golden: 1.6180/1;
}


