:where(a) {
	--a-icon-sz: 1.25em;
	align-items: center;
	background: var(--a-bgc,
		linear-gradient(currentColor 0 0, currentColor 0 0) 
		bottom / var(--d, 0) 2px 
		no-repeat);
	color: var(--a-c);
	display: inline-flex;
	text-decoration: var(--a-td, none);
	text-decoration-skip-ink: auto;
	transition: .3s ease-in-out;
}

@media (hover: hover) { a:hover { --d: 100%; } }

:where(a[data-icon="after"])::after { --icon-mis: .125em; }
:where(a[data-icon="before"])::before { --icon-mie: .125em; }
:where(a[href^="bitcoin"]) { --icon: var(--icon-bitcoin); }
:where(a[href^="ftp"]) { --icon: var(--icon-ftp); }
:where(a[href^="mailto"]) { --icon: var(--icon-email); }
:where(a[href^="skype"]) { --icon: var(--icon-skype); }
:where(a[href^="sms"]) { --icon: var(--icon-message); }
:where(a[href^="tel"]) { --icon: var(--icon-phone); }
:where(a[href^="webcal"]) { --icon: var(--icon-date); }
:where(a[download]) { --icon: var(--icon-download); }
:where(a[target="_blank"]) { --icon: var(--icon-external); }