:where(a) {
	align-items: center;
	background: 
		linear-gradient(currentColor 0 0) 
		bottom /var(--d, 0) 1px 
		no-repeat;
	color: var(--a-c, var(--accent-color, initial));
	display: inline-flex;
	text-decoration: var(--a-td, none);
	text-decoration-skip-ink: auto;
	transition: var(--animdur-300, 0.3s) ease-in-out;
}
@media (hover: hover) {
  a:hover {
  	--d: 100%;
	}
}

:where(a[href*=":"], a[download], a[target="_blank"])::after {
	background: currentColor;
	content: "";
	display: inline-block;
	margin-inline-start: .25em;
	height: 1.25em;
	width: 1.25em;
}
/* schemes: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler */

:where(a[href*="bitcoin"])::after {
	mask-image: var(--icon-bitcoin);
	-webkit-mask-image: var(--icon-bitcoin);
}
:where(a[href*="ftp"])::after {
	mask-image: var(--icon-ftp);
	-webkit-mask-image: var(--icon-ftp);
}
:where(a[href*="mailto"])::after {
	mask-image: var(--icon-email);
	-webkit-mask-image: var(--icon-email);
}
:where(a[href*="skype"])::after {
	mask-image: var(--icon-skype);
	-webkit-mask-image: var(--icon-skype);
}
:where(a[href*="sms"])::after {
	mask-image: var(--icon-message);
	-webkit-mask-image: var(--icon-message);
}
:where(a[href*="tel"])::after {
	mask-image: var(--icon-phone);
	-webkit-mask-image: var(--icon-phone);
}
:where(a[href*="webcal"])::after {
	mask-image: var(--icon-date);
	-webkit-mask-image: var(--icon-date);
}

:where(a[download])::after {
	mask-image: var(--icon-download);
	-webkit-mask-image: var(--icon-download);
}


:where(a[target="_blank"])::after {
	mask-image: var(--icon-external);
	-webkit-mask-image: var(--icon-external);
}

/*
Other options:

:any-link
:link
:visited
:local-link
:target

*/