:where(blockquote) {
	background-color: var(--blockquote-bgc);
	border-color: var(--blockquote-bdc);
	border-style:var(--blockquote-bds, solid);
	border-block-width: var(--blockquote-bdbw, 0);
	border-inline-width: var(--blockquote-bdiw, 8px 0);
	color: var(--blockquote-c);
	font-size: var(--blockquote-fz, 1.4em);
	margin: unset;
	padding-block: var(--blockquote-pb, 1ch);
	padding-inline: var(--blockquote-pi, 2ch);
}

:where(cite) {
	display: block;
	font-size: var(--cite-fz, 0.8em);
}

:where(cite)::before { content: '— '; }

/* Modifiers */
:where(blockquote[data-bs~="break"]) {
	--blockquote-bgc: transparent;
	--blockquote-bdiw: 0;
	--blockquote-pi: 0;
	margin-inline: auto;
	max-inline-size: max(60%, 320px);
	position: relative;
}

:where(blockquote[data-bs~="center"]) { text-align: center; }
/* TODO! */
:where(blockquote[data-bs~="line"])::after,
:where(blockquote[data-bs~="line"])::before {
	background-color: var(--blockquote-bdc);
	content: '';
	display: block;
	height: 2px;
	width: 60%;
	margin-block: 2ch;
	margin-inline: auto;
}

:where(blockquote[data-bs~="bigquote"])::before {
	color: var(--gray-4);
	content: '“'; 
	font-family: ui-setif, serif;
	display: block;
	font-size: clamp(6.25rem, 1.7857rem + 14.2857vw, 12.5rem);
	
	position: absolute;
	top: -.33em;
	left: -.44em;
	z-index: -1;
 }