:where(blockquote) {
	background-color: var(--blockquote-bgc);
	border-color: var(--blockquote-bdc);
	border-style:var(--blockquote-bds, solid);
	border-width: var(--blockquote-bdw, 0 0 0 8px);
	color: var(--blockquote-c);
	font-size: var(--blockquote-fz, 1.4em);
	margin: unset;
	padding-block: var(--blockquote-pb, 1ch);
	padding-inline: var(--blockquote-pb, 2ch);
}

:where(cite) {
	display: block;
	font-size: var(--cite-fz, 0.8em);
}

:where(cite)::before { content: '— '; }