:where(button:not([role="menuitem"])) {
	background-color: var(--button-bgc);
	border-radius: var(--button-bdrs, var(--input-bdrs));
	border-color: var(--button-bdc, transparent);
	border-style: var(--button-bds, solid);
	border-width: var(--button-bdw, var(--input-bdw));
	color: var(--button-c);
	font-size: var(--button-fz, inherit);
	font-weight: var(--button-fw, 400);
	padding-block: var(--button-pb, 1.25ch);
	padding-inline: var(--button-pi, 2.5ch);
	text-underline-offset: var(--button-tuo, 4px);
	transition: background-color 0.2s ease-in-out;
}

:where(button[type="reset"]) {
	--button-bgc: transparent;
	--button-bdw: 0;
	--button-c: var(--text-c);	 
}

:where(button[type="submit"]) {
	--button-bgc: var(--secondary-color);
	--button-bgc-hover: var(--secondary-color-hover);
	--button-c: var(--secondary-text-color);
}

/* Modifiers */
:where(button[data-bs~="outline"]:not([type="reset"])) {
	--button-bdc: var(--button-bgc);
	--button-c: var(--button-bgc);
	background-color: transparent;
}

:where(button[type="submit"][data-bs~="outline"]) { --button-c: var(--secondary-color); }

@media (hover: hover) {
	:where(button:hover:not([data-bs~="outline"]):not([type="reset"]):not([disabled])) { --button-bgc: var(--button-bgc-hover); }
	:where(button[data-bs~="outline"], [type="reset"]):not([disabled]):hover { text-decoration: underline; } 
}