:where(button:not([role="menuitem"])) {
	background-color: var(--button-bgc, var(--accent-color, initial));
	border-radius: var(--button-bdrs, var(--input-bdrs, initial));
	border-color: var(--button-bdc, transparent);
	border-style: var(--button-bds, solid);
	border-width: var(--button-bdw, var(--input-bdw, initial));
	color: var(--button-c, var(--accent-text-color, initial));
	font-size: var(--button-fz, inherit);
	font-weight: var(--button-fw, 400);
	padding-block: var(--button-pb, 1.25ch);
	padding-inline: var(--button-pi, 2.5ch);
}

:where(button[type="reset"]) {
	--button-bgc: transparent;
	--button-bdw: 0;
	--button-c: var(--text-c);
}
:where(button[type="submit"]) {
	--button-bgc: var(--secondary-color, initial);
	--button-c: var(--secondary-text-color, initial);
}
/* modifiers */
:where(button[data-bs~="outline"]) {
	--button-bdc: var(--button-bgc, var(--accent-color, initial));
	--button-bdw: var(--button-bdw, 1px);
	--button-c: hsl(var(--hue), var(--saturation), var(--lightness));
	background-color: transparent;
}

:where(button[type="submit"][data-bs~="outline"]) {
	--button-c: var(--secondary-color);
}