:where(button:not([role="menuitem"])) {
	--icon-sz: 1.25em;
	align-items: center;
	background-color: var(--button-bgc);
	border-radius: var(--button-bdrs, var(--input-bdrs));
	border-color: var(--button-bdc, transparent);
	border-style: var(--button-bds, solid);
	border-width: var(--button-bdw, var(--input-bdw));
	color: var(--button-c);
	display: var(--menu-d, inline-flex);
	font-size: var(--button-fz, 1rem);
	font-weight: var(--button-fw, 400);
	line-height: var(--button-lh, 1.5);
	margin: unset;
	padding-block: var(--button-pb, 1.25ch);
	padding-inline: var(--button-pi, 2.25ch);
	text-underline-offset: var(--button-tuo, 4px);
	transition: background-color 0.3s ease-in-out;
}

:where(button[type="reset"]) {
	--button-bgc: transparent;
	--button-c: var(--text-c);
	--outline-color: var(--button-c);
}

:where(button[type="submit"]) {
	--button-bgc: var(--secondary-color);
	--button-bgc-hover: var(--secondary-color-hover);
	--button-c: var(--secondary-text-color);
	--outline-color: var(--button-bgc);
}

/* Variations */
:where(button[data-icon~="center"]) {
	aspect-ratio: 1 / 1;
	--button-bdrs: 50%;
	--button-pi: 0;
	width: calc((2 * var(--button-pb, 1.25ch)) + calc(2 * var(--button-bdw, var(--input-bdw))) +  (var(--button-lh, 1.5) * var(--button-fz, 1rem)));
}
:where(button[type="reset"][data-icon~="center"]) { --button-bgc: var(--gray-1); }

:where(button[data-bs~="outline"]) {
	--button-bdc: var(--button-bgc);
	background-color: transparent;
}
:where(button[type="button"][data-bs~="outline"]) { --button-c: var(--button-bgc); }
:where(button[type="submit"][data-bs~="outline"]) { --button-c: var(--secondary-color); }

@media (hover: hover) {
	:where(button:hover:not([data-bs~="outline"]):not([type="reset"]):not([disabled])) { --button-bgc: var(--button-bgc-hover); }
	:where(button[data-bs~="outline"], [type="reset"]):not([disabled]):hover { text-decoration: underline; } 
}