/* TODO! WORK-IN-PROGRESS */
:where(details[data-bs] summary) { list-style-type: none; }
:where(details[data-bs] summary)::-webkit-details-marker { display: none; }
:where(details[data-bs] summary)::marker { display: none; }

/* Custom Select */
:where(details[data-bs~="select"]) { position: relative; }
:where(details[data-bs~="select"] > summary + *) {
	background-color: var(--input-bgc);
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: var(--input-bdc);
	border-end-start-radius: var(--input-bdrs);
	border-end-end-radius: var(--input-bdrs);
	inset-block-start: 100%;
	inset-inline-start: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
:where(details[data-bs~="select"] > summary + * > *) {
	border-block-start: 1px solid var(--input-bdc);
	padding-block: var(--input-pb);
	padding-inline: var(--input-pi);
}
details[data-bs~="select"][open] > summary {
	--input-bgi: var(--icon-chevron-up); 
	border-block-end-width: 0;
	border-end-start-radius: 0;
	border-end-end-radius: 0;
}
:where(details[data-bs~="select"][open] summary)::before  {
	background: rgba(0, 0, 0, 0);
  content: "";
  display: block;
  inset: 0;
  position: fixed;
	z-index: 0;
}

@media (hover: hover) {
	:where(details[data-bs~="select"] > summary + * > *:hover) {
		background-color: var(--menu-item-hover-bgc, var(--gray-1));
	}
}


/* Toggle Tip */
:where(details[data-bs="toggletip"]) {
	cursor: help;
	display: inline;
	position: relative;
}

:where(details[data-bs="toggletip"] summary) {
	border-block-end: 2px dotted currentColor;
}
:where(details[data-bs="toggletip"][open] summary)::before {
	background: rgba(0, 0, 0, .2);
  content: "";
  display: block;
  inset: 0;
  position: fixed;
	z-index: 0;
}

:where(details[data-bs="toggletip"][open] summary + *) {
	background-color: var(--toggletip-bgc, #fff);
	border-radius: var(--toggletip-bdrs, .25em);
	box-shadow: var(--toggletip-bxsh, 0 0 .25em rgba(0, 0, 0, .125));
  font-size: var(--toggletip-fz, 80%);
  margin: 0;
  padding-block: var(--toggletip-pb, 1.25ch);
  padding-inline: var(--toggletip-pi, 1.5ch 2ch);
  position: absolute;
  width: var(--toggletip-w, 12rem);
  z-index: 1;
}

/* FAQ */
:where(details[data-bs~="faq"]) { border-block-end: 1px solid var(--gray-4); }
:where(details[data-bs~="faq"] summary) {
	align-items: center;
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	padding-block: 1ch;
}

:where(details[data-bs~="faq"] summary)::after {
	--input-icon-pos: var(--input-pi);
	--input-icon-w: 2em;

	background-color: var(--gray-7);
	block-size: var(--input-icon-w);
	content: "";
	inline-size: var(--input-icon-w);
	-webkit-mask: var(--faq-icon) center right / var(--input-icon-w) auto no-repeat;
	mask: var(--faq-icon) center right / var(--input-icon-w) auto no-repeat;
	transition: transform .2s ease-in-out;
}
:where(details[data-bs~="faq"] summary:focus-visible) {
	--outline-width: 0;
	background: var(--gray-1);
}

:where(details[data-bs~="down"] summary) { --faq-icon: var(--icon-chevron-down); }
:where(details[data-bs~="down"][open] > summary)::after { transform: rotate(180deg); }

:where(details[data-bs~="plus"] summary) { --faq-icon: var(--icon-plus); }
:where(details[data-bs~="plus"][open] > summary)::after { --faq-icon: var(--icon-minus); }

:where(details[data-bs~="right"] summary) { --faq-icon: var(--icon-chevron-right); }
:where(details[data-bs~="right"][open] > summary)::after { transform: rotate(90deg); }

:where(details[data-bs~="faq"][open] summary + *) {
	padding-block-end: 2ch;
}