/* fieldset for checkboxes or radio-buttons */
:where(fieldset[role*="group"]) {
	border: 0;
	display: flex;
	gap: var(--input-gap);
	margin: unset;
	padding: unset;	
}

:where(fieldset[aria-orientation="vertical"], fieldset[role="group"]) {
	flex-direction: column;
	gap: calc(2 * var(--input-gap));
	padding-block-start: calc(2 * var(--input-gap));
}