:where(figure) { margin: var(--figure-m, unset); }

:where(figcaption) {
	color: var(--figcaption-c);
	font-size: var(--figcaption-fz, 80%);
	margin-block: var(--figcaption-mb, 1ch);
}

/* if data-bs is present, add aspect-ratio / object-position */
:where(figure[data-bs]) {
	aspect-ratio: var(--asr, auto);
	inline-size: 100%;
	position: relative;
}

:where(figure[data-bs] img, figure[data-bs] video) {
	aspect-ratio: inherit;
	block-size: 100%;
	inline-size: 100%;
	object-fit: cover;
}

:where(figure[data-bs] iframe, figure[data-bs] lite-youtube) {
	block-size: 100%;
	inline-size: 100%;
}

:where(figure:not([data-bs]) img[width]) {
	aspect-ratio: attr(width) / attr(height);
	height: auto;
  width: 100%;
}

/* aspect-ratio */
[data-bs~="square"] { --asr: var(--ratio-square); }
[data-bs~="landscape"] { --asr: var(--ratio-landscape); }
[data-bs~="portrait"] { --asr: var(--ratio-portrait); }
[data-bs~="widescreen"] { --asr: var(--ratio-widescreen); }
[data-bs~="ultrawide"] { --asr: var(--ratio-ultrawide); }
[data-bs~="universal"] { --asr: var(--ratio-universal); }
[data-bs~="golden"] { --asr: var(--ratio-golden); }

/* object position */
[data-bs~="top-left"] >* { object-position: 0% 0%; }
[data-bs~="top-center"] >* { object-position: 50% 0%; }
[data-bs~="top-right"] >* { object-position: 100% 0%; }

[data-bs~="center-left"] >* { object-position: 0% 50%; }
[data-bs~="center-center"] >* { object-position: 50% 50%; }
[data-bs~="center-right"] >* { object-position: 100% 50%; }

[data-bs~="bottom-left"] >* { object-position: 0% 100%; }
[data-bs~="bottom-center"] >* { object-position: 50% 100%; }
[data-bs~="bottom-right"] >* { object-position: 100% 100%; }