:where(hr) {
	--hr-bg: var(--gray-6, currentColor);
	--hr-h: 1px;
	border-color: var(--hr-bg);
	border-style: var(--hr-bds, solid);
	border-width: var(--hr-bdw, 0 0 var(--hr-h) 0);
	height: var(--hr-h);
	margin-block: var(--hr-mb, 2ch);
}

:where(hr[data-bs="dashed"]) { --hr-bds: dashed; }
:where(hr[data-bs="dotted"]) { --hr-bds: dotted; }
:where(hr[data-bs="fade"]) {
	--hr-bdw: 0;
	background-image: linear-gradient(to right, transparent, var(--hr-bg), transparent);
}