@import 'input.range.css';
:where(input) { accent-color: var(--accent-color); }
:where(input:not([type="checkbox"]):not([type="file"]):not([type="radio"]):not([type="range"])) {
	--input-icon-pos: 0.75em;
	--input-icon-w: 1.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--input-bgc, #fff0);
	background-image: var(--input-bgi, none);
	background-position: center right var(--input-icon-pos);
	background-size: var(--input-icon-w) auto;
	background-repeat: no-repeat;
	block-size: calc(var(--input-fz) * var(--body-lh) + var(--input-pb) * 2 + var(--input-bdw) * 2);
	border-color: var(--input-bdc);
	border-radius: var(--input-bdrs);
	border-style: var(--input-bds);
	border-width: var(--input-bdw);
	inline-size: var(--input-w, 100%);
	padding-block: var(--input-pb);
	padding-inline: var(--input-pi);
	padding-inline-end: calc(var(--input-icon-w) + var(--input-icon-pos));
}

/* specific types */
:where(input[type="color"])::-webkit-color-swatch-wrapper { padding: 0; }
:where(input[type="color"])::-webkit-color-swatch { border-radius: var(--input-bdrs); }
:where(input[type="date"]),
:where(input[type="datetime-local"]) { --input-bgi: var(--icon-date); }
:where(input[type="email"]) { --input-bgi: var(--icon-email); }
:where(input[type="month"]) { --input-bgi: var(--icon-month); }
:where(input[type="password"]) { --input-bgi: var(--icon-password); }
:where(input[type="tel"]) { --input-bgi: var(--icon-phone); }
:where(input[type="time"]) { --input-bgi: var(--icon-time); }
:where(input[type="url"]) { --input-bgi: var(--icon-url); }
:where(input[type="week"]) { --input-bgi: var(--icon-week); }

/* date, datetime-local, month, week  */
:where(input)::-webkit-calendar-picker-indicator {
	opacity: 0;
	block-size: var(--input-icon-w);
	inline-size: var(--input-icon-w);
	margin-inline: var(--input-icon-pos) calc(var(--input-icon-w) * -1);
}

/* file button */
:where(input[type=file])::-webkit-file-upload-button {
	block-size: calc(var(--input-fz) * var(--body-lh) + var(--input-pb) * 2 + var(--input-bdw) * 2);
	border-radius: var(--button-bdrs, var(--input-bdrs, initial));
	border-color: var(--button-bdc, transparent);
	border-style: var(--button-bds, solid);
	border-width: var(--button-bdw, var(--input-bdw, initial));
	font-size: var(--input-fz, inherit);
	font-weight: var(--button-fw, 400);
	padding-block: var(--input-pb);
	padding-inline: var(--input-pi);
}

/* search reset-button */
:where(input[type="search"])::-webkit-search-cancel-button {
	background-color: currentColor;
	block-size: var(--input-icon-w);
	inline-size: var(--input-icon-w);
	margin-inline: var(--input-icon-pos) calc(var(--input-icon-w) * -1);
	mask-image: var(--icon-reset);
	-webkit-appearance: none;
	-webkit-mask-image: var(--icon-reset);
}

/* disabled */
:where(input:disabled) {
	filter: grayscale(1);
	opacity: 0.4;
	cursor: not-allowed;
}