/* Based on: https://codepen.io/ShadowShahriar/pen/zYPPYrQ */

:where(input[type="range"]) {
	--brightness-down: 80%;
	--brightness-hover: 180%;
	--clip-edges: 0.125em;
	--thumb-height: var(--input-thumb-h, 1.25em);
	--thumb-width: var(--input-thumb-h, 1.25em);
	--track-color: rgba(0, 0, 0, 0.2);
	--track-height: var(--input-track-h, 0.125em);

	appearance: none;
	background: #fff0;
	color: var(--input-range-c, var(--accent-color, inherit));
	font-size: 1.5rem;
	margin-inline: 0;
	overflow: hidden;
	width: var(--input-range-w, 100%);
}

:where(input[type="range"]:active) { cursor: grabbing; }

/* === WebKit specific styles === */
:where(input[type="range"]),
:where(input[type="range"])::-webkit-slider-runnable-track,
:where(input[type="range"])::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: var(--thumb-height);
	position: relative;
	transition: all ease 100ms;
}

:where(input[type="range"])::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	background: linear-gradient(currentColor 0 0, currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	border-radius: var(--thumb-width, var(--thumb-height));
	box-shadow: var(--box-fill);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
	filter: brightness(100%);
	width: var(--thumb-width);
}
:where(input[type="range"]:dir(rtl))::-webkit-slider-thumb { --box-fill: none; }

:where(input[type="range"]:hover)::-webkit-slider-thumb {
	cursor: grab;
	filter: brightness(var(--brightness-hover));
}

:where(input[type="range"]:active)::-webkit-slider-thumb {
	cursor: grabbing;
	filter: brightness(var(--brightness-down));
}

:where(input[type="range"])::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0, var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

:where(input[type="range"]:disabled)::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
:where(input[type="range"])::-moz-range-track,
:where(input[type="range"])::-moz-range-thumb {
	appearance: none;
}

:where(input[type="range"])::-moz-range-track,
:where(input[type="range"])::-moz-range-thumb,
:where(input[type="range"])::-moz-range-progress {
	background: #fff0;
}

:where(input[type="range"])::-moz-range-thumb {
	background: currentColor;
	border-radius: var(--thumb-width, var(--thumb-height));
	border: 0;
	cursor: grab;
	height: var(--thumb-height);
	width: var(--thumb-height);
}

:where(input[type="range"]:active)::-moz-range-thumb {
	cursor: grabbing;
}

:where(input[type="range"])::-moz-range-track {
	background: var(--track-color);
	width: 100%;
}

:where(input[type="range"])::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

:where(input[type="range"])::-moz-range-track,
:where(input[type="range"])::-moz-range-progress {
	border-radius: var(--track-height);
	height: calc(var(--track-height) + 1px);
}

:where(input[type="range"])::-moz-range-thumb,
:where(input[type="range"])::-moz-range-progress {
	filter: brightness(100%);
}

:where(input[type="range"]:hover)::-moz-range-thumb,
:where(input[type="range"]:hover)::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

:where(input[type="range"]:active)::-moz-range-thumb,
:where(input[type="range"]:active)::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

:where(input[type="range"]:disabled)::-moz-range-thumb {
	cursor: not-allowed;
}