:where(label, fieldset[role="radiogroup"]) {
	font-size: var(--label-fz, initial);
	width: var(--label-w, 100%);
}

:where(fieldset[role="radiogroup"]) {
	gap: .5em;
}

:where(fieldset[role="radiogroup"] label) {
	align-items: center;
	display: flex;
}

:where(label > abbr) {
	color: var(--required-color);
	margin-inline: 0.125ch 1ch;
}

:where(label small) {
	display: block;
}

:where(label > input, label > select, label > textarea) {
	/* display: block; */
	margin-block-start: .25em;
}

:where(label > input[type="file"]) {
	display: block;
}