:where(menu[role="menu"]) {
	box-shadow: var(--menuitem-shadow, 0 0 0 var(--input-bdw) var(--menu-bdc));
	inline-size: max-content;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

:where(menu[role="menu"] [role="menuitem"]) {
	background-color: var(--menuitem-bgc,);
	border-color: var(--menu-bdc);
	border-style: var(--menu-bds, solid);
	border-width: 0;
	color: currentColor;
	font-size: var(--menuitem-fz, 1rem);
	inline-size: 100%;
	margin: 0;
	padding: var(--menuitem-p, 2ch);
}

:where(menu[role="menu"][aria-orientation="horizontal"]) { display: flex; }
:where(menu[role="menu"]:not([aria-orientation="horizontal"]) > li:not(:last-child) [role="menuitem"]) { border-block-end-width: var(--input-bdw); }
:where(menu[role="menu"][aria-orientation="horizontal"] > li:not(:last-child) [role="menuitem"]) { border-inline-end-width: var(--input-bdw); }

@media (hover: hover) {
	:where(menu[role="menu"] [role="menuitem"]:hover) {
		background-color: var(--menu-item-hover-bgc);
	}
}