:where(meter) {
	background: var(--meter-bgc);
	border: 0;	
	border-radius: var(--meter-bdrs, 1rem);
	height: var(--meter-height, 0.6em);
	min-inline-size: var(--meter-mis, 10em);
	position: relative;
	width: var(--meter-w, 100%);
}
:where(meter):-moz-meter-bar { border: 0; }
:where(meter)::-webkit-meter-bar { border: 0; }
:where(meter)::-webkit-meter-inner-element {
	display: block;
	-webkit-appearance: none;
}
:where(meter)::-webkit-meter-even-less-good-value { background: var(--color-danger); border-radius: inherit; }
:where(meter):-moz-meter-sub-sub-optimum::-moz-meter-bar { background: var(--color-danger); border-radius: inherit; }
:where(meter)::-webkit-meter-suboptimum-value { background: var(--color-warning); border-radius: inherit; }
:where(meter):-moz-meter-sub-optimum::-moz-meter-bar { background: var(--color-warning); border-radius: inherit; }
:where(meter)::-webkit-meter-optimum-value { background: var(--color-success); border-radius: inherit; }
:where(meter):-moz-meter-optimum::-moz-meter-bar { background: var(--color-success); border-radius: inherit; }

/* Custom Meter */
meter[data-bs="custom"] { --meter-mis: 100%; }
meter[data-bs="custom"][value="100"]::-webkit-meter-optimum-value { background-image: var(--meter-custom-bg, none); }
meter[data-bs="custom"][value="100"]:-moz-meter-optimum::-moz-meter-bar { background-image: var(--meter-custom-bg, none); }