:where(ol:not([type])) {
	counter-reset: ol;
	list-style: none;
	padding-inline-start: var(--ol-pis, 1.5em);
}
:where(ol:not([type]) li) { counter-increment: ol; }
:where(ol:not([type]) li)::before {
	color: var(--ol-li-c, inherit);
	content: counters(ol, '.') '. ';
	font-weight: var(--ol-li-fw, 600);
}
:where(ol li a) { line-height: 2; } /* Ensure tap-target-size is large enough for links */

/* Variants */
:where(ol[data-bs~="breadcrumb"]) {

	--ol-pis: 0;
	align-items: center;
	display: flex;
	gap: 1ch;
	white-space: nowrap;
}
:where(ol[data-bs~="breadcrumb"]) li { 
	align-items: center;
	display: flex;
}

:where(ol[data-bs~="breadcrumb"]) li::before { --icon: var(--icon-chevron-right); }
:where(ol[data-bs~="breadcrumb"]) li:first-of-type::before { --icon: var(--icon-home); }

:where(ol[data-bs~="circle"]) li::before { border-radius: 50%; }
:where(ol[data-bs~="custom"]) { padding: unset; }
:where(ol[data-bs~="custom"]) li::before {
	--ol-li-sz: 1.5em;
	aspect-ratio: 1 / 1;
	background-color: var(--ol-li-bg);
	content: counter(ol);
	display: inline-grid;
	font-size: var(--ol-li-fz, 90%);
	height: var(--ol-li-sz);
	margin-inline: var(--ol-li-mi, 1ch .85ch);
	place-content: center;
	width: var(--ol-li-sz);
}