:where(progress) {
	--progress-bdrs: 0.25em;
	--progress-indeterminate: var(--progress-bgc) linear-gradient(to right, var(--progress-bar-bgc) 33%, var(--progress-bgc) 33%) center left/150% 150% no-repeat;

	background-color: var(--progress-bgc);
	block-size: var(--progress-h, .5em);
	border: 0;
	border-radius: var(--progress-bdrs);
	inline-size: var(--progress-w, 100%);
}

:where(progress)::-webkit-progress-bar {
	background: 0 0;
	border-radius: var(--progress-bdrs);
}

:where(progress)::-moz-progress-bar {
	/* In Firefox, it's not possible to set the background-track-color */
	background-color: var(--progress-bar-bgc);
	border-radius: var(--progress-bdrs);
}

:where(progress[value])::-webkit-progress-value {
	background-color: var(--progress-bar-bgc);
	border-radius: var(--progress-bdrs);
}

/* if `max`and `value` are not set, the progress bar will be indeterminate */
:where(progress:indeterminate) {
	animation: progress 1.2s linear infinite;
	background: var(--progress-indeterminate);
}

:where(progress:indeterminate)::-moz-progress-bar {
	animation: progress 1.2s linear infinite;
	background: var(--progress-indeterminate);
}

@keyframes progress {
	0% { background-position: 200% 0; }
	100% { background-position: -200% 0; }
}