@import '@icons.css';
@import '@reset.css';
@import '@theme.css';

@import 'html.css';
@import 'body.css';

@import 'a.css';
@import 'blockquote.css';
@import 'button.css';
@import 'details.css';
@import 'dl.css';
@import 'fieldset.css';
@import 'figure.css';
@import 'h1-h6.css';
@import 'hr.css';
@import 'input.css';
@import 'label.css';
@import 'main.css';
@import 'menu.css';
@import 'meter.css';
@import 'ol.css';
@import 'progress.css';
@import 'table.css';

@import 'text.css';

/* extras	*/
@import '@modifiers.css';

/* FIX CLEANUP! */
.row {
	display: grid;
	gap: 1.5ch;
	/* grid-template-columns: repeat(1, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: left;
}
html {
	--col-gap: clamp(0.75rem, 0.3929rem + 1.1429vw, 1.25rem);
	--row-gap: 2ch;
}

