:where(ul[data-bs="check"]) { list-style-image: var(--icon-checkmark);}
:where(ul[data-bs="cross"]) { list-style-image: var(--icon-cross);}
:where(ul[data-bs="fisheye"]) { list-style-type: ' ⦿ '; }
:where(ul[data-bs="square"]) { list-style-type: square; }
:where(ul[data-bs="triangle"]) { list-style-type: disclosure-closed; }