@import '../color-key/ui-color-key.css';
@layer bs-component {
	:where(.ui-flight) {
		all: unset;
		direction: ltr;
		& input {
			--_bdc: color-mix(in srgb, var(--ui-flight-seat-bg), #000 30%);
			--input-check-bg: var(--ui-flight-seat-bg);
			aspect-ratio: 1 / .9;
			border-color: var(--_bdc);
			border-radius: .5rem .5rem .15rem .15rem;
			border-width: 0 0 .25rem 0;
			font-size: 150%;
			margin: 0;
			&:checked { 
				--ui-flight-seat-bg: var(--ColorSuccess);
				--AccentColor: var(--ui-flight-seat-bg);
				border-color: var(--_bdc);
			}
			&:disabled { --ui-flight-seat-bg: var(--ButtonBorder); }
			&:is([value=""], :not([value])) {
				opacity: 0;
				pointer-events: none;
			}
			&:focus-visible:not(:checked),
			&:hover:not(:checked):not(:disabled) {
				background: color-mix(in srgb, var(--ui-flight-seat-bg), Canvas 80%);
			}
			&:focus-visible:checked {
				outline: 2px solid color-mix(in srgb, var(--ui-flight-seat-bg), Canvas 40%);
			}
			&[inert] { --ui-flight-seat-bg: var(--CanvasGray); }
		}
		& label {
			display: contents;
			&:nth-of-type(4) input { grid-column: 5; } /* Move seat 4 one grid-column to make room for counter */
		}
		& li {
			align-items: center;
			column-gap: 1ch;
			counter-increment: row;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			&::after {
				content: counter(row);
				font-size: small;
				grid-area: 1 / 4 / 1 / 5;
				text-align: center;
			}
			&.--front { --ui-flight-seat-bg: var(--ColorWarning); }
			&.--legroom {
				--ui-flight-seat-bg: var(--VisitedText);
				margin-block-start: .5em;
			}
			&.--sale { --ui-flight-seat-bg: var(--ColorError); }
			&.--standard { --ui-flight-seat-bg: var(--AccentColor); }
		}
		& ol {
			counter-reset: row;
			display: grid;
			row-gap: 1ch;
			padding: 0;
		}
	}
}