@layer bs-component {
	:where(.ui-position) {
		all: unset;
		display: grid;
		gap: .33em;
		grid-template-columns: repeat(3, 1em);
		inline-size: fit-content;

		& input {
			--input-bdw: 0;
			&:not(:checked) { background-color: var(--ButtonFace); }
			&:checked { box-shadow: none; }
		}
		& label { display: contents; }
		& legend {
			grid-column: 1 span 3;
			padding-block-end: var(--label-rg);
		}
	}
}