:where(.ui-launchpad) {
	--ui-launchpad-triangle-h: 1.5em;
	background-color: var(--GrayCanvas);
	border-radius: var(--ui-launchpad-bdrs, 2ch);
	color: Canvas;	
	font-size: smaller;
	gap: var(--ui-launchpad-gap, 3ch);
	grid-template-columns: repeat(3, 1fr);
	left: anchor(center);
	list-style: none;
	margin: 0;
	overflow: visible;
	padding: var(--ui-launchpad-gap, 3ch);
	bottom: anchor(top);
	translate: -50% calc(0% - var(--ui-launchpad-triangle-h));
	&::after {
		background: inherit;
		clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
		content: "";
		display: inline-block;
		height: var(--ui-launchpad-triangle-h);
		inset-block: 100% auto;
		inset-inline: 50% auto;
		position: absolute;
		translate: -50% 0;
		width: calc(2 * var(--ui-launchpad-triangle-h));
	}
	&:popover-open { display: grid; }
	& li {
		aspect-ratio: 1 / 1;
		display: grid;
		place-content: center;
		/* tooltip */
		&::before {  z-index: 1; }
	}
}