/**
 * ui-blinds
 * @version 2.0.0
 * @date 2026-04-01
 * @author Mads Stoumann
 */
@layer bs-component {
	:where(.ui-blinds) {
		--ui-blinds-bg: oklch(0.35 0.18 210);
		--ui-blinds-pb: .5em;
		--ui-blinds-pi: 2ch;
		clip-path: inset(0% 0% 0% 0% round var(--ui-blinds-bdrs, 0.5em));
		display: grid;
		grid-auto-flow: column;

		& > details {
			--_bg: color-mix(
				in oklab,
				var(--ui-blinds-bg),
				#FFF calc((sibling-index() - 1) / max(sibling-count() - 1, 1) * var(--ui-blinds-mix, 80%))
			);
			background: var(--_bg);
			color: contrast-color(var(--_bg));
			padding: var(--ui-blinds-pb) var(--ui-blinds-pi);

			& > summary {
				cursor: pointer;
				font-size: var(--ui-blinds-heading-fz, 1.17em);
				list-style: none;
			}
			&:not([open]) {
				box-shadow: var(--ui-blinds-bxsh, -0.25em 0 1em -0.5em rgba(0,0,0,0.5));
				padding: var(--ui-blinds-pb);
				writing-mode: vertical-lr;
				& > summary {
					block-size: 100%;
					margin: 0;
					padding-inline: var(--ui-blinds-pb);
				}
			}
		}
	}
}
