body { all: unset; }

:where(gui-app) {
	* { box-sizing: border-box;}

	--blue: light-dark(#007AFF, #0B84FF);
	--gray-1: light-dark(#8E8E93, #8E8E93);
	--gray-2: light-dark(#AEAEB2, #636366);
	--gray-3: light-dark(#C7C7CC, #48484A);
	--gray-4: light-dark(#D1D1D6, #3A3A3C);
	--gray-5: light-dark(#E5E5EA, #2C2C2E);
	--gray-6: light-dark(#F2F2F7, #1C1C1E);

	--gui-app-bdc: light-dark(#DEDEE0, #000000);
	--gui-app-bdw: 1px;
	--gui-app-c: light-dark(#222222, #CBCBCB);
	/* --gui-app-main-bg: light-dark(#F3F2F8, #1C1C1E); */
	--gui-app-main-bg: light-dark(#Ededec, #1C1C1E);
	--gui-app-panels-bg: light-dark(#FFFFFF, #2C2C2C);
	--gui-app-regions-bg: light-dark(#FFFFFF, #282828);

	block-size: 100dvh;
	color: var(--gui-app-c, inherit);
	color-scheme: dark light;
	container-type: inline-size;
	display: grid;
	font-family: var(--gui-app-ff, ui-sans-serif, system-ui);
	font-size: 1rem;
	grid-template: auto 1fr var(--gui-app-footer-h, auto) / min-content 1fr min-content;
	interpolate-size: allow-keywords;

	/* Panels */
	[dock=start], [dock=end] {
		transition: width .2s ease;
	}

	gui-panel {
		--gui-panel-docked-miw: 60;
	}

	/* Panels are not toggled on, and not in popover mode */
	&:has([name=panel-start]:not(:checked)) [dock=start]:not([popover]),
	&:has([name=panel-end]:not(:checked)) [dock=end]:not([popover]) {
		overflow: clip;
		width: 0;
	}

	/* Start panel is visible and docked */
	&:has([name=panel-start]:checked):has([dock=start]:not([popover])) main {
		border-inline-start: var(--gui-app-bdw) solid var(--gui-app-bdc);
	}

	/* End panel is visible and docked */
	&:has([name=panel-end]:checked):has([dock=end]:not([popover])) main {
		border-inline-end: var(--gui-app-bdw) solid var(--gui-app-bdc);
	}

	/* Both panels are visible and docked */
	&:has([name=panel-start]:checked):has([dock=start]:not([popover])):has([name=panel-end]:checked):has([dock=end]:not([popover])) main {
		border-inline: var(--gui-app-bdw) solid var(--gui-app-bdc);
	}

	/* Disable toggle-icons when panel is :popover-open */
	&:has([dock=start][popover]) [data-toggle=start],
	&:has([dock=end][popover]) [data-toggle=end] {
		color: var(--gray-4);
		pointer-events: none;
	}

	footer {
		background: var(--gui-app-footer-bg, var(--gui-app-regions-bg));
		border-block-start: var(--gui-app-bdw) solid var(--gui-app-bdc);
		color: var(--gui-app-footer-c, inherit);
		font-size: var(--gui-app-footer-fs, .875rem);
		grid-column: 1 / 4;
		padding: var(--gui-app-footer-p, 1ch);
	}

	gui-panel {
		--gui-panel-bg: var(--gui-app-panels-bg);
		--gui-panel-c: var(--gui-app-c);
		--gui-panel-bxsh: 0px 0px 1px 1px var(--gui-app-bdc);
		--gui-panel-gap: .5rem;
	}

	gui-tabs::part(panels) {
		padding: 4px 8px;
	}
	gui-tabs::part(tabs) {
		margin: 6px;
	}

	header {
		align-items: center;
		background: var(--gui-app-header-bg, var(--gui-app-regions-bg));
		border-block-end: var(--gui-app-bdw) solid var(--gui-app-bdc);
		color: var(--gui-app-header-c, inherit);
		display: flex;
		font-size: var(--gui-app-header-fs, .875rem);
		grid-column: 1 / 4;
		justify-content: space-between;
		padding: var(--gui-app-header-p, .5em 1em);
		button {
			background: #0000;
			border:0;
			color: inherit;
			padding: 0;
		}
	}
	main {
		background: var(--gui-app-main-bg);
		grid-column: 2 / 3;
		padding: var(--gui-app-main-p, 2ch);
	}

	[data-sr] {
		border: 0;
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}
	[data-toggle] {
		color: var(--gray-1);
		transition: color .2s ease;
		&:has(:checked) { color: var(--blue); }
	}


	@container (max-width: 600px) {
		
		gui-panel {
			transition: inset .25s allow-discrete, overlay .25s allow-discrete;
			/* &::part(sidebarend) { display: none; } */
		}
	}
}