body { all: unset; }

:where(gui-app) {
	* { box-sizing: border-box;}
	--gui-app-bdc: light-dark(#DDDDDD, #5E5E5E);
	--gui-app-bdw: 1px;
	--gui-app-c: light-dark(#222222, #CBCBCB);
	--gui-app-main-bg: light-dark(#F5F5F5, #1E1E1E);
	--gui-app-panels-bg: light-dark(#FFFFFF, #2C2C2C);
	--gui-app-regions-bg: light-dark(#FFFFFF, #282828);

	block-size: 100dvh;
	color: var(--gui-app-c, inherit);
	color-scheme: dark light;
	container-type: inline-size;
	display: grid;
	font-family: var(--gui-app-ff, ui-sans-serif, system-ui);
	font-size: 1rem;
	grid-template: auto 1fr var(--gui-app-footer-h, auto) / min-content 1fr min-content;

	&:has([dock=start]:not([popover])) {
		[dock=start] { grid-column: 1 / 2; }
		main {
			border-inline-start: var(--gui-app-bdw) solid var(--gui-app-bdc);
			grid-column: 2 / 4;
		}
		
	}
	&:has([dock=end]:not([popover])) {
		[dock=end] { grid-column: 3 / 4; }
		main {
			border-inline-end: 1px solid var(--gui-app-bdc);
			grid-column: 1 / 3;
		}
	}
	&:has([dock=start]:not([popover])):has([dock=end]:not([popover])) {
		[dock=start] { grid-column: 1 / 2; }
		[dock=end] { grid-column: 3 / 4; }
		main {
			border-inline: 1px solid var(--gui-app-bdc);
			grid-column: 2 / 3;
		}
	}

	footer {
		background: var(--gui-app-footer-bg, var(--gui-app-regions-bg));
		border-block-start: var(--gui-app-bdw) solid var(--gui-app-bdc);
		color: var(--gui-app-footer-c, inherit);
		font-size: var(--gui-app-footer-fs, .875rem);
		grid-column: 1 / 4;
		padding: var(--gui-app-footer-p, 1ch);
	}

	gui-panel {
		--gui-panel-bg: var(--gui-app-panels-bg);
		--gui-panel-c: var(--gui-app-c);
		--gui-panel-bxsh: 0px 0px 1px 1px var(--gui-app-bdc);
		--gui-panel-gap: .5rem;
	}

	gui-tabs::part(panels) {
		padding: 4px 8px;
	}
	gui-tabs::part(tabs) {
		margin: 6px;
	}

	header {
		background: var(--gui-app-header-bg, var(--gui-app-regions-bg));
		border-block-end: var(--gui-app-bdw) solid var(--gui-app-bdc);
		color: var(--gui-app-header-c, inherit);
		display: flex;
		font-size: var(--gui-app-header-fs, .875rem);
		grid-column: 1 / 4;
		justify-content: space-between;
		padding: var(--gui-app-header-p, 1ch);
		button {
			background: #0000;
			border:0;
			color: inherit;
			padding: 0;
		}
	}
	main {
		background: var(--gui-app-main-bg);
		grid-column: 1 / 4;
		padding: var(--gui-app-main-p, initial);
	}

	@container (max-width: 600px) {
		
		gui-panel {
			transition: inset .25s allow-discrete, overlay .25s allow-discrete;
			/* &::part(sidebarend) { display: none; } */
		}
	}
}