body { all: unset; }

gui-app {
	* { box-sizing: border-box;}
	--gui-app-bdc: light-dark(#DDD, #444);

	block-size: 100dvh;
	color-scheme: dark light;
	container-type: inline-size;
	display: grid;
	font-family: var(--gui-app-ff, ui-sans-serif, system-ui);
	grid-template: auto 1fr var(--gui-app-footer-h, auto) / min-content 1fr min-content;

	&:has([dock=start]:not([popover])) {
		[dock=start] { grid-column: 1 / 2; }
		main {
			border-inline-start: 1px solid var(--gui-app-bdc);
			grid-column: 2 / 4;
		}
		
	}
	&:has([dock=end]:not([popover])) {
		[dock=end] { grid-column: 3 / 4; }
		main {
			border-inline-end: 1px solid var(--gui-app-bdc);
			grid-column: 1 / 3;
		}
	}
	&:has([dock=start]:not([popover])):has([dock=end]:not([popover])) {
		[dock=start] { grid-column: 1 / 2; }
		[dock=end] { grid-column: 3 / 4; }
		main {
			border-inline: 1px solid var(--gui-app-bdc);
			grid-column: 2 / 3;
		}
	}

	footer {
		background: #777;
		grid-column: 1 / 4;
		overflow: clip;
		overflow-clip-margin: content-box;
		padding: 1ch;
	}
	
	header {
		background: light-dark(#FFF, #2C2C2C);
		border-block-end: 1px solid var(--gui-app-bdc);
		display: flex;
		grid-column: 1 / 4;
		justify-content: space-between;
		padding: 1ch;
	}
	main {
		background: light-dark(#F5F5F5, #333);
		grid-column: 1 / 4;
		padding: 1ch;
	}
	[data-sr] {
		border: 0;
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}
	svg {
		pointer-events: none;
	}
}