:where(.ui-password-strength) {
	& + * {
		--_bg: var(--GrayCanvas), var(--ColorError), var(--ColorWarning), color-mix(in srgb, var(--ColorSuccess), #FFF 40%), var(--ColorSuccess);
		--_bdrs: 0.5em;
		--_h: .5em;
		background-color: var(--GrayCanvas);
		clip-path: inset(0% 0% 0% 0% round var(--_bdrs));
		display: block;
		height: var(--_h);
		margin-block-start: var(--label-rg);
		&::after {
			background: linear-gradient(90deg, var(--_bg)) no-repeat calc(var(--strength, 0) * 100% / 4) 0 / calc(1px * infinity) 100%;
			clip-path: inset(0% calc(25% * (4 - var(--strength))) 0% 0% round var(--_bdrs));
			content: "";
			display: block;
			height: 100%;
		}
	}
}