/* === RADIO === */
[part=color-grid],
[part=color-swatch],
[part=font-list],
[part=radio-list] {
	& label { display: contents; }
	& input {
		appearance: none;
		aspect-ratio: 1;
		block-size: 16px;
		border: 1px solid ButtonBorder;
		border-radius: 50%;
		margin: 0 1ch 0 0;
		padding: 0;
		position: relative;
		&:checked {
			/* background: var(--uie-accent); */
			/* border-color: transparent; */
			&::after {
				/* background: #FFF; */
				content: "";
				inset: 0;
				position: absolute;
				mask: var(--uie-check) no-repeat center / 85% 100%;
				-webkit-mask: var(--uie-check) no-repeat center / 85% 100%;
			}
		}
	}
	& span { 
		font-weight: 500;
		display: flex;
		grid-column: 2 / span 11;
		justify-content: space-between;
	}
}

[part="position"] {
	grid-template-columns: 1fr 1fr 1fr;
	width: 50%;
}