@import '../swap/ui-swap.css';
@layer bs-component {
	:where(.ui-overflow) {
		& div {
			-webkit-box-orient: vertical;
			-webkit-line-clamp: var(--ui-overflow-lines, 3);
			display: -webkit-box;  
			line-clamp: var(--ui-overflow-lines, 3); 
			overflow: clip;
			position: relative;
			&::after {
				background: linear-gradient(to bottom, transparent, Canvas);
				content: "";
				display: block;
				inset: 0;
				position: absolute;
			}
		}
		& label {
			all: unset;
			color: var(--ui-overflow-label-c, var(--LinkText));
			cursor: pointer;
		}
		&:has(:checked) div {
			-webkit-line-clamp: initial;
			&::after {
				background: none;
			}
		}
		&.--5-lines { --ui-overflow-lines: 5; }
		&.--10-lines { --ui-overflow-lines: 10; }
		&.--15-lines { --ui-overflow-lines: 15; }
	}
}