.DS_Store
node_modules/
# ui/content-card/dist/
_tmp/
_v1/
_v2/

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
.gemini-clipboard
*.suo
*.ntvs*
*.njsproj
*.sln