@import url('@reset.css');

:where(body) {
	background: canvas;
	color: canvastext;
	color-scheme: light dark;
	font-family: ui-sans-serif, system-ui, sans-serif;
	margin-inline: auto;
	padding-inline: 2ch;
}
/* *, ::before, ::after {
	box-sizing: border-box;
} */

:where(h1) {
	font-size: 2em;
	font-weight: 600;
	margin-block: 1em;
}