:root {
	--dir: right;
	--transparent: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="5" height="5" fill="grey" /><rect x="5" y="5" width="5" height="5" fill="grey" /></svg>');

	--color-accent: var(--color-primary);
	--color-accent-text: var(--color-primary-text);
	--color-border: var(--color-gray-5);
	--color-danger: hsl(354, 70%, 54%);
	--color-highlight: hsl(60, 80%, 80%);
	--color-link-text: hsl(220, 90%, 50%);
	
	--color-primary: hsl(220, 90%, 50%);
	--color-primary-bxsh: hsla(220, 55%, 80%, 0.9);
	--color-primary-hover: hsl(220, 90%, 35%);
	--color-primary-light: hsl(220, 100%, 94%);
	--color-primary-text: hsl(220, 90%, 95%);

	--color-secondary: hsl(220, 15%, 30%);
	--color-secondary-bxsh: hsla(220, 0%, 80%, 0.9);
  --color-secondary-hover: hsl(220, 15%, 20%);
	--color-secondary-light: hsl(220, 15%, 95%);
	--color-secondary-lighter: hsl(220, 15%, 75%);
  --color-secondary-text: hsl(220, 15%, 95%);

	--color-ternary: hsl(220, 30%, 75%);
	--color-ternary-bxsh: hsla(220, 30%, 90%, 0.9);
	--color-ternary-hover: hsl(220, 30%, 85%);
	--color-ternary-lighter: hsl(220, 30%, 90%);
	--color-ternary-text: hsl(220, 15%, 15%);

	--color-text: hsl(0, 0%, 13%);
	--color-text-invert: hsl(0, 0%, 87%);

	--color-success: hsl(134, 61%, 30%);
	--color-warning: #ffc107;
	--color-zebra-bgc: var(--color-gray-1);

	--color-gray-0: #f8f9fa;
	--color-gray-1: #f1f3f5;
	--color-gray-2: #e9ecef;
	--color-gray-3: #dee2e6;
	--color-gray-4: #ced4da;
	--color-gray-5: #adb5bd;
	--color-gray-6: #868e96;
	--color-gray-7: #495057;
	--color-gray-8: #343a40;
	--color-gray-9: #212529;
	/* --color-gray-input: hsl(210deg 26% 57%); */

	/* TAG colors */
	--address-bg: var(--color-gray-1);
	--blockquote-bdc: var(--color-primary);
	--blockquote-bg: var(--color-gray-1);
	--body-c: var(--color-text);
	--code-bgc: var(--color-gray-2);
	--code-c: var(--color-gray-9);
	--hr-bdc: var(--color-gray-6);
	--input-bdc: var(--color-border);
	/* --input-bxsh: var(--color-gray-5); */
	--input-invalid-bdc: var(--color-danger);
	--input-invalid-bgc: hsl(351, 100%, 97%);
	--input-invalid-c: var(--color-danger);
	
	--input-range-brgt-down: 80%;
	--input-range-brgt-hover: 140%;
	--input-range-thumb-bs: 1.5rem;
	--input-range-thumb-is: 1.5rem;

	--input-switch-bg: var(--color-gray-5);
	--input-switch-checked-bg: var(--color-accent);
	--input-switch-toggle-bg: #FFF;
	--input-switch-checked-toggle-bg: #FFF;
	
	--portal-bdc: var(--color-gray-6);
	--pre-bgc: var(--color-gray-8);
	--pre-c: var(--color-gray-1);
	--td-bdc: var(--color-border);
	--th-bdc: var(--color-border);
	--th-bgc: var(--color-gray-1);
	--var-bgc: var(--color-gray-9);
	--var-c: var(--color-warning);

	/* TAGs with 'global' settings, updatable from anyhwere */
	--body-lh: 1.5;
	--button-bdw: 2px;
	--button-fsz: 1rem;

	--fieldset-gcg: 1.5ch;

	--input-bs: calc(var(--input-fsz) * var(--body-lh) + var(--input-pab) * 2 + (var(--input-bdw) * 2));
	--input-bdrs: 4px;
	--input-bds: solid;
	--input-bdw: 1px;
	--input-bgc: #FFF;
	--input-bxsh: var(--color-primary-bxsh);
	--input-fsz: 1rem;
	--input-gap: .25em;
	--input-is: 100%;
	--input-pab: .5em;
	--input-pi: 1em;

	--label-d: block;
	--label-is: 100%;
	--legend-pi: 0px;
}

[data-bs~="secondary"] {
	--button-bdc: var(--color-secondary);
	--button-bg: var(--color-secondary);
	--button-bxsh-c: var(--color-secondary-bxsh);
	--button-c: var(--color-secondary-text);
	--button-hover-bdc: var(--color-secondary);
	--button-hover-bg: var(--color-secondary-hover);
	--button-hover-c: var(--color-secondary-text);
	--color-accent: var(--color-secondary);
	--fieldset-bdc: var(--color-secondary);

	--input-bdc: var(--color-secondary);
	--input-bxsh: var(--color-secondary-bxsh);
	--input-range-thumb-bg: var(--color-secondary);
	--input-range-track-c: var(--color-secondary-lighter);
	--input-switch-checked-bg: var(--color-secondary);
	--input-switch-bg: var(--color-secondary-lighter);

	/* --legend-bdrs: var(--fieldset-bdrs);
	--legend-bg: var(--color-secondary);
	--legend-c: var(--color-secondary-text);
	--legend-pab: .25em;
	--legend-pi: .75em; */
}

[data-bs~="ternary"] {
	--button-bdc: var(--color-ternary);
	--button-bg: var(--color-ternary);
	--button-bxsh-c: var(--color-ternary-bxsh);
	--button-c: var(--color-ternary-text);
	--button-hover-bdc: var(--color-ternary);
	--button-hover-bg: var(--color-ternary-hover);
	--button-hover-c: var(--color-ternary-text);
	--color-accent: var(--color-ternary);
	--color-accent-text: var(--color-text);
	--color-border: var(--color-ternary-lighter);

	--input-bxsh: var(--color-ternary-bxsh);
	--input-range-brgt-hover: 115%;
	--input-range-thumb-bg: var(--color-ternary);
	--input-range-track-c: var(--color-ternary-lighter);
	--input-switch-bg: var(--color-ternary-lighter);
	--input-switch-checked-bg: var(--color-ternary);
}

[dir="rtl"] {
	--dir: left;
}

[data-bs~="small"] {
	/* TODO! REGULAR FIELDSET */
	--body-lh: 1;
	--button-bdrs: 3px;
	--button-fsz: .75rem;
	--button-pab: .25ch;
	--button-pi: 1ch;
	--fieldset-gcg: 0.5em;
	--fieldset-grg: 1em;
	--input-bs: calc(var(--input-fsz) * var(--body-lh) + var(--input-pab) * 2 + (var(--input-bdw) * 2));
	--input-fsz: 0.75rem;
	--input-pab: .5ch;
	--input-range-thumb-bs: 1rem;
	--input-range-thumb-is: 1rem;
	--input-range-track-bs: 0.06125em;
	--label-fsz: 0.75rem;
}

[data-bs~="large"] {
	--button-bdrs: .75ch;
	--button-fsz: 1.5rem;
	/* --button-pab: .25ch; */
	--button-pi: 2ch;
	/* TODO! REGULAR FIELDSET */
	/* --body-lh: 1;
	--fieldset-gcg: 0.5em;
	--fieldset-grg: 1em;
	--input-bs: calc(var(--input-fsz) * var(--body-lh) + var(--input-pab) * 2 + (var(--input-bdw) * 2));
	--input-fsz: 0.75rem;
	--input-pab: .5ch; */
	--input-range-thumb-bs: 2rem;
	--input-range-thumb-is: 2rem;
	/* --input-range-track-bs: 0.06125em;
	--label-fsz: 0.75rem; */
}

/*
===========
 MAIN ROOT
===========
*/
:where(html) {
	min-block-size: 100%;
	scrollbar-color: var(--html-sc-thumb, #C1C1C1) var(--html-sc-track, #FAFAFA);
	scrollbar-gutter: var(--html-sg, auto);
	scrollbar-width: var(--html-sw, auto);
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  background-color: var(--html-sc-track, #FAFAFA);
	width: var(--html-sw, .75em);
}
html::-webkit-scrollbar-thumb {
  background: var(--html-sc-thumb, #C1C1C1);
  border-radius: var(--html-sbar-bdrs, 1em);
}
::selection {
	background-color: var(--html-selection-bgc, highlight);
	color: var(--html-selection-c, highlighttext);
	-webkit-text-fill-color: var(--html-selection-c, highlighttext);
}

/*
=================
 SECTIONING ROOT
=================
*/
:where(body) {
	--body-ff: ui-sans-serif, system-ui, sans-serif;
	--body-fsz: 19px;
	--body-lh: 1.5;
	--body-mab: unset;
	--body-mi: unset;
}

/*
====================
 CONTENT SECTIONING
====================
*/
:where(address) {
	--address-fs: normal;
	--address-pab: 1em;
	--address-pi: 1em;
}

:where(h1) {
	--h1-fsz: clamp(2rem, 0.75rem + 4vw, 3.75rem);
  --h1-fw: 900;
	--h1-lh: 1.1;
}
:where(h2) {
	--h2-fsz: clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
	--h2-fw: 700;
	--h2-lh: 1.3;
}
:where(main) {
	--main-mi: auto;
	--main-mis: 1200px;
}

/*
==============
 TEXT CONTENT
==============
*/
:where(blockquote) {
	--blockquote-biw: .4em 0;
	--blockquote-fsz: 1.4em;
	--blockquote-mab: 0;
	--blockquote-mi: 0;
	--blockquote-pab: 1ch;
	--blockquote-pi: 2ch;
}
:where(dt) {
	--dt-fw: 700;
}
:where(figure) {
	--figure-mab: 0ox;
	--figure-mi: 0px;
	background: var(--figure-bg);
	border-radius: var(--figure-bdrs);
	padding: var(--figure-p);
}
:where(hr) {
	--hr-bds: solid;
	--hr-bdw: 0 0 var(--hr-bs) 0;
	--hr-bs: 1px;
	--hr-mab: 2ch;
}
:where(hr[data-bs="dashed"]) { --hr-bds: dashed; }
:where(hr[data-bs="dotted"]) { --hr-bds: dotted; }
:where(hr[data-bs="fade"]) {
	--hr-bdw: 0;
	--hr-bg: linear-gradient(to right, transparent, var(--hr-bdc), transparent);
}

:where(li) {
	display: var(--li-d, list-item);
	text-align: var(--li-tal, inherit);
}
:where(li)::marker {
	color: var(--li-marker-c);
}
:where(menu) {
	display: var(--menu-d, block);
  list-style-type: var(--menul-list, disc);
	margin-block: var(--menu-mab, 1em);
  margin-inline: var(--menu-mi, 0px);
	padding-inline-start: var(--menu-pis, 40px);
}
:where(ol) {
	display: var(--ol-d, block);
  list-style-type: var(--ol-list, decimal);
	margin-block: var(--ol-mab, 1em);
  margin-inline: var(--ol-mi, 0px);
	padding-inline-start: var(--ol-pis, 40px);
}

:where(pre) {
	--pre-ovx: auto;
	--pre-pab: 1ch;
	--pre-pi: 1ch;
	--pre-ts: 2;
}
:where(pre > code) { background: transparent; color: inherit; }

:where(ul) {
	display: var(--ul-d, block);
  list-style-type: var(--ul-list, disc);
	margin-block: var(--ul-mab, 1em);
  margin-inline: var(--ul-mi, 0px);
	padding-inline-start: var(--ul-pis, 40px);
}

/*
=======================
 INLINE TEXT SEMANTICS
=======================
*/
:where(a) {
	--a-bg: linear-gradient(currentColor 0 0, currentColor 0 0) bottom / var(--_td, 0) var(--a-tdt, 2px) no-repeat;
	--a-c: var(--color-link-text);
	--a-tdl: none;
}
@media (hover: hover) { a:hover { --_td: 100%; } }
/* [data-icon] */
a[data-icon] {
	align-items: center;
	--a-d: inline-flex;
	--icon-sz: var(--a-icon-sz, 1.25em);
}
a[data-icon="after"]::after { --icon-mis: .125em; }
a[data-icon="before"]::before { --icon-mie: .125em; }
a[href^="mailto"] { --icon: var(--icon-email); }
a[href^="sms"] { --icon: var(--icon-message); }
a[href^="tel"] { --icon: var(--icon-phone); }
a[href^="webcal"] { --icon: var(--icon-date); }
a[download] { --icon: var(--icon-download); }
a[target="_blank"] { --icon: var(--icon-external); }

:where(abbr[title]) {
	--abbr-cur: help;
	--abbr-tuo: 3px;
}
:where(cite) {
	--cite-before-cnt: '— ';
	--cite-d: block;
	--cite-fsz: 0.8em;
}
:where(code) {
	--code-fsz: 0.9em;
	--code-pb: 0.125em;
	--code-pi: 0.3em;
}
:where(dfn)	{
	--dfn-fs: normal;
	--dfn-tdl: underline;
	--dfn-tds: double;
}
:where(kbd) {
  background-color: var(--kbd-bgc, var(--color-gray-1));
  border-radius: var(--kbd-bdrs, 3px);
  border: var(--kbd-bd, 1px solid var(--color-gray-6));
  box-shadow: var(--kbd-bxsh, 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset);
  font-size: var(--kbd-fsz, 0.8125rem);
  font-weight: var(--kbd-fw, 700);
  inset-block-start: -2px;
	padding: var(--kbd-p, 2px 4px);
  position: relative;
	white-space: nowrap;
}
:where(mark) {
	--mark-bgc: var(--color-highlight);
	--mark-pab: 0.25ch;
	--mark-pi: 0.5ch;
}
:where(q) {
	--q-d: block;
}
:where(time) {
	--time-fw: 700;
}
:where(time i) {
	--i-fs: normal;
	font-variant-numeric: ordinal;
}
:where(var) {
	--var-ff: monospace;
	--var-fs: normal;
	--var-fzs: 0.9em;
	--var-pb: 0.03125em;
	--var-pi: 0.125em;
}

/*
======================
 IMAGE AND MULTIMEDIA
======================
*/
:where(img) {
	aspect-ratio: var(--img-ar, auto);
	block-size: var(--img-bs, auto);
	border-radius: var(--img-bdrs, inherit);
	display: var(--img-d);
	inline-size: var(--img-bs);
	max-inline-size: var(--img-mis, 100%);
}
:where(video) {
	aspect-ratio: var(--video-ar, auto);
	block-size: var(--video-bs, auto);
	border-radius: var(--video-bdrs, inherit);
	display: var(--video-d);
	inline-size: var(--video-bs);
	max-inline-size: var(--video-mis, 100%);
	object-fit: var(--video-of, contain);
	position: relative;
}
video::-webkit-media-controls-play-button {
	--video-play-hover-bgc: transparent; /* rgba(32, 33, 36, .71); */
	background-color: var(--video-play-bgc, rgba(32, 33, 36, 0));
	background-size: var(--video-play-bgsz, 20px);
	block-size: var(--video-play-bs, 3rem);
	border-radius: var(--video-play-bdrs, 50%);
	inline-size: var(--video-play-is, 3rem);
	inset-block-start: var(--video-ibs);
	inset-inline-start: var(--video-iis);
	position: var(--video-play-p, relative);
	translate: var(--video-tra);
	transition:
	var(--video-play-trsp, all)
	var(--video-play-trsdu, .3s)
	var(--video-play-trstf, ease-in-out);
}

/*
==================
 EMBEDDED CONTENT
==================
*/
:where(iframe) {
	--iframe-bdw: 0px;
}
:where(portal) {
	--portal-bds: dotted;
	--portal-bdw: 1px;
	--portal-bs: 30rem;
	--portal-is: 100%;
}

/*
===================
 DEMARCATING EDITS
===================
*/
:where(del)	{
	--del-c: var(--color-danger);
}
:where(ins)	{
	--ins-c: var(--color-success);
}

/*
===============
 TABLE CONTENT
===============
*/
:where(table) {
	--caption-fsz: 0.875em;
	--caption-mab: 0 1em;
	--table-bdsp: 0px;
	--td-bdw: 0 0 1px 0;
	--td-fsz: 0.875em;
	--td-pab: 0.75em;
	--td-pi: 1.5em;
	--th-bdw: 0 0 1px 0;
	--th-fsz: 0.875em;
	--th-pab: 0.75em;
	--th-pi: 1.5em;
	--th-tal: start;
}

/*
=======
 FORMS
=======
*/
:where(button:not([role="menuitem"])) {
	--button-bdc: var(--color-primary);
	--button-bdrs: .5ch;
	--button-bg: var(--color-primary);
	--button-bxsh: 0 0 0 var(--button-bxsh-sz, 0) var(--button-bxsh-c);
	--button-bxsh-c: var(--color-primary-bxsh);
	--button-c: var(--color-primary-text);
	--button-hover-bdc: var(--color-primary);
	--button-hover-bg: var(--color-primary-hover);
	--button-hover-bxsh-sz: .33em;
	--button-hover-c: var(--color-primary-text);
	--button-lh: 1.5;
	--button-pab: .75ch;
	--button-pi: 1.75ch;
	--outline-color: transparent;
	--outline-width: 0px;
}

/* link, outline */
button[data-bs~="link"] {--button-bdw: 0px; --button-bxsh-c: transparent; }
button[data-bs~="link"],
button[data-bs~="outline"]:not([data-bs*="gradient-"]) { background: transparent; --button-c: var(--button-bdc); --button-hover-c: var(--button-bdc); }

/* icon only */
:where(button[data-icon~="center"]) {
	--button-bdrs: 50%;
	--button-pi: var(--button-pab);
}
@media (hover: hover) {
	button[data-bs~="link"]:not(:disabled):hover {
		text-decoration: 2px underline 
	}
}

:where(fieldset) {
	--fieldset-bdc: var(--color-border);
	--fieldset-bdrs: var(--input-bdrs);
	--fieldset-bds: solid;
	--fieldset-bdw: 1px;
	--fieldset-d: grid;
	--fieldset-is: 100%;
	--fieldset-mab: 0px;
	--fieldset-mi: 0px;
	--fieldset-pab: var(--fieldset-gcg);
	--fieldset-pi: var(--fieldset-gcg);
	grid-column-gap: var(--fieldset-gcg);
	grid-row-gap: var(--fieldset-grg, .5ch);
	grid-template-columns: var(--fieldset-gtc, repeat(var(--fieldset-colm, auto-fit), minmax(2rem, 1fr)));
}

:where(fieldset[data-bs~="no-border"]) {
	--fieldset-bdw: 0;
	--fieldset-bg: transparent;
	--fieldset-pab: 0px;
	--fieldset-pi: 0px;
}

:where(fieldset[data-bs~="vertical"]) {
	--fieldset-colm: 1;
	--fieldset-grg: calc(2 * var(--input-gap));
}

:where(label) {
	align-items: var(--label-ai, initial);
	gap: var(--label-gap, 0px);
	grid-template-columns: var(--label-gtc);
}

/* :where(legend) {} */

:where(legend[data-bs~="ternary"]) {
	--legend-bg: var(--color-gray-3);
	/* --legend-c: var(--color-gray-9);
	--legend-bdrs: var(--input-bdrs);
	--legend-pab: .5ch;
	--legend-pi: 1.5ch; */
	/* position: absolute; */
}

:where(input) {
	--input-ap: none;
}




/* TODO! */
:where(input[type="range"]) {
	--input-bdw: 0;
	--input-pab: 0;
	--input-pi: 0;

	--input-range-track-bs: 0.125em;
	--input-range-track-lower: var(--color-accent);
	--input-range-track-upper: var(--color-border);
	--input-range-thumb-bdrs: 50%;
	--input-range-thumb-bg: var(--color-accent);
}



:where(progress) {
	/* background-color: var(--progress-bgc, none); */
	block-size: var(--progress-bs, 1em);
	/* border: var(--progress-bd, initial); */
	/* border-radius: var(--progress-bdrs); */
	display: var(--progress-d, inline-block);
	inline-size: var(--progress-is, 10em);
	position: var(--progress-pos, relative);
}

/*
======================
 INTERACTIVE ELEMENTS
======================
*/

:where(summary) {
	--summary-fw: 500;
}
:where(dialog) {
	background-color: var(--dialog-bgc, canvas);
	block-size: var(--dialog-bs, fit-content);
	border-color: var(--dialog-bdc, initial);
	border-style: var(--dialog-bds, solid);
	border-width: var(--dialog-bdw, initial);
	color: var(--dialog-c, canvastext);
	inline-size: var(--dialog-is, fit-content);
	inset-inline-start: var(--dialog-iis, 0px);
  inset-inline-end: var(--dialog-iie, 0px);
	margin: var(--dialog-m, auto);
	padding: var(--dialog-p, 1em);
	position: var(--dialog-pos, absolute);
}
:where(dialog:not([open])) {
	display: var(--dialog-d, none);
}
dialog::backdrop {
  background: var(--dialog-backgdrop, rgba(0, 0, 0, 0.1));
}

/*
====================
 COLOR-SCHEME: DARK
====================
*/
@media (prefers-color-scheme: dark) {
	:where(button) {
		/* ButtonFace DARK */
		/* --button-bg: var(--button-bg-dark, tomato); */
		/* --button-c: var(--button-c-dark, tan); */
		/* HOVER ETC */
	}
}

:is([data-bs~="dark-mode"]) {
	--a-visited-c: tomato;
	--body-bg: hsl(220, 10%, 10%);
	--body-c: hsl(220, 10%, 95%);

	--color-primary: hsl(220, 40%, 55%);
	

	/* --color-primary-bxsh: hsla(220, 55%, 80%, 0.9); */
	--color-primary-hover: hsl(220, 40%, 45%);
	--color-primary-light: hsl(220, 40%, 25%);
	/* --color-primary-text: hsl(220, 90%, 95%); */

	--color-secondary-light: hsl(220, 15%, 20%);

	--color-link-text: hsl(220, 100%, 82%);
	--color-zebra-bgc: var(--color-gray-8);
	--th-bgc: var(--color-gray-9);

	--gradient-8: linear-gradient(135deg, #EEE, 50%, #BBB, #EEE);
	--gradient-16: var(--gradient-8);
}