:where(html) {
	--color-gray-0: #f8f9fa;
	--color-gray-1: #f1f3f5;
	--color-gray-2: #e9ecef;
	--color-gray-3: #dee2e6;
	--color-gray-4: #ced4da;
	--color-gray-5: #adb5bd;
	--color-gray-6: #868e96;
	--color-gray-7: #495057;
	--color-gray-8: #343a40;
	--color-gray-9: #212529;

	--icon-check: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z"></path></svg>');

	--form-bdrs: 0.25rem;
	--form-bdw: 1px;
	--form-bdc: var(--color-gray-4);

	--color-accent: #007bff;
	--color-accent-text: #fff;
}