/* DEFAULT USER-AGENT STYLESHEET, USING CUSTOM PROPERTIES
Minify (remove comments etc.), gzip size is approx. 3.5kb
*/

/*
========
 GLOBAL
========
*/
/* reset box-sizing */
*, ::before, ::after { box-sizing: border-box; }

/* :disabled */
:where(:disabled) {
	filter: grayscale(1);
	opacity: 0.4;
	cursor: not-allowed;
}

/* :focus-visible, :focus */
:focus-visible {
	outline: var(--outline-color, rgb(77, 144, 254)) var(--outline-style, auto) var(--outline-width, 5px);
	outline-offset: var(--outline-offset, -2px);
}
/* Sets a max outline-width on smaller controls */
:focus-visible :is(a, button, input, textarea) { --outline-width: max(2px, 0.08em); }
:focus:not(:focus-visible) { outline: none; }
@media (prefers-reduced-motion: no-preference) { :focus { transition: outline-offset .2s ease-out; } }

/* reduce data */
@media (prefers-reduced-data: reduce) {
	:root :is(iframe, img, video) { display: none; }
}

[hidden] { display: none; }

/* hide element, except for screen-readers */
[data-sr] { 
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* img, svg, video, canvas, audio, iframe, embed, object {
	display: block;
	max-inline-size: 100%;
}
img, svg, video, canvas { height: auto; } */

/*
===========
 MAIN ROOT
===========
*/
:where(html) {
	min-block-size: 100%;
	scrollbar-color: var(--html-sc-thumb, #C1C1C1) var(--html-sc-track, #FAFAFA);
	scrollbar-gutter: var(--html-sg, auto);
	scrollbar-width: var(--html-sw, auto);
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
	background-color: var(--html-sc-track, #FAFAFA);
	width: var(--html-sw, .75em);
}
html::-webkit-scrollbar-thumb {
	background: var(--html-sc-thumb, #C1C1C1);
	border-radius: var(--html-sbar-bdrs, 1em);
}
::selection {
	background-color: var(--html-selection-bgc, highlight);
	color: var(--html-selection-c, highlighttext);
	-webkit-text-fill-color: var(--html-selection-c, highlighttext);
}

/*
=================
 SECTIONING ROOT
=================
*/
:where(body) {
	background: var(--body-bg, canvas);
	color: var(--body-c, canvastext);
	color-scheme: var(--body-cs, light dark);
	display: var(--body-d, block);
	font-family: var(--body-ff, ui-serif, serif);
	font-size: var(--body-fsz, 1em);
	line-height: var(--body-lh, 1.2);
	margin-block: var(--body-mab, 8px);
	margin-inline: var(--body-mi, 8px);
}

/*
====================
 CONTENT SECTIONING
====================
*/
:where(address) {
	background: var(--address-bg);
	color: var(--address-c);
	display: var(--address-d, block);
	font-style: var(--address-fs, italic);
	padding-block: var(--address-pab);
	padding-inline: var(--address-pi);
}
:where(article) {
	display: var(--article-d, block);
}
:where(aside) {
	display: var(--aside-d, block);
}
:where(footer) {
	display: var(--footer-d, block);
}
:where(header) {
	display: var(--header-d, block);
}
:where(h1) {
	color: var(--h1-c);
	display: var(--h1-d, block);
	font-family: var(--h1-ff);
	font-size: var(--h1-fsz, 2em);
	font-weight: var(--h1-fw, bold);
	line-height: var(--h1-lh);
	margin-block: var(--h1-mab, 0.67em);
	margin-inline: var(--h1-mi, 0px);
}
:where(h2) {
	color: var(--h2-c);
	display: var(--h2-d, block);
	font-family: var(--h2-ff);
	font-size: var(--h2-fsz, 1.5em);
	font-weight: var(--h2-fw, bold);
	line-height: var(--h2-lh);
	margin-block: var(--h2-mab, 0.83em);
	margin-inline: var(--h2-mi, 0px);
}
:where(h3) {
	color: var(--h3-c);
	display: var(--h3-d, block);
	font-size: var(--h3-fsz, 1.17em);
	font-weight: var(--h3-fw, bold);
	line-height: var(--h3-lh);
	margin-block: var(--h3-mab, 1em);
	margin-inline: var(--h3-mi, 0px);
}
:where(h4) {
	color: var(--h4-c);
	display: var(--h4-d, block);
	font-size: var(--h4-fsz, 1em);
	font-weight: var(--h4-fw, bold);
	line-height: var(--h4-lh);
	margin-block: var(--h4-mab, 1.33em);
	margin-inline: var(--h4-mi, 0px);
}
:where(h5) {
	color: var(--h5-c);
	display: var(--h5-d, block);
	font-size: var(--h5-fsz, 0.83em);
	font-weight: var(--h5-fw, bold);
	line-height: var(--h5-lh);
	margin-block: var(--h5-mab, 1.67em);
	margin-inline: var(--h5-mi, 0px);
}
:where(h6) {
	color: var(--h6-c);
	display: var(--h6-d, block);
	font-size: var(--h6-fsz, 0.67em);
	font-weight: var(--h6-fw, bold);
	line-height: var(--h6-lh);
	margin-block: var(--h6-mab, 2.33em);
	margin-inline: var(--h6-mi, 0px);
}
:where(main) {
	display: var(--main-d, block);
	margin-inline: var(--main-mi);
	max-inline-size: var(--main-mis);
}
:where(section) {
	display: var(--section-d, block);
}

/*
==============
 TEXT CONTENT
==============
*/
:where(blockquote) {
	background: var(--blockquote-bg);
	border-color: var(--blockquote-bdc);
	border-style: var(--blockquote-bds, solid);
	border-block-width: var(--blockquote-bbw, 0px);
	border-inline-width: var(--blockquote-biw, 0px);
	color: var(--blockquote-c);
	font-size: var(--blockquote-fsz);
	margin-block: var(--blockquote-mab, 1em);
	margin-inline: var(--blockquote-mi, 40px);
	padding-block: var(--blockquote-pab);
	padding-inline: var(--blockquote-pi);
}
:where(dd) {
	display: var(--dd-d, block);
	margin-inline-start: var(--dd-mis, 1.5em);
}
:where(dl) {
	display: var(--dl-d, block);
	margin-block: var(--dl-mab, 1em);
	margin-inline: var(--dl-mi, 0px);
}
:where(dt) {
	display: var(--dt-d, block);
	font-weight: var(--dt-fw);
}
:where(figure) {
	display: var(--figure-d, block);
	margin-block: var(--figure-mab, 1em);
	margin-inline: var(--figure-mi, 40px);
}
:where(figcaption) {
	display: var(--figcaption-d, block);
}
:where(hr) {
	background: var(--hr-bg, none);
	block-size: var(--hr-bs, auto);
	border-color: var(--hr-bdc, initial);
	border-style: var(--hr-bds, inset);
	border-width: var(--hr-bdw, 1px);
	display: var(--hr-d, block);
	margin-block: var(--hr-mab, 0.5em);
	margin-inline: var(--hr-mi, auto);
	overflow: var(--hr-ov, hidden);
}
:where(li) {
	display: var(--li-d, list-item);
	text-align: var(--li-tal, inherit);
}
:where(li)::marker {
	color: var(--li-marker-c);
}
:where(menu) {
	display: var(--menu-d, block);
	list-style-type: var(--menul-list, disc);
	margin-block: var(--menu-mab, 1em);
	margin-inline: var(--menu-mi, 0px);
	padding-inline-start: var(--menu-pis, 40px);
}
:where(ol) {
	display: var(--ol-d, block);
	list-style-type: var(--ol-list, decimal);
	margin-block: var(--ol-mab, 1em);
	margin-inline: var(--ol-mi, 0px);
	padding-inline-start: var(--ol-pis, 40px);
}
:where(p) {
	display: var(--p-d, block);
	margin-block: var(--p-mab, 1em);
	margin-inline: var(--p-mi, 0px);
}
:where(pre) {
	background-color: var(--pre-bgc);
	color: var(--pre-c);
	font-size: var(--pre-fsz);
	margin-block: var(--pre-mab, 1em);
	margin-inline: var(--pre-mi, 0px);
	overflow-x: var(--pre-ovx, visible);
	padding-block: var(--pre-pab, 0px);
	padding-inline: var(--pre-pi, 0px);
	tab-size: var(--pre-ts, 8);
	white-space: var(--pre-whs, pre);
}
:where(ul) {
	display: var(--ul-d, block);
	list-style-type: var(--ul-list, disc);
	margin-block: var(--ul-mab, 1em);
	margin-inline: var(--ul-mi, 0px);
	padding-inline-start: var(--ul-pis, 40px);
}

/*
=======================
 INLINE TEXT SEMANTICS
=======================
*/
:where(a) {
	background: var(--a-bg);
	color: var(--a-c, LinkText);
	display: var(--a-d);
	text-decoration-color: var(--a-tdc);
	text-decoration-line: var(--a-tdl, underline);
	text-decoration-skip-ink: var(--a-tdsi, auto);
	text-decoration-style: var(--a-tds);
	text-decoration-thickness: var(--a-tdt);
	transition:
		var(--a-trsp, all)
		var(--a-trsdu, .3s)
		var(--a-trstf, ease-in-out);
}
:where(a:active) { color: var(--a-active-c, activetxt); }
:where(a:visited) { color: var(--a-visited-c, visitedtext); }

:where(abbr[title]) {
	cursor: var(--abbr-cur, default);
	text-decoration-color: var(--abbr-tdc, initial);
	text-decoration-line: var(--abbr-tdl, underline);
	text-decoration-style: var(--abbr-tds, dotted);
	text-decoration-thickness: var(--abbr-tdt, initial);
	text-underline-offset: var(--abbr-tuo, 1px);
}
:where(b) {
	font-weight: var(--b-fw, 700);
}
:where(cite) {
	--cite-before-cnt: '';
	display: var(--cite-d);
	font-size: var(--cite-fsz);
}
:where(cite)::before { content: var(--cite-before-cnt); }
:where(code) {
	background-color: var(--code-bgc);
	color: var(--code-c);
	display: var(--code-d, inline);
	font-family: var(--code-ff, monospace);
	font-size: var(--code-fsz, small);
	padding-block: var(--code-pb);
	padding-inline: var(--code-pi);
}
:where(dfn)	{
	font-style: var(--dfn-fs, italic);
	text-decoration-color: var(--dfn-tdc, initial);
	text-decoration-line: var(--dfn-tdl, unset);
	text-decoration-style: var(--dfn-tds, double);
	text-decoration-thickness: var(--dfn-tdt, 0px);
	text-underline-offset: var(--dfn-tuo, 2px);
}
:where(em)	{
	font-style: var(--em-fs, italic);
}
:where(i)	{
	font-style: var(--i-fs, italic);
}
:where(kbd) {
	font-family: var(--kbd-ff, ui-sans-serif, system-ui, sans-serif);
}
:where(mark) {
	background-color: var(--mark-bgc, mark);
	color: var(--mark-c, marktext);
	padding-block: var(--mark-pab, 0px);
	padding-inline: var(--mark-pi, 0px);
}
:where(q) {
	display: var(--q-d, inline);
}
:where(q)::after {
	content: var(--q-after-cnt, close-quote)
}
:where(q)::before {
	content: var(--q-before-cnt, open-quote)
}
:where(s) {
	text-decoration-color: var(--s-tdc, initial);
	text-decoration-line: var(--s-tds, line-through);
	text-decoration-style: var(--s-tds, initial);
	text-decoration-thickness: var(--s-tdt, initial);
}
:where(samp) {
	font-family: var(--samp-ff, ui-monospace, monospace);
}
:where(small) {
	color: var(--small-c, inherit);
	font-size: var(--small-fsz, smaller);
}
:where(strong) {
	font-weight: var(--strong-fw, bold);
}
:where(sub) {
	font-size: var(--sub-fz, smaller);
	vertical-align: var(--sub-va, sub);
}
:where(sup) {
	font-size: var(--sup-fz, smaller);
	vertical-align: var(--sup-va, super);
}
:where(time) {
	font-weight: var(--time-fw);
}
:where(u) {
	text-decoration-color: var(--u-tdc, initial);
	text-decoration-line: var(--u-tds, underline);
	text-decoration-style: var(--u-tds, initial);
	text-decoration-thickness: var(--u-tdt, initial);
}
:where(var) {
	background-color: var(--var-bgc);
	color: var(--var-c);
	display: var(--var-d, inline);
	font-style: var(--var-fs, italic);
	font-family: var(--var-ff, initial);
	font-size: var(--var-fs, initial);
	padding-block: var(--var-pb, 0px);
	padding-inline: var(--var-pi, 0px);
}

/*
======================
 IMAGE AND MULTIMEDIA
======================
*/
:where(audio) {
	block-size: var(--audio-bs, 54px);
	display: var(--audio-d);
	inline-size: var(--audio-is, 300px);
}

/*
audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button
*/

:where(img) {
	aspect-ratio: var(--img-ar, auto);
	block-size: var(--img-bs, auto);
	border-radius: var(--img-bdrs, inherit);
	display: var(--img-d);
	inline-size: var(--img-bs);
	max-inline-size: var(--img-mis, 100%);
}
:where(video) {
	aspect-ratio: var(--video-ar, auto);
	block-size: var(--video-bs, auto);
	border-radius: var(--video-bdrs, inherit);
	display: var(--video-d);
	inline-size: var(--video-bs);
	max-inline-size: var(--video-mis, 100%);
	object-fit: var(--video-of, contain);
	position: relative;
}
video::-webkit-media-controls-play-button {
	--video-play-hover-bgc: transparent; /* rgba(32, 33, 36, .71); */
	background-color: var(--video-play-bgc, rgba(32, 33, 36, 0));
	background-size: var(--video-play-bgsz, 20px);
	block-size: var(--video-play-bs, 3rem);
	border-radius: var(--video-play-bdrs, 50%);
	inline-size: var(--video-play-is, 3rem);
	inset-block-start: var(--video-ibs);
	inset-inline-start: var(--video-iis);
	position: var(--video-play-p, relative);
	translate: var(--video-tra);
	transition:
	var(--video-play-trsp, all)
	var(--video-play-trsdu, .3s)
	var(--video-play-trstf, ease-in-out);
}

@media (hover: hover) {
	video::-webkit-media-controls-play-button:hover {
		--video-play-bgc: var(--video-play-hover-bgc);
	}
}

/*
video::-webkit-media-controls-panel
video::-webkit-media-controls-play-button
video::-webkit-media-controls-volume-slider-container
video::-webkit-media-controls-volume-slider
video::-webkit-media-controls-mute-button
video::-webkit-media-controls-timeline
video::-webkit-media-controls-current-time-display
video::-webkit-full-page-media::-webkit-media-controls-panel
video::-webkit-media-controls-timeline-container
video::-webkit-media-controls-time-remaining-display
video::-webkit-media-controls-seek-back-button
video::-webkit-media-controls-seek-forward-button
video::-webkit-media-controls-fullscreen-button
video::-webkit-media-controls-rewind-button
video::-webkit-media-controls-return-to-realtime-button
video::-webkit-media-controls-toggle-closed-captions-button
*/

/*
==================
 EMBEDDED CONTENT
==================
*/
:where(iframe) {
	border-color: var(--iframe-bdc, initial);
	border-radius: var(--iframe-bdrs, 0px);
	border-style: var(--iframe-bds, inset);
	border-width: var(--iframe-bdw, 2px);
}
:where(portal) {
	border-color: var(--portal-bdc, initial);
	border-radius: var(--portal-bdrs, 0px);
	border-style: var(--portal-bds, inset);
	border-width: var(--portal-bdw, 2px);
}

/*
===================
 DEMARCATING EDITS
===================
*/
:where(del)	{
	color: var(--del-c);
	text-decoration-color: var(--del-tdc, initial);
	text-decoration-line: var(--del-tds, line-through);
	text-decoration-style: var(--del-tds, initial);
	text-decoration-thickness: var(--del-tdt, initial);
}
:where(ins)	{
	color: var(--ins-c);
	text-decoration-color: var(--ins-tdc, initial);
	text-decoration-line: var(--ins-tds, underline);
	text-decoration-style: var(--ins-tds, initial);
	text-decoration-thickness: var(--ins-tdt, initial);
}

/*
===============
 TABLE CONTENT
===============
*/
/* <table>, <thead>, <tbody>, <tfoot>, <tr>, <th>, <td>, <colgroup>, <col> */
:where(table) {
	border-collapse: var(--table-bdcl, separate);
	border-color: var(--table-bdc, gray);
	border-spacing: var(--table-bdsp, 2px);
	table-layout: var(--table-tbl, auto);
}
:where(td) {
	background-color: var(--td-bgc, initial);
	border-color: var(--td-bdc, none);
	border-style: var(--td-bds, solid);
	border-width: var(--td-bdw, 0px);
	color: var(--td-c, inherit);
	font-size: var(--td-fsz, inherit);
	padding-block: var(--td-pab, 1px);
	padding-inline: var(--td-pi, 1px);
	overflow: hidden;
	text-align: var(--td-tal, start);
	text-overflow: ellipsis;
	white-space: nowrap;
}
:where(th) {
	background-color: var(--th-bgc, initial);
	border-color: var(--th-bdc, none);
	border-style: var(--th-bds, solid);
	border-width: var(--th-bdw, 0px);
	color: var(--th-c, inherit);
	font-size: var(--th-fsz, inherit);
	font-weight: var(--th-fw, 700);
	padding-block: var(--th-pab, 1px);
	padding-inline: var(--th-pi, 1px);
	overflow: hidden;
	text-align: var(--th-tal, center);
	text-overflow: ellipsis;
	white-space: nowrap;
}
:where(caption) {
	display: var(--caption-d, table-caption);
	font-size: var(--caption-fsz);
	font-weight: var(--caption-fw);
	margin-block: var(--caption-mab);
	text-align: var(--caption-tal, center);
}
:where(col) {
	background-color: var(--col-bgc, transparent);
}

/*
=======
 FORMS
=======
*/
:where(
	button:not([role="menuitem"]),
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	) {
	align-items: var(--button-ai, flex-start);
	background: var(--button-bg, buttonface) border-box;
	border-color: var(--button-bdc, buttonborder);
	border-radius: var(--button-bdrs, .25em);
	border-style: var(--button-bds, solid);
	border-width: var(--button-bdw, 1px);
	box-shadow: var(--button-bxsh, none);
	color: var(--button-c, buttontext);
	cursor: var(--button-cur, default);
	display: var(--button-d, inline-flex); /* inline-block */
	font-family: var(--button-ff, system-ui);
	font-size: var(--button-fsz, small);
	font-weight: var(--button-fw);
	justify-content: var(--button-jc);
	letter-spacing: var(--button-lts, normal);
	line-height: var(--button-lh, initial);
	margin: var(--button-m, 0em);
	padding-block: var(--button-pab, 2px);
	padding-inline: var(--button-pi, 7px);
	text-align: var(--button-ta, center);
	text-shadow: var(--button-tsh);
	text-transform: var(--button-tt);
	transition:
		var(--button-trsp, all)
		var(--button-trsdu, .3s)
		var(--button-trstf, ease-in-out);
	user-select: var(--button-us, none);
	word-spacing: var(--button-wos, normal);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
@media (hover: hover) {
	button:not(:disabled):hover {
	--button-bdc: var(--button-hover-bdc, blue);
	--button-bg: var(--button-hover-bg, lightgrey);
	--button-bxsh-sz: var(--button-hover-bxsh-sz);
	--button-c: var(--button-hover-c);
 }
}

:where(fieldset) {
	background: var(--fieldset-bg);
	block-size: var(--fieldset-bs, auto);
	display: var(--fieldset-d, block);
	border-color: var(--fieldset-bdc, bordercolor);
	border-radius: var(--fieldset-bdrs, 0px);
	border-style: var(--fieldset-bds, groove);
	border-width: var(--fieldset-bdw, 2px);
	color: var(--fieldset-c, inherit);
	inline-size: var(--fieldset-is, auto);
	margin-inline: var(--fieldset-mi, 2px);
	min-inline-size: var(--fieldset-min, min-content);
	padding-block: var(--fieldset-pab, 0.35em 0.625em);
	padding-inline: var(--fieldset-pi, 0.75em);
}
:where(label) {
	color: var(--label-c, inherit);
	display: var(--label-d, inline);
	font-size: var(--label-fsz, initial);
	position: relative;
	inline-size: var(--label-is, auto);
}

:where(legend) {
	background-color: var(--legend-bg, transparent);
	border-radius: var(--legend-bdrs, 0);
	color: var(--legend-c, inherit);
	font-size: var(--legend-fsz, initial);
	inline-size: var(--legend-is, max-content);
	padding-block: var(--legend-pab, 0px);
	padding-inline: var(--legend-pi, 2px);
}

:where(input, select, textarea) {
	--input-ap: auto;
	-moz-appearance: var(--input-ap);
	-webkit-appearance: var(--input-ap);
	accent-color: var(--color-accent, rgb(0, 117, 255));
	appearance: var(--input-ap);
	background: var(--input-bg, field);
	block-size: var(--input-bs, auto);
	border-color: var(--input-bdc, buttonborder);
	border-radius: var(--input-bdrs, 0em);
	border-style: var(--input-bds, solid);
	border-width: var(--input-bdw, 1px);
	color: var(--input-c, fieldtext);
	display: var(--input-d, inline-block);
	font-family: var(--input-ff, sans-serif);
	font-size: var(--input-fsz, small);
	inline-size: var(--input-is, auto);
	line-height: var(--input-lh, normal);
	margin-block: var(--input-mab, 0em);
	margin-inline: var(--input-mi, 0em);
	max-inline-size: var(--input-mis, auto);
	padding-block: var(--input-pab, 1px);
	padding-inline: var(--input-pi, 2px);
	position: var(--input-pos, relative);
	text-align: var(--input-tal, inherit);
}

:where(output) {
	font-size: var(--output-fsz, 0.625em);
	position: var(--output-pos, static);
}

:where(textarea) {
	resize: var(--textarea-rsz, auto);
}


/* TODO! */
:where(input[type="range"]) {
	--input-range-track-c: grey;
	--input-range-trach-h: 1em;
	--input-range-thumb-bdrs: 50%;
	--input-range-thumb-bgc: cornflowerblue;
	--input-range-thumb-h: 1em;
	--input-range-thumb-w: 1em;
}

:where(progress) {
	/* background-color: var(--progress-bgc, none); */
	block-size: var(--progress-bs, 1em);
	/* border: var(--progress-bd, initial); */
	/* border-radius: var(--progress-bdrs); */
	display: var(--progress-d, inline-block);
	inline-size: var(--progress-is, 10em);
	position: var(--progress-pos, relative);
}

/*
======================
 INTERACTIVE ELEMENTS
======================
*/
:where(details) {
	display: var(--details-d, block);
}
:where(summary) {
	display: var(--summary-d, list-item);
	font-weight: var(--summary-fw);
	list-style-position: var(--summary-lisp, inside);
	list-style-type: var(--summary-list--close, disclosure-closed);
}
:where(details[open] > summary) {
	list-style-type: var(--summary-list--open, disclosure-open);
}
:where(dialog) {
	background-color: var(--dialog-bgc, canvas);
	block-size: var(--dialog-bs, fit-content);
	border-color: var(--dialog-bdc, initial);
	border-style: var(--dialog-bds, solid);
	border-width: var(--dialog-bdw, initial);
	color: var(--dialog-c, canvastext);
	inline-size: var(--dialog-is, fit-content);
	inset-inline-start: var(--dialog-iis, 0px);
	inset-inline-end: var(--dialog-iie, 0px);
	margin: var(--dialog-m, auto);
	padding: var(--dialog-p, 1em);
	position: var(--dialog-pos, absolute);
}
:where(dialog:not([open])) {
	display: var(--dialog-d, none);
}
dialog::backdrop {
	background: var(--dialog-backgdrop, rgba(0, 0, 0, 0.1));
}

/*
====================
 COLOR-SCHEME: DARK
====================
*/
@media (prefers-color-scheme: dark) {
	:where(button) {
		/* ButtonFace DARK */
		--button-bg: var(--button-bg-dark, tomato);
		/* --button-c: var(--button-c-dark, tan); */
		/* HOVER ETC */
	}
}