/*
-----------------
 Utility Classes 
-----------------
*/

/* Aspect Ratio */
.ar-auto { aspect-ratio: auto; }
.ar-golden { aspect-ratio: 1.6180 / 1; }
.ar-landscape { aspect-ratio: 4 / 3; }
.ar-photo { aspect-ratio: 3 / 2; }
.ar-panorama { aspect-ratio: 10 / 1; }
.ar-portrait { aspect-ratio: 3 / 4; }
.ar-square { aspect-ratio: 1 / 1; }
.ar-ultrawide { aspect-ratio: 18 / 5; }
.ar-universal { aspect-ratio: 2 / 1; }
.ar-widescreen { aspect-ratio: 16 / 9; }

/* Border Radius */
.bdrs-xs { border-radius: 0.125rem; }
.bdrs-sm { border-radius: 0.25rem; }
.bdrs-md { border-radius: 0.5rem; }
.bdrs-lg { border-radius: 1rem; }
.bdrs-xl { border-radius: 2rem; }
.bdrs-circle { border-radius: 50%; }

/* Color Scheme */
.cs-dark { color-scheme: dark; }
.cs-light { color-scheme: light; }

/* Font Sizes */
.fs-xxs { font-size: xx-small; }
.fs-xs { font-size: x-small; }
.fs-sm { font-size: small; }
.fs-md { font-size: medium; }
.fs-lg { font-size: large; }
.fs-xl { font-size: x-large; }
.fs-xxl { font-size: xx-large; }

/* TODO: NEW NAME-classes Gradients */
.--blue-green {
	--ui-gradient: #0077ff, #00e7df, #0077ff;
	&:is(.--grow, .--shrink) { --ui-gradient: #0077ff, #0077ff; }
}
.--rainbow {
	--ui-gradient-bgsz-x: 120%;
	--ui-gradient: #ff3e41, #ff8a43, #ffeb7f, #00c9a7, #007ea7, #ff3e41;
}
.--red-orange {
	--ui-gradient: #ff1834, #ffc900, #ff1834;
	&:is(.--grow, .--shrink) { --ui-gradient: #ff1834, #ff1834; }
}
.--violet-pink {
	--ui-gradient: #7f00de, #ff007e, #7f00de;
}

/* Colors */
[class*="bg-"] {
	background-color: var(--button-bg);
	color: var(--button-c);
	&.--light {
		background: color-mix(in srgb, var(--button-bg), Canvas 80%);
		color: var(--button-bg);
		&:hover { background-color: var(--button-bg); color: #FFF; }
	}
}
.bg-accent, input[type=file]::file-selector-button, [type=submit] {
	--button-bg: var(--AccentColor);
	--button-c: var(--AccentColorText);
	&.--outline { color: var(--AccentColor); &:hover { color: var(--AccentColorText); } }
}
.bg-black { --button-bg: var(--CanvasText); --button-c: Canvas;
	&.--outline { color: CanvasText; &:hover { color: Canvas; } }
}
.bg-error { --button-bg: var(--ColorError); --button-c: #FFF; }
.bg-gray {
	--button-bg: var(--GrayCanvas); --button-c: var(--CanvasText);
	&.--outline { color: var(--GrayText); &:hover { color: var(--CanvasText); } }
}
.bg-info { --button-bg: var(--ColorInfo); --button-c: #FFF; }
.bg-success { --button-bg: var(--ColorSuccess); --button-c: #FFF; }
.bg-warning { --button-bg: var(--ColorWarning); --button-c: #FFF; }