@layer bs-core {
	:root {
		--_dg: 100deg;
		--_tx: 55px;
		--_ty: 110px;
		--_zi: 0.6;
		--_zo: 1.2;
	}

	/* Bounce */
	@keyframes bounce-in {
		0% { opacity: 0; scale: 0.3 }
		50% { scale: 1.05; }
		70% { scale: 0.9; }
		100% { opacity: 1; scale: 1; }
	}
	@keyframes bounce-in-left {
		0% { opacity: 0; translate: -100vw 0; }
		60% { translate: 5vw 0; }
		80% { translate: -2.5vw 0; }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes bounce-in-right {
		0% { opacity: 0; translate: 100vw 0; }
		60% { translate: -5vw 0; }
		80% { translate: 2.5vw 0; }
		100% { opacity: 1; translate: 0; }
	}

	/* Fade */
	@keyframes fade-down {
		0% { opacity: 0; translate: 0px calc(-1 * var(--_ty)); }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-down-left {
		0% { opacity: 0; translate: calc(-1 * var(--_tx)) calc(-1 * var(--_ty)); }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-down-right {
		0% { opacity: 0; translate: var(--_tx) calc(-1 * var(--_ty)); }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-in {
		0%, 20% { opacity: 0; }
		100% { opacity: 1; }
	}
	@keyframes fade-left {
		0% { opacity: 0; translate: calc(-1 * var(--_tx)) 0px; }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-out {
		0% { opacity: 1; }
		100% { opacity: 0; }
	}
	@keyframes fade-right {
		0% { opacity: 0; translate: var(--_tx) 0px; }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-up {
		0% { opacity: 0; translate: 0px var(--_ty); }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-up-left {
		0% { opacity: 0; translate: calc(-1 * var(--_tx)) var(--_ty); }
		100% { opacity: 1; translate: 0; }
	}
	@keyframes fade-up-right {
		0% { opacity: 0; translate: var(--_tx) var(--_ty); }
		100% { opacity: 1; translate: 0; }
	}

	/* Flip */
	@keyframes flip-down {
		0% { backface-visibility: hidden; transform: perspective(2500px) rotateX(var(--_dg)); }
		100% { transform: perspective(2500px) rotateX(0); }
	}
	@keyframes flip-left {
		0% { backface-visibility: hidden; transform: perspective(2500px) rotateY(calc(0deg - var(--_dg))); }
		100% { transform: perspective(2500px) rotateY(0); }
	}
	@keyframes flip-right {
		0% { backface-visibility: hidden; transform: perspective(2500px) rotateY(var(--_dg)); }
		100% { transform: perspective(2500px) rotateY(0); }
	}
	@keyframes flip-up {
		0% { backface-visibility: hidden; transform: perspective(2500px) rotateX(calc(0deg - var(--_dg))); }
		100% { transform: perspective(2500px) rotateX(0); }
	}

	/* Reveal */
	@keyframes reveal {
		0% { opacity: 0; clip-path: inset(45% 20% 45% 20%); }
		100% { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
	}
	@keyframes reveal-circle {
		0% { opacity: 0; clip-path: circle(0% at 50% 50%); }
		100% { opacity: 1; clip-path: circle(100% at 50% 50%);  }
	}
	@keyframes reveal-polygon {
		0% { opacity: 0; clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%) }
		100% { opacity: 1; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
	}

	/* Slide */
	@keyframes slide-in {
		0% { translate: -100vw 0; }
		100% { translate: 0; }
	}
	@keyframes slide-out {
		0% { translate: 0; }
		100% { translate: 100vw 0; }
	}

	/* Zoom */
	@keyframes zoom-in {
		0% { opacity: 0; scale: var(--_zi); }
		100% { opacity: 1; scale: 1; }
	}
	@keyframes zoom-out {
		0% { opacity: 0; scale: var(--_zo); }
		100% { opacity: 1; scale: 1; }
	}

	/* === CLASSES === */

	/* animation-name */
	.an-bounce-in { --animn: bounce-in; }
	.an-bounce-in-left { --animn: bounce-in-left; }
	.an-bounce-in-right { --animn: bounce-in-right; }
	.an-fade-down { --animn: fade-down; }
	.an-fade-down-left { --animn: fade-down-left; }
	.an-fade-down-right { --animn: fade-down-right; }
	.an-fade-in { --animn: fade-in; }
	.an-fade-left { --animn: fade-left; }
	.an-fade-out { --animn: fade-out; }
	.an-fade-right { --animn: fade-right; }
	.an-fade-up { --animn: fade-up; }
	.an-fade-up-left { --animn: fade-up-left; }
	.an-fade-up-right { --animn: fade-up-right; }
	.an-flip-down { --animn: flip-down; }
	.an-flip-left { --animn: flip-left; }
	.an-flip-right { --animn: flip-right; }
	.an-flip-up { --animn: flip-up; }
	.an-reveal { --animn: reveal; }
	.an-reveal-circle { --animn: reveal-circle; }
	.an-reveal-polygon { --animn: reveal-polygon; }
	.an-slide-in { --animn: slide-in; }
	.an-slide-out { --animn: slide-out; }
	.an-zoom-in { --animn: zoom-in; }
	.an-zoom-out { --animn: zoom-out; }

	/* animation-range */
	.ar-contain { --animrs: entry 0%; --animre: contain 50%; }
	.ar-cover { --animrs: entry 25%; --animre: cover 50%; }
	.ar-exit { --animrs: exit 0%; --animre: exit 100%; }

	@supports (view-transition-name: none) {	
		:where([class*="an-"]) {
			animation:
				var(--animn)
				var(--animtm, linear)
				var(--animfm, forwards);
			animation-timeline: var(--animtl, view());
			animation-range: var(--animrs, entry 0%) var(--animre, entry 90%);
		}
	}
}