/* TODO: Extras: Background Icons */
a[target="_blank"] {
  --mixin-icon-after: true;
  --icon: url('/assets/svg/external-link.svg');
  &:dir(rtl) { --icon-flip: -1 1; }
  display: inline-flex;
}

/* Background Icons */
label:has(input:not([type=checkbox],[type=color],[type=radio],[type=range])) {
	--mixin-background-icon: true;
}
label:has(select:not([size])) {
  --mixin-background-icon: true;
  --icon: url('/assets/svg/chevron-down.svg');
}
label:has([type=email]) { --icon: url('/assets/svg/email.svg'); }
label:has([type=datetime-local]) { --icon: url('/assets/svg/calendar.svg'); }
label:has([type=month]) { --icon: url('/assets/svg/week.svg'); }
label:has([type=number]) { --icon: url('/assets/svg/numbers.svg'); }
label:has([type=password]) { --icon: url('/assets/svg/lock.svg'); }
label:has([type=tel]) {  --icon: url('/assets/svg/phone.svg'); }
label:has([type=time]) { --icon: url('/assets/svg/time.svg'); }
label:has([type=url]) { --icon: url('/assets/svg/link.svg'); }