@layer bs-core {

	@keyframes grow {
		from {
			transform: scaleX(0);}
		to {
			transform: scaleX(1);
		}
	}

	@keyframes shrink {
		from {
			transform: scaleX(1);}
		to {
			transform: scaleX(0);
		}
	}

	@keyframes reveal {
		from {
			opacity: 0;
			clip-path: inset(45% 20% 45% 20%);
		}
		to {
			opacity: 1;
			clip-path: inset(0% 0% 0% 0%);
		}
	}
	.sd {
		/* animation-timeline: scroll(); */
	}

	.sd-grow {
		animation: reveal linear forwards;
		animation-timeline: view();
	}
}