:where(.ui-range-mask) {
	container-type: inline-size;
	max-inline-size: 320px;
	touch-action: none;
	& span {
		--_mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100"><path d="M300 100L0 100C0 100 20.0515 77.2398 29.8941 65.2885C39.9837 53.0368 49.2349 28.5548 59.7782 27.3314C69.3258 26.2237 79.854 52.1535 89.8539 52.1229C99.8538 52.0924 109.884 35.7589 119.778 27.1483C129.834 18.3966 140.159-0.362687 150 0C160.172 0.374659 169.326 22.4434 179.79 31.2927C189.443 39.4563 199.741 51.3797 209.853 51.7567C219.748 52.1257 230.119 33.3093 239.8 34.3552C250.174 35.4768 260.232 51.0771 269.882 61.3104C280.366 72.4283 300 100 300 100Z"/></svg>');
		--_x: calc(100% * (var(--value) - var(--min, 0)) / (var(--max, 100) - var(--min, 0)));
		aspect-ratio: var(--ui-range-mask-asr, 3 / 1);
		background-image: linear-gradient(to var(--_dir, right), var(--AccentColor) var(--_x, 0), var(--ButtonFace) 0 var(--_x));
		mask: var(--_mask);
		-webkit-mask: var(--_mask);
	}
	&::after {
		color: #FFF;
		counter-reset: val var(--value);
		content: counter(val) "%";
		font-size: 200%;
		font-weight: 700;
		mix-blend-mode: difference;
		translate: 0 1em;
		place-self: center;
		position: absolute;
	}
}