details {
	&:has([data-remove]) summary::after { content: ' *'; color: var(--web-config-accent-dark); }
	&:not(:has(:checked)):not(:has(pre)) { display: none; }
}

label:has(input[data-directive]) {
	background: var(--csp-manager-remove-bg, hsl(0, 85%, 40%));
	border-radius: 10ch;
	color: var(--csp-manager-remove-c, hsl(0, 85%, 950%));
	font-size: small;
	justify-self: start;
	padding: .75ch 2.5ch;
	&:focus-within { box-shadow: inset 0 0 0 2px var(--csp-manager-remove-bg, hsl(0, 85%, 30%)); outline: 0; }
}

/* Evaluation styles */
/* details[data-status="danger"] { border-color: var(--web-config-status-danger); }
details[data-status="warn"] { border-color: var(--web-config-status-warn); }
details[data-status="ok"] { border-color: var(--web-config-status-ok); } */

.eval-findings {
	display: grid;
	gap: calc(var(--web-config-gap) / 2);
	margin-block: var(--web-config-gap);
}

.eval-finding {
	border-inline-start: 3px solid;
	display: block;
	padding: 1ch 2ch;
	font-size: small;
	border-radius: calc(var(--web-config-bdrs) / 2);
	margin: unset;
}


.eval-finding[data-status="danger"] {
	background: var(--web-config-status-danger-bg);
	border-color: var(--web-config-status-danger);
	color: var(--web-config-status-danger);
}

.eval-finding[data-status="warn"] {
	background: var(--web-config-status-warn-bg);
	border-color: var(--web-config-status-warn);
	color: var(--web-config-status-warn);
}

.eval-finding[data-status="ok"] {
	background: var(--web-config-status-ok-bg);
	border-color: var(--web-config-status-ok);
	color: var(--web-config-status-ok);
}

.eval-finding strong {
	display: block;
	margin-block-end: 0.5ch;
	color: inherit;
}

.eval-finding em {
	display: block;
	font-style: normal;
	color: color-mix(in srgb, currentColor 70%, black);
	margin-block-start: 0.5ch;
}
