@media (min-width: 380px) {
	lay-out[sm="autofill"] { 
		--layout-gtc: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
	lay-out[sm="autofit"] { 
		--layout-gtc: repeat(auto-fit, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
}
