@import '../icon/index.css';
@layer bs-component {
	:where(.ui-card-expand) {
		--_scale: 1 0;
		background-color: var(--AccentColor);
		border: 0;
		border-radius: var(--input-bdrs);
		color: var(--AccentColorText);
		height: anchor-size(height);
		inset-block: anchor(start);
		inset-inline: anchor(start);
		transform-origin: 0% 0%;
		transition: 
			display .25s allow-discrete, 
			overlay .25s allow-discrete, 
			opacity .25s,
			scale .25s;
		width: calc(anchor-size(width) + 1px);

		@starting-style {
			&:popover-open{
				scale: var(--_scale);
			}
		}
		&[popover]:not(:popover-open) { 
			scale: var(--_scale);
		}
		&:popover-open {
			opacity: 1;
		}
		&.--bottom {
			transform-origin: 0% 100%;
		}
		&.--left {
			--_scale: 0 1;
			inset-inline: auto anchor(start);
			transform-origin: 100% 0%;
		}
		&.--right {
			--_scale: 0 1;
			inset-inline: anchor(end);
		}
		&.--left, &.--right {
			&::backdrop {
				background: #0000;
				transition: 
					overlay .25s allow-discrete, 
					background .25s;
			}
			&:popover-open::backdrop {
				background-color: #0003;
			}
		}

		[popovertargetaction="hide"] {
			background-color: #0000;
			border: 1px solid;
			inset-block-start: 1ch;
			inset-inline-end: 1ch;
			margin: 0;
			position: absolute;
		}
	}
}