@import "../icon/ui-icon-svg.css";
:where(.ui-toolbar) {
	--ui-toolbar-bdw: 1px;
	--button-bg: Canvas;
	--button-p: .5ch;
	--icon-sz: 1.75em;
	--input-bdrs: 0;

	display: flex;
	gap: var(--ui-toolbar-group-gap, 2ch);

	& fieldset {
		all: unset;
		background: var(--ButtonBorder);
		display: inline-flex;
		gap: var(--ui-toolbar-bdw);
		padding: var(--ui-toolbar-bdw);
	}
	& svg { pointer-events: none; }
}