/* requires ui-scroll.css */
@import url("../icon/index.css");
@layer bs-component {
	:where(.ui-text-slider) {
		--ui-scroll-gap: 2ch;
		& .ui-scroll > * {
			align-self: center;
			text-align: center;
		}
	}
}