@layer layout.base {
	lay-out {
		--layout-bg: attr(background type(<color>), #0000);
		--layout-bleed: attr(bleed type(<number>), 0);
		--layout-c: attr(color type(<color>), inherit);
		--layout-colmg: attr(col-gap type(<length> | <percentage>), 0);
		--layout-gtc: attr(columns type(<length> | <custom-ident>), 1fr);
		--layout-gtr: attr(rows type(<length> | <custom-ident>), auto);
		--layout-mw: attr(max-width type(<length> | <percentage>), 100cqi);
		--layout-p: attr(padding type(<length> | <percentage>), 0);
		--layout-rg: attr(row-gap type(<length> | <percentage>), var(--layout-colmg));
		
		background: var(--layout-bg);
		color: var(--layout-c);
		column-gap: var(--layout-colmg);
		contain: layout inline-size;
		display: grid;
		grid-auto-flow: row dense;
		grid-template-columns: var(--layout-gtc);
		grid-template-rows: var(--layout-gtr);
		margin-inline: auto;
		max-inline-size: var(--layout-mw);
		padding: var(--layout-p);
		row-gap: var(--layout-rg);
		width: 100%;

		& > * { grid-area: var(--_ga, var(--layout-ga, auto)); }

		&[size] {
			--_sz: attr(size type(<length> | <custom-ident>), auto);
			content-visibility: auto;
			contain-intrinsic-size: var(--_sz);
		}
	
		&[bleed] {
			--_pi: calc((100cqi - var(--layout-bleed-mw, 100cqi)) / 2);
			margin-inline: min(-1 * var(--layout-mi, 0), var(--layout-bleed-mw, 100cqi) / 2 - 50cqi);
		}
		&[bleed]:not([bleed="0"]) {
			--_S: calc(1 + (var(--layout-bleed) / 100));
  		--_E: calc(1 - (var(--layout-bleed) / 100));
			padding-inline: 
				max(var(--layout-p, 0), var(--_pi) * var(--_S, 1))
				max(var(--layout-p, 0), var(--_pi) * var(--_E, 1));
		}
	}
	/*
		If you use bleed, you must set `--layout-mi` and `--layout-bleed-mw`
		and wrap a container around the layout, with a `data-layout-wrapper` attribute
	*/
	[data-layout-wrapper] {
		margin-inline: max(var(--layout-mi, 0), 50cqw - var(--layout-bleed-mw, 100cqw) / 2);
	}
}

@layer layout.reset {
	lay-out {
		--_ga: initial;
		& > * {
		 	--layout-ga: auto;
		}
	}
}
