@layer layout.base {
	lay-out {
		--layout-spacing-unit: 1rem;

		--layout-bleed: attr(bleed type(<number>), 0);
		--layout-colmg: attr(col-gap type(<number>), 1);
		--layout-gtc: attr(columns type(<length> | <custom-ident>), 1fr);
		--layout-gtr: attr(rows type(<length> | <custom-ident>), auto);
		--layout-mbe: attr(bottom type(<number>), 0);
		--layout-mbs: attr(top type(<number>), 0);
		--layout-mw: attr(max-width type(<length> | <percentage>), 100vw);
		--layout-pbe: attr(pad-b type(<number>), 0);
		--layout-pbs: attr(pad-t type(<number>), 0);
		--layout-pi: attr(pad-h type(<number>), 0);
		--layout-rg: attr(row-gap type(<number>), 1);

		background: var(--layout-bg, #0000);
		box-sizing: border-box;
		color: var(--layout-c, inherit);
		column-gap: calc(var(--layout-colmg) * var(--layout-spacing-unit));
		contain: layout inline-size;
		display: grid;
		grid-auto-flow: row dense;
		grid-template-columns: var(--layout-gtc);
		grid-template-rows: var(--layout-gtr);
		margin-block-start: calc(var(--layout-mbs) * var(--layout-spacing-unit));
		margin-block-end: calc(var(--layout-mbe) * var(--layout-spacing-unit));
		margin-inline: auto;
		max-inline-size: var(--layout-mw);
		padding-block-end: calc(var(--layout-pbe) * var(--layout-spacing-unit));
		padding-block-start: calc(var(--layout-pbs) * var(--layout-spacing-unit));
		padding-inline: calc(var(--layout-pi) * var(--layout-spacing-unit));
		row-gap: calc(var(--layout-rg) * var(--layout-spacing-unit));
		width: var(--layout-w, 100%);

		& > *:not(lay-out) { grid-area: var(--_ga, var(--layout-ga, auto)); }
		& > lay-out { width: 100%; }

		&[size] {
			--_sz: attr(size type(<length> | <custom-ident>), auto);
			content-visibility: auto;
			contain-intrinsic-size: var(--_sz);
		}

		/* bleed */
		&[bleed] {
			--layout-w: calc(100vw - var(--layout-mi, 0));
			--_pi: calc((100vw - var(--layout-bleed-mw, 100vw)) / 2);
			margin-inline: min(-1 * var(--layout-mi, 0), var(--layout-bleed-mw, 100vw) / 2 - 50vw);
		}
		&[bleed]:not([bleed="0"]) {
			--_s: calc(1 + (var(--layout-bleed) / 100));
			--_e: calc(1 - (var(--layout-bleed) / 100));
			padding-inline: 
				max(calc(var(--layout-pi) * var(--layout-spacing-unit)), var(--_pi) * var(--_s, 1))
				max(calc(var(--layout-pi) * var(--layout-spacing-unit)), var(--_pi) * var(--_e, 1));
		}
		&[bleed][width] { --_pi: calc((100vw - var(--_mi)) / 2); }

		/* themes */
		&[theme="primary"] {
			--layout-bg: var(--layout-primary-bg, #0000);
			--layout-c: var(--layout-primary-c, inherit);
		}
		&[theme="secondary"] {
			--layout-bg: var(--layout-secondary-bg, #0000);
			--layout-c: var(--layout-secondary-c, inherit);
		}
		&[theme="tertiary"] {
			--layout-bg: var(--layout-tertiary-bg, #0000);
			--layout-c: var(--layout-tertiary-c, inherit);
		}

		/* width */
		&[width]:not([bleed]) { max-inline-size: var(--_mi); }
		&[width="xs"]  { --_mi: var(--layout-width-xs,  20rem); }
		&[width="sm"]  { --_mi: var(--layout-width-sm,  30rem); }
		&[width="md"]  { --_mi: var(--layout-width-md,  48rem); }
		&[width="lg"]  { --_mi: var(--layout-width-lg,  64rem); }
		&[width="xl"]  { --_mi: var(--layout-width-xl,  80rem); }
		&[width="xxl"] { --_mi: var(--layout-width-xxl, 96rem); }
	}
}

@layer layout.reset {
	lay-out {
		--_ga: initial;
		& > * {
		 	--layout-ga: auto;
		}
	}
}

/*
	If you use bleed, you must set `--layout-mi` and `--layout-bleed-mw`
	and wrap a container around the layout, with a `data-layout-wrapper` attribute
*/
/* [data-layout-wrapper] {
	margin-inline: max(var(--layout-mi, 0), 50vw - var(--layout-bleed-mw, 100vw) / 2);
} */