<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>color-picker</title>
	<meta charset="UTF-8">
	<link rel="preload" href="/css/styles.css" as="style">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: avatar">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/tags/input.range.css">
	<link rel="stylesheet" href="/css/components/xy.css">
	<link rel="stylesheet" href="color-picker.css">
	<meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'sha256-nPtDwmNB3QBoYNOxR+bhvm/e9XL87MP97gEzzShWTQo=';
		style-src 'self' 'unsafe-inline';
	">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>

		<h1 class="bs-header">browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr>
		<section>
			<h2>color-picker</h2>
			<p>Requires <code>xy</code></p>

			<fieldset data-bs="color-picker">
				<fieldset data-bs="xy" name="cpBackground">
					<div class="brightness"></div>
					<div class="saturation"></div>
					<button type="button" name="xyPoint" aria-label="Point in cartesian coordinate system"></button>
				</fieldset>
				<fieldset name="cpControls">
					<label aria-label="Hue Slider">
						<input type="range" data-blok="range" name="cpHue" max="360" value="0">
					</label>
					<label aria-label="Alpha Transparency Slider">
						<input type="range" data-blok="range" name="cpAlpha" min="0" max="1" step="0.01" value="1">
					</label>
					<output name="cpPreview"></output>
				</fieldset>
				<label><textarea name="cpClipboard" tabindex="-1" aria-hidden="true" hidden></textarea></label>
				<fieldset name="cpColorCodes">
					<output name="cpHSL"></output>
					<output name="cpRGB"></output>
					<output name="cpHEX"></output>
				</fieldset>
			</fieldset>

	</main>
	<script src="/main.js" defer></script>
	<script type="module">
		import colorPicker from'/assets/js/color-picker.js';

		const elm = document.querySelector(`[data-bs="color-picker"]`);
		colorPicker(elm);
		// elm.addEventListener('xytoggle', () => { elm.classList.toggle('xy-toggle') });
		// elm.addEventListener('xymove', (e) => {
		// 	const obj = e.detail;
		// 	elm.firstElementChild.textContent = `x:${obj.x.toFixed(3)} y:${obj.y.toFixed(3)}`;
		// });
		// xy(elm);
	</script>
</body>
</html>