@import '../icon/index.css';
@import '../swap/ui-swap.css';
:where(.ui-slideshow) {
	--ui-slideshow-items: 10; /* Set this from JS on the main wrapper = number of child-nodes */
	--ui-slideshow-animdur: 2s;

	aspect-ratio: 16 / 9;
	container-type: inline-size;
	display: grid;
	& figure {
		animation:
			calc(var(--ui-slideshow-items, 1) * var(--ui-slideshow-animdur)) linear
			calc((var(--_index, 0) * var(--ui-slideshow-animdur)))
			infinite normal  var(--_animps, running) slideshow;
		aspect-ratio: inherit;
		display: grid;
		grid-area: 1 / -1;
		margin: 0;
		opacity: 0;
		z-index: 0;
	}
	& figcaption, & img, & label { grid-area: 1 / -1; }
	& figcaption {
		color: hsla(0 100% 100% / .8);
		font-size: 8cqi;
		font-weight: 900;
		margin: .33ch .99ch;
		place-self: start end;
		text-transform: uppercase;
		&.--end-center { place-self: end center; }
		&.--end-end { place-self: end end; }
		&.--end-start { place-self: end start; }
		&.--start-center { place-self: start center; }
		&.--start-start { place-self: start start; }
	}
	& img { 
		aspect-ratio: inherit;
		object-fit: cover;
		width: 100%;	
	}
	&:has(input:checked) { --_animps: paused; }
	& label {
		opacity: 0;
		place-self: center;
		z-index: calc(var(--ui-slideshow-items) + 1);
		&:has(input:checked),
		&:has(input:focus-visible) { opacity: 1; }
	}
	&:hover label { opacity: 1; }
}
@keyframes slideshow {
	0.1% { opacity: 0; z-index: calc(0 + var(--ui-slideshow-items, 1)); }
	5% { opacity: 1 }
	50% { opacity: 1 }
	100% { opacity: 0; z-index: 0; }
}