/**
 * Button Group
 * @param {color}  --_accent - accent color
 * @param {length} --_bdrs - border-radius
 * @param {length} --_bdw - border-width
 * @param {string} --_gaf - grid-auto-flow
 * @param {length} --_lbl-bdrs - label border-radius
 * @param {color}  --_lbl-c - label color
 * @param {color}  --_lbl-c-dm - label color in dark mode
 * @param {color}  --_lbl-c-checked - label color when checked
 * @param {length  --_lbl-gap - label gap
 * @param {length} --_lbl-p - label padding
 * @param {length} --_p - padding
 * @description Button Group
 */

 /*
Global font styles

accent-color
accent-color-text

border-color
border-width
focus
hover
gap
input padding 
 */

:where(input[type=checkbox]) {
	--_mask: var(--icon-check) no-repeat center / 75%;
	--_sz: 4em;

	appearance: none;
	border: 1px solid var(--color-gray-5);
	border-radius: var(--_bdrs, 0.25em);
	font-size: inherit;
	height: var(--_sz);
	margin: unset;
	position: relative;
	width: var(--_sz); 

	&:checked {
		background: cornflowerblue;

		&::after {
			background: white;
			content: '';
			display: block;
			inset: 0;
			mask: var(--_mask);
			-webkit-mask: var(--_mask);
			position: absolute;
		}
	}
}

@media (prefers-color-scheme: dark) {
	/* :is(fieldset[data-uic~="button-group"]) {
		--_accent: var(--_accent-dm);
		--_lbl-c: var(--_lbl-c-dm, inherit);
		--_lbl-c-checked: var(--_lbl-c-checked-dm, var(--color-gray-9));
	} */
}