	html {
		interpolate-size: allow-keywords;
		--layout-primary-bg: hsl(220, 20%, 95%);
		--layout-primary-c: hsl(220, 100%, 20%);
		--layout-secondary-bg: hsl(120, 50%, 95%);
		--layout-secondary-c: hsl(120, 50%, 20%);
		--layout-tertiary-bg: #FFE7E0;
	}
	body {
		display: grid;
		margin-block: 1rem;
		row-gap: 1rem;
	}
		
		main {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
			gap: 1rem;
			padding: 1rem;
		}

		.primary {  --cc-bg: var(--layout-primary-bg); }
		.secondary { --cc-bg: var(--layout-secondary-bg); }

		article-card[content*="spot"] { --cc-bdrs: .5rem; }
		lay-out[overflow] { --layout-scrollbar-c: #0002 #0000; }