@layer bs-component {
	:where(.ui-underline) {
		background: linear-gradient(
		var(--ui-gradient-dir, 90deg),
		var(--ui-gradient, var(--AccentColor), var(--Highlight), var(--AccentColor))) repeat-x 
		0% var(--ui-gradient-bgpy, 90%) / 
		var(--ui-gradient-bgsz-x, 150%) var(--ui-gradient-bgsz-y, 10%);
		display: inline; /* for multiline-underline */
		&.--grow,
		&.--shrink {
			--ui-gradient-bgpy: 85%;
			--ui-gradient-bgsz-x: 100%;
			background-image: linear-gradient(var(--ui-gradient-dir, 181deg), var(--ui-gradient) 50%, transparent 54%, transparent 100%);
		}
		&.--shrink { --ui-gradient-dir: 179deg; }
		&.--thin {
			--ui-gradient-bgpy: 85%;
			--ui-gradient-bgsz-y: 5%;
		}
		&.--thick { --ui-gradient-bgsz-y: 20%; }
	}
}