@layer bs-component {
	:where(.ui-color-input) {
		--input-bdw: 0;
		--input-check-bg: var(--_bg);
		--input-check-bga--checked: var(--_c);

		box-shadow: none;
		@supports ( color: color-contrast(red vs blue, green) ) {
			--_c: color-contrast(var(--_bg) vs #FFF, #000);
		}
	}
}