/* Base Styles */
:host {
	--ff-didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
	--ff-geometric: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--ff-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--ff-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--ff-neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--ff-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

	--gray-light: #e2e2e2;
	--gray-medium: #aaa;
	--gray-dark: #333;

	background: Canvas;
	color: CanvasText;
	color-scheme: light dark;
	container-type: inline-size;
	display: grid;
	font-family: system-ui, sans-serif;;
	grid-template-columns: 1fr minmax(auto, 66ch) 1fr;
	line-height: 1.5;
	row-gap: 1rlh;
}

:host * {
	box-sizing: border-box;
}

:host::part(avatar) {
	border: 1px solid var(--gray-light);
	width: 4em;
}

:host::part(cover) {
	aspect-ratio: 1000 / 420;
	grid-column: 1 / -1;
	margin-inline: auto;
	max-width: 1000px;
	width: 100%;
}

address, article, h1, time {
	grid-column: 2;
	padding-inline: 1rem;
}

address {
	align-items: center;
	display: grid;
	font-style: normal;
	gap: 2ch;
	grid-template-columns: max-content 1fr;

	small {
		color: var(--gray-medium);
	}

	ul {
		all: unset;
		display: grid;
		font-size: small;
		gap: 1ch;
		grid-auto-flow: column;
		justify-content: start;
		list-style: none;
		padding-inline: 0;

		li {
			background: light-dark(var(--gray-light), var(--gray-dark));
			border-radius: 0.25em;
			padding: 0.25em 0.5em;
		}
	}
}

article {
	text-wrap: pretty;
}

code {
	background: light-dark(var(--gray-light), var(--gray-dark));
	font-family: var(--ff-monospace-code);
	font-size: 0.75em;
}

h1 { 
	font-size: 2.5em;
	text-wrap: balance;
}

header {
	display: contents;
}

img {
	max-width: 100%;
}

pre {
	background: light-dark(var(--gray-light), var(--gray-dark));
	border-radius: 0.25em;
	line-height: 1.4;
	padding: .5ch 1ch;
	white-space: pre-wrap;
}

.js-actions-panel {
	display: none;
}

/* Brutalist Theme */
:host([theme="brutalist"]) {
	background-image: linear-gradient(#F2F2F2 1px, #0000 1px), linear-gradient(to right, #F2F2F2 1px, #0000 1px);
	background-size: 20vw 20vw;
	font-family: var(--ff-geometric);
	font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
	line-height: 1.6;

	address {
		strong {
			font-weight: 900;
		}
		@container (min-width: 800px) {
			align-items: start;
			justify-items: end;
			grid-area: 4 / 1 / 5 / 2;
			grid-template-columns: 1fr;
			grid-template-rows: max-content 1fr;

			div {
				text-orientation: mixed;
				text-transform: uppercase;
				writing-mode: vertical-rl;
			}
			li {
				padding: 0.5em 0.25em;
			}
		}
	}

	h1 {
		font-family: var(--ff-industrial);
		font-size: clamp(4rem, 0.25rem + 12vw, 7rem);
		letter-spacing: -0.025em;
		line-height: 1.1;
		margin-block: .25ch;
	} 

	header {
		time {
			color: var(--gray-medium);
			font-family: var(--ff-industrial);
			font-weight: 100;
			letter-spacing: 0.05em;
			margin-block-start: 1rlh;
		}
	}
}

/* Classic Theme */
:host([theme="classic"]) {
	font-family: var(--ff-transitional);
	font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
	line-height: 1.6;

	address {
		font-family: var(--ff-geometric);
		img { border-radius: 50%; }
	}

	article {
		p:first-of-type::first-letter {
			font-family: var(--ff-didone);
			initial-letter: 3;
			-webkit-initial-letter: 3;
			margin-inline-end: 1ch;
		}
	}

	header {
		time {
			color: var(--gray-medium);
			font-family: var(--ff-geometric);
			font-weight: 100;
			letter-spacing: 0.05em;
			margin-block-start: 1rlh;
			text-align: center;
			text-transform: uppercase;
		}
	}

	h1 { 
		font-family: var(--ff-didone);
		font-size: clamp(4rem, 0.25rem + 12vw, 7rem);
		letter-spacing: -0.025em;
		line-height: 1.2;
		margin-block-end: .335em;
		text-align: center;
		&::after {
			background-color: currentColor;	
			content: '';
			display: block;
			height: .0625em;
			margin-block-start: .335em;
			margin-inline: auto;
			width: 35%;
		}
	}

	hr {
		border: double var(--gray-light);
		border-width: 4px 0 0;
		margin-block: .5rlh;
	}
}

/* Modern Theme */
:host([theme="modern"]) {
	font-family: var(--ff-neo-grotesque);
	font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
	line-height: 1.5;

	address {
		font-family: var(--ff-geometric);
		strong {
			font-family: var(--ff-neo-grotesque);
			font-weight: 900;
		letter-spacing: -0.025em;
			text-transform: uppercase;
		}
	}

	h1 {
		font-family: var(--ff-neo-grotesque);
		font-size: clamp(3rem, 0.5rem + 13.3333vw, 8rem);
		font-weight: 900;
		letter-spacing: -0.05em;
		line-height: 1;
		margin-block: 0;
		text-transform: uppercase;
	}

	header time {
		font-size: 0.875em;
		font-weight: 300;
	}
}

/* List of Articles */
ul[part="list"] {
	container-type: inline-size;
	display: grid;
	gap: 1rlh;
	grid-area: 1 / 1 / 2 / 4;
	margin-inline: auto;
	max-width: 900px;
	padding: 0;
	width: 100%;

	a {
		color: inherit;
		display: block;
		line-height: 1.4;
		text-decoration: none;
	}

	img {
		border: 1px solid var(--gray-light);
	}

	li {
		display: grid;
		font-size: clamp(0.875rem, 0.5625rem + 1.6667vw, 1.5rem);
		gap: 1ch;
		grid-template-columns: 20cqi 1fr;
	}

	time {
		color: var(--gray-medium);
		display: block;
		font-family: var(--ff-geometric);
		font-size: small;
		padding: 0;
	}
}

/* More Button */
:host::part(more) {
	background: light-dark(#f8f8f8, #333);
	border: 1px solid var(--gray-light);
	border-radius: 0.25em;
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 1em;
	grid-area: 2 / 1 / 3 / 4;
	margin: 2rem auto;
	padding: 0.5em 1em;
}
:host::part(more):disabled {
	cursor: not-allowed;
	opacity: 0.5;
}