/* Base Styles */
:host {
	--ff-antique: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
	--ff-classical: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--ff-didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
	--ff-geometric: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--ff-handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	--ff-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--ff-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--ff-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--ff-monospace-slab: 'Nimbus Mono PS', 'Courier New', monospace;
	--ff-neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--ff-oldstyle: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--ff-rounded: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
	--ff-slab: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
	--ff-system: system-ui, sans-serif;
	--ff-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

	--gray-light: #e2e2e2;
	--gray-medium: #aaa;

	background: Canvas;
	color: CanvasText;
	color-scheme: light dark;
	display: grid;
	row-gap: 1rlh;
}

:host * {
	box-sizing: border-box;
}

:host::part(cover) {
	aspect-ratio: 1000 / 420;
	margin-inline: auto;
	max-width: 1000px;
	width: 100%;
}

address, article {
	inline-size: 100%;
	max-inline-size: 66ch;
	margin-inline: auto;
	padding-inline: 2ch;
}

h1 { 
	margin-inline: auto;
	max-inline-size: 15ch;
	padding-inline: .25ch;
	text-wrap: balance;
}

header {
	display: contents;
}

img {
	max-width: 100%;
}

.js-actions-panel {
	display: none;
}


/* Classic Theme */

:host([theme="classic"]) {
	font-family: var(--ff-transitional);
	font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
	line-height: 1.6;

	address {
		align-items: center;
		display: grid;
		font-family: var(--ff-geometric);
		font-style: normal;
		gap: 2ch;
		grid-template-columns: max-content 1fr;

		small {
			color: var(--gray-medium);
		}
		
		ul {
			all: unset;
			display: grid;
			font-size: small;
			gap: 1ch;
			grid-auto-flow: column;
			justify-content: start;
			list-style: none;
			padding-inline: 0;

			li {
				background: light-dark(#f8f8f8, #333);
				border-radius: 0.25em;
				padding: 0.25em 0.5em;
			}
		}
	}

	article {
		p:first-of-type::first-letter {
			font-family: var(--ff-didone);
			initial-letter: 3;
			-webkit-initial-letter: 3;
			margin-inline-end: 1ch;
		}
	}

	code {
		background: light-dark(#f8f8f8, #333);
		font-family: var(--ff-monospace-code);
		font-size: 0.75em;
	}
	
	header {
		display: contents;
		time {
			color: var(--gray-medium);
			font-family: var(--ff-geometric);
			font-weight: 100;
			letter-spacing: 0.05em;
			margin-block-start: 1rlh;
			text-align: center;
			text-transform: uppercase;
		}
	}

	h1 { 
		font-family: var(--ff-didone);
		font-size: clamp(4rem, 0.25rem + 12vw, 7rem);
		letter-spacing: -0.025em;
		line-height: 1.2;
		margin-block-end: .335em;
		margin-inline: auto;
		max-inline-size: 15ch;
		padding-inline: .25ch;
		text-wrap: balance;
		text-align: center;
	}

	hr {
		border: double var(--gray-light);
		border-width: 4px 0 0;
		margin-block: .5rlh;
	}

	pre {
		background: light-dark(#f8f8f8, #333);
		border-radius: 0.25em;
		line-height: 1.4;
		padding: .5ch 1ch;
		white-space: pre-wrap;
	}


	/* List of Articles */
	ul[part="list"] {
		container-type: inline-size;
		display: grid;
		gap: 1rlh;
		margin-inline: auto;
		max-width: 900px;
		padding: 0;
		width: 100%;

		a {
			color: inherit;
			text-decoration: none;
		}

		img {
			border: 1px solid var(--gray-light);
		}

		li {
			display: grid;
			font-size: clamp(0.875rem, 0.5625rem + 1.6667vw, 1.5rem);
			gap: 1ch;
			grid-template-columns: 20cqi 1fr;
		}

		time {
		color: var(--gray-medium);
		display: block;
		font-family: var(--ff-geometric);
		font-size: small;
		}
	}
}



:host([theme="classic"]) h1::after {
	background-color: currentColor;	
	content: '';
	display: block;
	height: .0625em;
	margin-block-start: .335em;
	margin-inline: auto;
	width: 35%;
}

:host([theme="classic"])::part(avatar) {
	border: 1px solid var(--gray-light);
	border-radius: 50%;
	width: 4em;
}


/* Industrial Theme */
:host([theme="industrial"]) {
	font-family: var(--ff-neo-grotesque);	
	font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
	line-height: 1.6;

	h1 {
		font-family: var(--ff-industrial);
		font-size: clamp(4rem, 0.25rem + 12vw, 7rem);
		line-height: 1.1;
	}
}

/* More Button */
:host::part(more) {
	background: light-dark(#f8f8f8, #333);
	border: 1px solid var(--gray-light);
	border-radius: 0.25em;
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 1em;
	margin: 2rem auto;
	padding: 0.5em 1em;
}
:host::part(more):disabled {
	cursor: not-allowed;
	opacity: 0.5;
}