:host::after, :host::before { box-sizing: border-box; }
:host {
	--_open: 0;
	--_bdrs: 50%;
	--_bdw: 0.0625em;
	--_bdwh: calc(var(--_bdw) / 2);
	--_cosh: calc(1em * cos(45deg));
	--_fz: 100%;
	--_trs: .25s cubic-bezier(.4, 0, .2, 1);
	--_cpw: calc(100% - (1.5 * var(--_p, 0)));

	background: var(--_bg, transparent);
	border-radius: var(--_bdrs);
	display: grid;
	font-size: var(--_fz);
	height: var(--_w, 1em);
	padding: var(--_p, 0);
	transition: var(--_trs);
	width: var(--_w, 1em);
}
:host::before,
:host::after {
	box-sizing: border-box;
	content: "";
	display: block;
	grid-area: 1 / 1;
	place-self: center;
	transition: var(--_trs);
}
:host::before {
	aspect-ratio: 1 / 1;
	background: currentColor;
	width: var(--_bw, 0);
}

/* Arrow, Check, Chevron (Common: Cross, Menu, Plus) */
:host([type~=arrow])::after,
:host([type~=check])::after,
:host([type~=chevron])::after {
	border-color: currentColor;
	border-style: solid;
	border-width: var(--_bdw) var(--_bdw) 0 0;
	height: var(--_cosh);
	rotate: 45deg;
	width: var(--_cosh);
}
:host([type~=arrow])::before,
:host([type~=cross])::before,
:host([type*=menu])::before,
:host([type*=plus])::before,
:host([type~=cross])::after,
:host([type*=menu])::after,
:host([type~=minus])::after,
:host([type*=plus])::after {
	background-color: currentColor;
	height: var(--_bdw);
	width: 1em;
}


:host([type=cross])::before {
	rotate: 45deg;
}
:host([type=cross])::after {
	rotate: -45deg;
}


:host([type*=arrow])::before {
	place-self: center start;
	width: calc(1em - var(--_bdw));
}
:host([type=check])::after {
	border-width: 0 var(--_bdw) var(--_bdw) 0;
	height: calc(1em * cos(22.5deg));
	translate: 0 calc((.25em - var(--_bdwh)) * cos(45deg) * -1);
	width: calc(var(--_cosh)* 0.6);
}
:host([type*=chevron])::after {
translate: calc((.25em - var(--_bdwh)) * cos(45deg) * -1) 0;
}

/* Grid, Kebab, Meatball */
:host([type=drag])::before,
:host([type=grid])::before,
:host([type=kebab])::before,
:host([type=meatball])::before {
	border-radius: 50%;
	width: .2em;
}
:host([type=drag])::before { translate: .2em 0; }
:host([type=drag])::before {
box-shadow: 
-.4em -.3em 0, 0 -.3em 0,
-.4em 0 0,
-.4em .3em 0, 0 .3em 0;
}
:host([type=grid])::before {
box-shadow: 
-.3em -.3em 0, 0 -.3em 0, .3em -.3em 0,
-.3em 0 0, .3em 0 0,
-.3em .3em 0, 0 .3em 0, .3em .3em 0;
}
:host([type=kebab])::before { box-shadow: 0 .3em 0, 0 -.3em 0; }
:host([type=meatball])::before { box-shadow: -.3em 0 0, .3em 0 0; }

/* Menu */
:host([type=burger-menu]) { gap: .66em; }
:host([type=burger-menu])::before { box-shadow: 0 .33em 0 currentColor; }
:host([type=veggie-menu]) { gap: .33em; }

/* Angle */
:host([type~=down]) { rotate: 90deg; }

:host([type~=downleft]) {
	&::after { rotate: 180deg; }
	&::before { rotate: 135deg; }
}
:host([type~=downright]) {
	&::after { rotate: 90deg; }
	&::before { rotate: 45deg; }
}

:host([type~=left]) { rotate: -180deg; }
:host([type~=up]) { rotate: -90deg; }


:host([type~=upleft]) {
	&::after { rotate: -90deg; }
	&::before { rotate: -135deg; }
}
:host([type~=upright]) {
	&::after { rotate: unset; }
	&::before { rotate: 135deg; }
}



:host([type*=plus])::after { rotate: -90deg; }



/* clip-path based:  */
:host([type=first])::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 20% 0%, 20% 50%, 100% 0%, 100% 100%, 20% 50%, 20% 100%, 0% 100%); }
:host([type=last])::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 80% 50%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 50%, 0% 100%); }
:host([type=pause])::before { --_bw: var(--_cpw); clip-path: polygon(40% 0%, 0% 0%, 0% 100%, 40% 100%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }

:host([type=rewind])::before { --_bw: var(--_cpw); clip-path: polygon(0% 50%, 50% 10%, 50% 50%, 100% 10%, 100% 90%, 50% 50%, 50% 90%, 0% 50%); }

:host([type=forward])::before { --_bw: var(--_cpw); clip-path: polygon(0% 10%, 50% 50%, 50% 10%, 100% 50%, 50% 90%, 50% 50%, 0% 90%); }

/* :host([type*=play])::before { --_bw: var(--_cpw); clip-path: polygon(15% 0%, 15% 100%, 100% 50%); } */

:host([type*=play])::before { --_bw: var(--_cpw); clip-path: polygon(15% 0%, 15% 100%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }

:host([open]):host([type=play-pause])::before { clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }


:host([type=stop])::before { --_bw: var(--_cpw); clip-path: inset(0 0 0 0 round 2px); }


:host([type*=triangle])::before { --_bw: var(--_cpw); clip-path: polygon(25% 0%, 100% 50%, 25% 100%);}








/* Margin */
:host([margin=start]) { --_mis: 1ch; }
:host([margin=start-auto]) { --_mis: auto; }
:host([margin=end]) { --_mie: 1ch; }
:host([margin=end-auto]) { --_mie: auto; }
:host([margin=xs]) { --_mb: .25ch; --_mi: .25ch; }
:host([margin=sm]) { --_mb: .5ch; --_mi: .5ch; }
:host([margin=md]) { --_mb: 1ch; --_mi: 1ch; }
:host([margin=lg]) { --_mb: 1.5ch; --_mi: 1.5ch; }
:host([margin=xl]) { --_mb: 2ch; --_mi: 2ch; }

/* Size */
:host([size*=xs]) { --_fz: 50%; }
:host([size*=sm]) { --_fz: 60%; }
:host([size*=md]) { --_fz: 80%; }
:host([size*=lg]) { --_fz: 120%; }
:host([size*=xl]) { --_fz: 140%; }
:host([size*=xxl]) { --_fz: 200%; }

/* State */
[open] ~ :host, :host([open]) { --_open: 1; }


:host([type=plus-cross]) { rotate: calc(45deg * var(--_open)); }
[open] ~ :host, :host([open]):host([type=plus-minus])::after { rotate: 0deg; }
:host([open]):host([type=grid]) { rotate: 135deg; }

/* :host([open]) >* >:host([type=kebab]), :host([open]) >* >:host([type=meatball]), :host([open]) >* >:host([type=plus-cross]) { rotate: 45deg; } */

:host([open]) >* >:host([type=menu]) { gap: 0; }
:host([open]) >* >:host([type=menu])::before { box-shadow: none; rotate: -45deg; }
:host([open]) >* >:host([type=menu])::after { rotate: 45deg; }
:host([open]) >* >:host([type=down]) { scale: -1; }
:host([open]) >* >:host([type=grid]) { rotate: 135deg; }


:host([open]):host([type=kebab])::before,
:host([open]):host([type=meatball])::before {
	box-shadow: -.3em 0 0, 0 .3em 0, 0 -.3em 0, .3em 0 0;
	rotate: 45deg;
}



:host([open]) >* >:host([type=right]) { rotate: 90deg; }

/* re-visit */
:host([open]) >* * :host([type=right]) { rotate: 90deg; }

/* [type="checkbox"] + :host */
:checked + :host([type=down]) { scale: -1; }
:checked + :host([type=kebab]), :checked + :host([type=meatball]), :checked + :host([type=plus-cross]) { rotate: 45deg; }
:checked + :host([type=menu]) {
		gap: 0;
}
:checked + :host([type=menu])::before { box-shadow: none; rotate: -45deg; }
:checked + :host([type=menu])::after { rotate: 45deg; }

/* Stroke */
:host([stroke*=xs]) { --_bdw: 0.003125em; }
:host([stroke*=sm]) { --_bdw: 0.0625em; }
:host([stroke*=md]) { --_bdw: 0.125em; }
:host([stroke*=lg]) { --_bdw: 0.1875em; }
:host([stroke*=xl]) { --_bdw: 0.25em; }

/*Dir: rtl*/
[dir=rtl] :host {
		&[type~=arrow]::before {
				translate: calc(var(--_bdwh) + var(--_bdw)) calc((.5em * cos(45deg)) - var(--_bdwh));
		}
		&[type~=left] { translate: -.2em 0; }
		&[type~=right] { translate: .2em 0; }
		&[type~=down] { translate: 0 -.2em; }
		&[type~=downleft] { rotate: 45deg; translate: -.11em -.11em; }
		&[type~=downright] { rotate: 135deg; translate: .11em -.11em; }
		&[type~=up] { translate: 0 .2em; }
		&[type~=upleft] { rotate: -45deg; translate: -.11em .11em; }
		&[type~=upright] { rotate: -135deg; translate: .11em .11em; }
		&[type*=first] {
				translate: -.22em 0;
				&::before { translate: .33em calc(0px - var(--_bdw)); }
		}
		&[type*=last] {
				translate: .22em 0;
				&::before { translate: .33em calc(0px - var(--_bdw)); }
		}
		&[type~=left] { rotate: 0deg; }
		&[type~=right] { rotate: -180deg; }
}
[dir=rtl] :host([open]) >* * :host([type=right]) { rotate: -270deg; }