@layer bs-component {
	:where(ui-icon) {
		/* public properties */
		--ui-icon-size: 100%;
		--ui-icon-stroke: 0.0625em;
		--ui-icon-trs: .25s cubic-bezier(.4, 0, .2, 1);

		/* private properties */
		--_bdwh: calc(var(--ui-icon-stroke) / 2);
		--_cosh: calc(1em * cos(45deg));
		--_cpw: calc(100% - (1.5 * var(--ui-icon-p, 0em)));

		--_o: 0; /* open state */
		--_r: 0; /* rounded */

		background: var(--ui-icon-bg, transparent);
		border: var(--ui-icon-bdw, 0) solid var(--ui-icon-bdc, currentColor);
		border-radius: var(--ui-icon-bdrs, 50%);
		display: grid;
		font-size: var(--ui-icon-size);
		height: 1em;
		padding: var(--ui-icon-p, 0em);
		transition: var(--ui-icon-trs);
		width: 1em;

		&::before,
		&::after {
			box-sizing: border-box;
			content: "";
			display: block;
			grid-area: 1 / 1;
			place-self: center;
			transition: var(--ui-icon-trs);
		}
		&::before {
			aspect-ratio: 1 / 1;
			background: currentColor;
			width: var(--_bw, 0);
		}

		/* State */
		[open] > * > &, :checked + &, &[open] { --_o: 1; }
		&[rounded] { --_r: 1; }

		/* Types */
		&[type~=arrow]::after,
		&[type~=check]::after,
		&[type~=chevron]::after {
			border-color: currentColor;
			border-style: solid;
			border-width: var(--ui-icon-stroke) var(--ui-icon-stroke) 0 0;
			height: var(--_cosh);
			rotate: 45deg;
			width: var(--_cosh);
		}
		&[type~=arrow]::before,
		&[type~=cross]::before,
		&[type*=menu]::before,
		&[type*=plus]::before,
		&[type~=cross]::after,
		&[type*=menu]::after,
		&[type~=minus]::after,
		&[type*=plus]::after {
			background-color: currentColor;
			border-radius: calc(var(--_r) * var(--ui-icon-stroke));
			height: var(--ui-icon-stroke);
			width: 1em;
		}
		&[type*=arrow]::before {
			width: calc(1em - var(--ui-icon-stroke));
		}
		&[type=check]::after {
			border-width: 0 var(--ui-icon-stroke) var(--ui-icon-stroke) 0;
			height: calc(1em * cos(22.5deg));
			translate: 0 calc((.25em - var(--_bdwh)) * cos(45deg) * -1);
			width: calc(var(--_cosh) * 0.6);
		}
		&[type*=chevron]::after {
			translate: calc((.25em - var(--_bdwh)) * cos(45deg) * -1) 0;
		}
		&[type=cross]::before {
			rotate: 45deg;
		}
		&[type=cross]::after {
			rotate: -45deg;
		}
		&[type*=plus]::after {
			rotate: -90deg;
		}
		&[type=plus-cross] { 
			&::after { rotate: calc(45deg * var(--_o) + 90deg); }
			&::before { rotate: calc(45deg * var(--_o)); }
		}
		&[type=plus-minus]::after {
			rotate: calc((90deg * var(--_o)) - 90deg);
		}

		/* Angles */
		&[type~=down] { rotate: 90deg; }
		/* &[type~=down], &[type~=up] { scale: calc(-2 * var(--_o) + 1) 1; } */
		&[type~=left] { scale: -1; rotate: calc(-90deg * var(--_o)); }
		&[type~=right] { rotate: calc(90deg * var(--_o)); }
		&[type~=up] { rotate: -90deg; }
		&[type~=downleft] {
			&::after { rotate: 180deg; }
			&::before { rotate: 135deg; }
		}
		&[type~=downright] {
			&::after { rotate: 90deg; }
			&::before { rotate: 45deg; }
		}
		&[type~=upleft] {
			&::after { rotate: -90deg; }
			&::before { rotate: -135deg; }
		}
		&[type~=upright] {
			&::after { rotate: unset; }
			&::before { rotate: 135deg; }
		}
		/* &[type~=downleft], &[type~=downright], &[type~=upleft], &[type~=upright] { scale: calc(-2 * var(--_o) + 1); } */

		/* Grid, Kebab, Meatball */
		&[type=drag]::before,
		&[type=grid]::before,
		&[type=kebab]::before,
		&[type=meatball]::before {
			border-radius: calc(var(--_r) * 50%);
			width: .2em;
		}
		&[type=drag]::before {
			box-shadow: 
			-.4em -.3em 0, 0 -.3em 0,
			-.4em 0 0,
			-.4em .3em 0, 0 .3em 0;
			translate: .2em 0;
		}
		&[type=grid] {
			&::before {
				box-shadow: 
				-.3em -.3em 0, 0 -.3em 0, .3em -.3em 0,
				-.3em 0 0, .3em 0 0,
				-.3em .3em 0, 0 .3em 0, .3em .3em 0;
				rotate: calc(135deg * var(--_o));
			}
		}
		&[type=kebab]::before {
			box-shadow: 0 .3em 0, 0 -.3em 0;
			rotate: calc(45deg * var(--_o));
		}
		&[type=meatball]::before {
			box-shadow: -.3em 0 0, .3em 0 0;
			rotate: calc(45deg * var(--_o));
		}
		/* [open] > box-shadow: -.3em 0 0, 0 .3em 0, 0 -.3em 0, .3em 0 0; */

		/* Menu */
		&[type=burger-menu] { --_g: .6em; }
		&[type=veggie-menu] { --_g: .3em; }
		&[type=burger-menu]::before { box-shadow: 0 calc(0em - (var(--_g) / 2) * var(--_o) + (var(--_g) / 2)) 0 currentColor; }
		&[type*=menu]::before { margin-block-end: calc(0em - var(--_g) * var(--_o) + var(--_g)) ; rotate: calc(45deg * var(--_o)); } 
		&[type*=menu]::after { margin-block-start: calc(0em - var(--_g) * var(--_o) + var(--_g)); rotate: calc(-45deg * var(--_o)); }

		/* Play / Pause / Stop  */
		&[type=first]::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 20% 0%, 20% 50%, 100% 0%, 100% 100%, 20% 50%, 20% 100%, 0% 100%); }
		&[type=last]::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 80% 50%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 50%, 0% 100%); }
		&[type=pause]::before { --_bw: var(--_cpw); clip-path: polygon(40% 0%, 0% 0%, 0% 100%, 40% 100%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }
		&[type=rewind]::before { --_bw: var(--_cpw); clip-path: polygon(0% 50%, 50% 10%, 50% 50%, 100% 10%, 100% 90%, 50% 50%, 50% 90%, 0% 50%); }
		&[type=forward]::before { --_bw: var(--_cpw); clip-path: polygon(0% 10%, 50% 50%, 50% 10%, 100% 50%, 50% 90%, 50% 50%, 0% 90%); }
		/* play: polygon(15% 0%, 15% 100%, 100% 50%); */
		&[type*=play]::before { --_bw: var(--_cpw); clip-path: polygon(15% 0%, 15% 100%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }

		&[open]&[type=play-pause]::before { clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }
		&[type=stop]::before { --_bw: var(--_cpw); clip-path: inset(0 0 0 0 round 2px); }
		&[type*=triangle]::before { --_bw: var(--_cpw); clip-path: polygon(25% 0%, 100% 50%, 25% 100%); }

		/* SVG: work-in-progress */
		&:has(svg) {
			&::before, &::after {
				display: none;
			}
			fill: none;
			height: 1em;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: calc(var(--ui-icon-stroke) / 2);
			stroke: currentColor;
			width: 1em;
		}

		/* State */
		&[state=flip]   { scale: calc(-2 * var(--_o) + 1); }
		&[state=flip-x] { scale: 1 calc(-2 * var(--_o) + 1); }
		&[state=flip-y] { scale: calc(-2 * var(--_o) + 1) 1; }

		/* Size */
		&[size*=xs]  { --ui-icon-size: 50%; }
		&[size*=sm]  { --ui-icon-size: 60%; }
		&[size*=md]  { --ui-icon-size: 80%; }
		&[size*=lg]  { --ui-icon-size: 120%; }
		&[size*=xl]  { --ui-icon-size: 140%; }
		&[size*=xxl] { --ui-icon-size: 200%; }

		/* Stroke */
		&[stroke*=xs] { --ui-icon-stroke: 0.003125em; }
		&[stroke*=sm] { --ui-icon-stroke: 0.0625em; }
		&[stroke*=md] { --ui-icon-stroke: 0.09375em; }
		&[stroke*=lg] { --ui-icon-stroke: 0.125em; }
		&[stroke*=xl] { --ui-icon-stroke: 0.1875em; }
		&[stroke*=xxl] { --ui-icon-stroke: 0.25em; }


		/* Hover */
		/* @media (hover: hover) {
			&[hover~="rotate-90"]:hover::after {
				translate: 1px;
			}
		} */
	}
}