.ui-avatar { 
	all: unset;
  aspect-ratio: 1 / 1;
  background: var(--ButtonFace);
  block-size: var(--ui-avatar-sz, 4em);
  border: var(--ui-avatar-bdw, 2px) solid var(--ButtonBorder);
  border-radius: var(--ui-avatar-bdrs, 50%);
  container-type: inline-size;
	display: grid;
	place-content: center;
  & abbr {
		font-size: 33cqi;
		place-self: center;
    text-decoration: none;
    user-select: none;
  }
  & abbr, & img {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
  }
  & img {
    border-radius: inherit;
    pointer-events: none;
    transition: scale .2s ease-in-out;
  }
}
.ui-avatar-list {
	all: unset;
	display: flex;
	& > *:not(:first-child) {
		margin-inline-start: var(--ui-avatar-mis, -1cqi);
	}
  @media (hover: hover) {
    & .ui-avatar:hover img { scale: 1.1; }
  }
}