:host {
	/* Section colors */
	--sec-required-color: hsl(10, 80%, 50%);
	--sec-required-bg: hsl(10, 80%, 95%);
	--sec-optional-color: hsl(211, 50%, 50%);
	--sec-optional-bg: hsl(211, 50%, 95%);
}

details.sec-required {
	border-color: var(--sec-required-color);
}

details.sec-optional {
	border-color: var(--sec-optional-color);
}

fieldset {
	align-items: center;
}

label {
	min-width: 120px;
	font-weight: 500;
}

small {
	display: block;
	font-size: 0.8em;
	opacity: 0.8;
}

.muted {
	color: #666;
}

li {
	display: inline-flex;
	
	input {
		all: unset;
		min-width: 20ch;
	}

	button {
		background: none;
		padding: 0;
		font-size: 1.2em;
		line-height: 1;
		opacity: 0.6;
		&:hover { opacity: 1; }
	}
}
