.bs-inputspinner input { text-align: center; -moz-appearance: textfield; }
.bs-inputspinner input::-webkit-outer-spin-button,
.bs-inputspinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bs-inputspinner {
	--button-h: var(--_h);
	--input-w: auto;
	--label-w: auto;
	display: flex;
	gap: .5em;
}

.bs-inputspinner:not(.bs-inputspinner-nav) button {
	--button-pi: 0;
	align-self: end;
	aspect-ratio: 1;
}