<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>color-swatch</title>
	<meta charset="UTF-8">
	<link rel="preload" href="/css/styles.css" as="style">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: avatar">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/tags/fieldset.css">
	<link rel="stylesheet" href="color-swatch.css">
	<!-- <meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'sha256-nPtDwmNB3QBoYNOxR+bhvm/e9XL87MP97gEzzShWTQo=';
		style-src 'self' 'unsafe-inline';
	"> -->
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>

		<h1 class="bs-header">browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr>
		<section>
			<h2>color-swatch</h2>
			
			<div class="row">
				<!-- <fieldset data-bs="no-border" class="bs-colorswatch bs-colorswatch-round" style="--_cols:4;">
					<legend>Toggle</legend>
					<label class="bs-colorswatch-toggle" style="--_bgc:hsl(297,59%,75%); --_c:#000;" title="hsl(297,59%,75%)" data-index="7" data-brightness="183.779" data-rgb="rgb(225, 154, 229)">
						<input type="radio" name="custom" value="hsl(297,59%,75%)" class="sr-only">
						<span></span>
					</label>
				</fieldset> -->

				<fieldset data-bs="no-border" class="bs-colorswatch" data-colors="standard" data-group="standard">
					<legend>Default Swatches</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-selected="100" data-colors="html" data-group="html" style="--_cols:12;">
					<legend>HTML</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-selected="-1" data-colors="apple" data-group="apple" style="--_cols:12;">
					<legend>Apple</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-colors="material" data-group="material">
					<legend>Material design</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch bs-colorswatch-nogap" data-colors="flatui" data-group="flatui" style="--_cols:5;">
					<legend>Flat UI</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-selected="5" data-colors="metro" data-group="metro" style="--_cols:5;">
					<legend>Metro</legend>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-colors="tailwind" data-group="tailwind">
					<legend>Tailwind</legend>
				</fieldset>



				<fieldset data-bs="no-border" class="bs-colorswatch bs-colorswatch-round" data-selected="4" data-colors="hsl(168,41%,65%) hsl(198,45%,47%) hsl(207,84%,63%) hsl(210,58%,77%) hsl(227,92%,64%) hsl(258,90%,64%) hsl(276,74%,57%) hsl(297,59%,75%) hsl(332,54%,58%) hsl(5,77%,74%) hsl(0,0%,50%) hsl(0,0%,73%) hsl(27,30%,69%) transparent" data-group="custom" style="--_cols:5;">
					<legend>Custom Round</legend>
					<label class="bs-colorswatch-toggle" style="--_bgc:#f1c40f; --_c:#000;" title="Toggle" data-index="-1" data-brightness="188.821" data-rgb="rgb(241, 196, 15)">
						<input type="radio" name="custom" value="hsl(297,59%,75%)" class="sr-only">
						<span></span>
					</label>
				</fieldset>

				<fieldset data-bs="no-border" class="bs-colorswatch" data-colors="hsl(168,41%,65%) hsl(198,45%,47%) hsl(207,84%,63%) hsl(210,58%,77%) hsl(227,92%,64%) hsl(258,90%,64%) hsl(276,74%,57%) hsl(297,59%,75%) hsl(332,54%,58%) hsl(5,77%,74%) hsl(0,0%,50%) hsl(0,0%,73%) hsl(27,30%,69%) transparent" data-group="custom-square" style="--_cols:5;">
					<legend>Custom</legend>
					<label class="bs-colorswatch-toggle" style="--_bgc:#f1c40f; --_c:#000;" title="Toggle" data-index="-1" data-brightness="188.821" data-rgb="rgb(241, 196, 15)">
						<input type="radio" name="custom-square" value="hsl(297,59%,75%)" class="sr-only">
						<span></span>
					</label>
				</fieldset>
			</div>

	</main>
	<script src="/main.js" defer></script>
	<script type="module">
		import colorSwatch from'/assets/js/color-swatch.js';
		const elements = document.querySelectorAll('.bs-colorswatch');
		elements.forEach(elm => {
			colorSwatch(elm, elm.dataset);
			elm.addEventListener('swatchSelect', (evt) => {console.log(evt.detail); })
		});
	</script>
</body>
</html>