details[data-level="1"] {
	border: 1px solid ButtonFace;
	padding-inline: 2ch;
	margin-block-end: 2ch;
	border-radius: .5em;
	& > summary { border: 0; }
}
details[data-level="2"] summary {
	border-block-start: 1px solid ButtonFace;
	color: GrayText;
	font-size: 1rem;
	padding-block: .75ch;
	[open] & { border-block-start: 1px solid ButtonFace; }
}
dl {
	display: grid;
	font-family: ui-monospace, monospace;
	font-size: x-small;
	grid-template-columns: min-content 1fr;
	grid-column-gap: 1ch;
	grid-row-gap: 3px;
	line-height: 1;
	margin-block: 8px;
	& dd { margin: 0; }
	& dt {
		font-weight: bold;
		&::after { content: ":"; }
	}
}

ul {
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-columns: repeat(5, minmax(100px, 1fr));
	list-style-type: none;
	margin: unset;
	padding: 1ch 0;
	& li::before {
		content: "";
		border-radius: .25em;
		display: block;
	}
	&:has([data-type=font-size],[data-type=font-weight],[data-type=letter-spacing],[data-type=text-shadow]) {
		grid-template-columns: 1fr;
	}
	&:has([data-type=font-family]) {
		column-gap: 4ch;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* === TYPES === */

/* --- color --- */
[data-type="color"]::before {
	background-color: var(--_v);
	block-size: 5ch;
	color: color-contrast(var(--_v) vs black, white);
	content: attr(data-key);
	display: grid;
	font-weight: 300;
	font-size: small;
	place-content: center;
	transition: box-shadow .16s ease-in;
}

/* --- font-family --- */
[data-type="font-family"] ol {
	all: unset;
	background-color: GrayText;
	display: grid;
	font-family: var(--_v);
	gap: 1px;
	grid-template-columns: repeat(6,minmax(1ch,1fr));
	list-style-type: none;
	& li {
		background-color: Canvas;
		display: grid;
		place-items: center;
	}
}

/* --- font-size --- */
[data-type="font-size"] div {
	font-size: var(--_v);
}

/* --- font-weight --- */
[data-type="font-weight"] div {
	font-weight: var(--_v);
}

/* --- gradient --- */
[data-type="gradient"]::before {
	aspect-ratio: 1 / 1;
	background-image: var(--_v);
}

/* --- image --- */
[data-type="image"]::before {
	aspect-ratio: 1 / 1;
	background-image: var(--_v);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid GrayText;
}

/* --- letter-spacing --- */
[data-type="letter-spacing"] div {
	letter-spacing: var(--_v);
}

/* --- ratio --- */
[data-type="ratio"]::before {
	aspect-ratio: var(--_v);
	background: GrayText;
}

/* --- shadow --- */
[data-type="shadow"]::before {
	aspect-ratio: 1 / 1;
	background: Canvas;
	box-shadow: var(--_v);
}

/* --- text-shadow --- */
[data-type="text-shadow"] div {
	text-shadow: var(--_v);
}