.full-width {
	margin: 0;
	max-inline-size: unset;
	padding: 0;
	:is(h1, p, small) { display: none; }
}
svg {
	aspect-ratio: var(--frame-asr, 1 / 1);
	border: var(--frame-bdw, 0) ridge var(--frame-c, #f6c6a4);
	max-width: 100%;
	width: 100%;
}