:where(details[data-bs] summary) {
	--summary-d: flex;
	align-items: center;
	justify-content: var(--summary-jc, space-between);
	list-style-type: none;
} 
:where(details[data-bs] summary)::-webkit-details-marker { display: none; }
:where(details[open] summary +*) { padding-block-end: var(--details-panel-pbe, 1.5ch); }

/* BORDER (FAQ) */
details[data-bs*="border"] { border-block-end: 1px solid var(--color-border); }
details[data-bs~="border-start"] { border-block-start: 1px solid var(--color-border); }
details[data-bs*="border"] summary { padding-block: .75ch; }

/* INLINE */
details[data-bs~="inline"] { --details-d: inline-flex; }
:is(details[data-bs~="inline"] [data-css-icon]) {
	--cssico-bs: 1em;
	--cssico-is: 1em;
}

/* OVERLAY ON [open] */
/* TODO! OVERLAY-dark, overlay-light, overlay-none */
details[data-bs~="overlay"][open] summary::before {
	background: var(--overlay-bgc, rgba(0, 0, 0, .25));
	content: "";
	display: block;
	inset: 0;
	position: fixed;
	z-index: 0;
}

/* TODO! FAUX SELECT */

/* TOGGLETIP */
details[data-bs~="toggletip"] {
	--overlay-bgc: rgba(0, 0, 0, .2);
	cursor: help;
	user-select: none;
}
details[data-bs~="toggletip"] summary { border-block-end: 2px dotted currentColor; }
details[data-bs~="toggletip"][open] summary +* {
	background-color: var(--toggletip-bgc, #fff);
	border-radius: var(--toggletip-bdrs, .25em);
	box-shadow: var(--toggletip-bxsh, 0 0 .25em rgba(0, 0, 0, .125));
	color: var(--toggletip-c, inherit);
	font-size: var(--toggletip-fsz, 80%);
	inline-size: var(--toggletip-is, 12rem);
	margin: 0;
	padding-block: var(--toggletip-pab, 1.25ch);
	padding-inline: var(--toggletip-pi, 1.5ch 2ch);
	position: absolute;
	z-index: 1;
}

/* DRAWER */
details[data-bs*="drawer-"] {
	--drawer-close-sz: 3rem;
	--drawer-close-m: 1ch; /* "margin" = offset */
	--drawer-bs: 100vh;
	--drawer-is: 100vw;
}
details[data-bs*="drawer-"][open] summary +* {
	--drawer-o: 1;
	--drawer-trf: translateX(0);
}
details[data-bs*="drawer-"][open] summary::after {
	background-color: var(--drawer-close-bg, var(--color-gray-4));
	block-size: var(--drawer-close-sz);
	border-radius: var(--drawer-close-bdrs, 50%);
	content: '✕';
	display: grid;
	inline-size: var(--drawer-close-sz);
	inset-block-start: var(--drawer-close-ibs, var(--drawer-close-m));
	inset-inline-start: var(--drawer-close-iis, calc(100% - var(--drawer-close-sz) - var(--drawer-close-m)));
	place-content: center;
	position: fixed;
	text-align: center;
	z-index: 1;
}
details[data-bs~="drawer-bottom"] {
	--drawer-close-ibs: calc(100% - var(--drawer-bs) + var(--drawer-close-m));
	--drawer-ibe: 0;
	--drawer-ibs: auto;
	--drawer-trf: translateY(100vh);
}
details[data-bs~="drawer-left"] {
	--drawer-close-iis: calc(var(--drawer-is) - var(--drawer-close-sz) - var(--drawer-close-m));
	--drawer-ibe: auto;
	--drawer-iis: 0;
	--drawer-trf: translateX(-100vw)
}
details[data-bs~="drawer-top"] {
	--drawer-ibe: auto;
	--drawer-iis: 0;
	--drawer-trf: translateY(-100vh);
}
details[data-bs*="drawer-"] summary +* {
	background: var(--drawer-bg, var(--color-gray-1));
	block-size: var(--drawer-bs, 100vh);
	inline-size: var(--drawer-is, 100vw);
	position: fixed;
	inset-block-start: var(--drawer-ibs, 0);
	inset-block-end: var(--drawer-ibe, auto);
	inset-inline-start: var(--drawer-iis, auto);
	inset-inline-end: var(--drawer-iie, 0);
	opacity: var(--drawer-o, .25);
	padding: var(--drawer-p, 6ch 2ch);
	transform: var(--drawer-trf, translateX(100vw));
	transition: transform .3s ease-in;
}
@media (min-width: 768px) {
	details[data-bs*="drawer-"] { --drawer-is: 25vw; }
	details[data-bs~="drawer-top"], details[data-bs~="drawer-bottom"] {
		--drawer-bs: 300px;
		--drawer-is: 100vw;
	}
}