:where(dl[data-bs="table"]) {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
:where(dl[data-bs="table"] :is(dd,dt)) {
	--dd-mis: 0;
	border-block-end: 1px solid var(--color-gray-6);
	padding-block: var(--dd-table-pb, .75ch);
}
:where(dl[data-bs="table"] :is(dd,dt):first-of-type) {
	border-block-start: 1px solid var(--color-gray-6);
}