@import url('/css/@gradients.css');

figure[data-bs*="gradient-"] {
	/* --figure-bg: linear-gradient(4.71239rad, rgb(116, 50, 255) 8%, rgb(254, 67, 213) 84%); */
	--figure-p: 6px;
	}

figure[data-bs*="gradient-"] img {
	--img-d: block;
}

figure[data-bs~="rounded"] {
	--figure-bdrs: 50%;
}

img[data-bs~="rounded"] {
	border-radius: 50%;
	position: relative;
}
img[data-bs~="rounded"]::before {
	aspect-ratio: 1;
	background: tomato;
	content: 'hello';
	display: block;
	inline-size: 100%;
	position: absolute;
}


figure[data-bs~="gradient-1"] { --figure-bg: var(--gradient-1); }
figure[data-bs~="gradient-2"] { --figure-bg: var(--gradient-2); }
figure[data-bs~="gradient-3"] { --figure-bg: var(--gradient-3); }

[data-bs="image-stack"] {
	display: flex;
}

[data-bs="image-stack"] > * {

	--figure-bdrs: 50%;
	width: 160px; /* TODO small large */
	margin-inline-start: -1em;
	/* padding: 8px; */
	position: relative;
	text-align: center;
}

[data-bs="image-stack"] > * img {

	position: relative;
	/* top: 0;
	left: 0; */

	inline-size: calc(100% - 12px);
	margin: 6px;

	/* -webkit-mask: radial-gradient(50% 50%,
    #000  calc(100% - 6px),
    #0000 calc(100% - 12px) calc(100% - 6px)); */
    /* #000  calc(100% - 8px)); */
}

[data-bs="image-stack"] figure > :is(div, img) {
	aspect-ratio: 1;
	display: grid;
	font-size: 140%;
	place-content: center;
} 

[data-bs="image-stack"] > *::before {
	aspect-ratio: 1;
	background: var(--gradient-1);
	border-radius: inherit;	
	content: '';
	display: block;
	inline-size: 100%;
	position: absolute;
	left: 0;
	/* z-index: -1; */
}