.menu-context {
	--menu-bdrs: .25em;
	--menu-bgc: var(--menu-context-bgc, var(--gray-1));
	--menu-d: grid;
	--menu-gap: .25em;
	--menu-item-bdrs: .25em;
	--menu-item-fz: 0.875em;
	--menu-item-hover-bgc: var(--accent-color);
	--menu-item-hover-c: var(--accent-text-color);
	--menu-item-pb: .25em;
	--menu-item-pi: .5em;
	--menu-p: .5em;
}

:is(.menu-list, .menu-list-button) {
	--menu-d: grid;
	--menu-gap: 0;
	--menu-item-bdrs: .5em;
	--menu-item-mis: 12rem;
	--menu-item-pb: .75em;
	--menu-item-pi: .25em;
}
:is(.menu-list, .menu-list-button) [role="menuitem"] {
	align-items: center;
	display: flex
}

.menu-list-button {
	--menu-gap: 1ch;
	--menu-item-bgc: var(--menu-list-button-bgc, var(--gray-2));
	--menu-item-pi: .5em;
}

.menu-list-icon {
	--a-bgc: none;
	--a-icon-sz: 1.5em;
	--a-trs: none;
	--menu-d: grid;
	--menu-gap:1ch;
	--menu-item-asr: 1 / 1;
	--menu-item-bdrs: 50%;
	--menu-item-fx: 1;
	--menu-item-pb: 0.5em;
	--menu-item-pi: 0.5em;
	--menu-item-tal: center;
}
.menu-list-icon [data-bs="active"] { box-shadow: 0 0 0 2px var(--accent-color-text); }

.menu-tab {
	--menu-gap: 0;
	--menu-item-bdc: var(--menu-tab-bdc, var(--gray-2));
	--menu-item-bdw: var(--menu-tab-bdw, 0 0 5px 0);
	--menu-item-pb: 1em;
	--menu-item-pi: 1.5em;
}
.menu-tab [data-bs="active"] { --menu-item-bdc: var(--accent-color); }

.menu-tab-bar {
	--icon-sz: 2em;
	--menu-bdrs: .25em;
	--menu-bgc: var(--menu-tab-bar-bgc, var(--gray-2));
	--menu-gap: 0;
	--menu-item-fz: .75rem;
	--menu-item-pb: .25em .5em;
	--menu-item-pi: 1em;
	overflow: hidden;
}