/* List Item Styles */
.li-active { 
	--li-bf-bgc: var(--accent-color);
	--li-bf-c: var(--accent-text-color);
}
.li-active:not(.li-outline).li-checked { --_icon: var(--li-icon-light); }
.li-active.li-outline {
	--li-bf-bdc: var(--accent-color);
	--li-bf-bgc: transparent;
	--li-bf-c: initial;
}
.li-bullseye {
	--li-bf-bxsh: inset 0px 0px 0px 4px var(--li-bf-bgc), inset 0px 0px 0px 8px #fff;
	--li-bf-c: transparent;
}
.li-checked { --_icon: var(--li-icon-dark); }
.li-checked::before { 
	background: var(--li-bf-bgc) var(--_icon) no-repeat center center/45%;
	--li-bf-c: transparent;
}
.li-circle {
	--li-bf-bdrs: 50%;
	--li-bf-sz: 2.125rem;
}
.li-circle, .li-square {
	--li-bf-d: inline-grid;
	--li-bf-fz: 90%;
	--li-lh: 2;
}
.li-dark {
	--li-bf-bgc: var(--li-dark-bf-bgc);
	--li-bf-c: var(--li-dark-bf-c);
}
.li-dark.li-bullseye { --li-bf-c: transparent; }
.li-dark:not(.li-outline).li-checked { --_icon: var(--li-icon-light); }
.li-dark.li-outline {
	--li-bf-bdc: var(--li-dark-bf-bgc);
	--li-bf-bgc: transparent;
	--li-bf-c: initial;
}
.li-dashed { --_bds: dashed; }
.li-dotted { --_bds: dotted; }
.li-outline { --li-bf-bdw: var(--li-outline-bdw, 2px); }
.li-scale-md::before { transform: scale(0.85); }
.li-scale-sm::before { transform: scale(0.75); }
.li-scale-xs::before { transform: scale(0.65); }
.li-square { --li-bf-sz: 2rem; }

/* Custom List */
.list-custom { list-style: none; }
ul.list-custom li { --li-bf-cnt: '\00A0'; } /* no-break space */

/* You can also set `li-circle` and `li-square` directly on `<ol>`/`<ul>`. Add `list-custom` to have a list of mixed styles */
:where(.list-custom, .li-circle, .li-square) li {
	--li-bf-cnt: counter(ol);
	--li-bf-mi: 0 .85ch;
}

/*
========
LAYOUTS
========
*/

/* Breadcrumbs */
.list-breadcrumb {
	--li-ai: center;
	--li-d: flex;
}

/* Horizontal layout */
.list-horizontal {
	--li-bf-mi: 0 .75ch;
	--list-pis: 0;
	align-items: center;
	display: flex;
	gap: var(--list-gap, 1.25ch);
	white-space: nowrap;
}

/* Lines between list-items */
.list-line {
	--_bds: solid;
	--list-gap: 0;
	--list-pis: 0;
}
.list-line:not(.list-horizontal) li {
	--_h: 100%;
	--_l: calc((var(--li-bf-sz) - var(--_w) ) / 2 );
	--_t: calc(0px - var(--li-bf-sz));
	--_w: 3px;
	--li-lh: 3;
	--li-d: grid;
  grid-template-columns: max-content 1fr;
  place-items: baseline;
}
.list-line.list-horizontal li {
	--_h: 3px;
	--_w: 100%;
	--_t: 16px;
	--_l: -50%;
	--li-bf-mi: 0px;
	--li-d: grid;
	--li-mis: 8em;
	--li-plc: center;
}
.list-line.list-horizontal li::before { place-self: center; }
.list-line.list-horizontal li::after { border-block-start: var(--_h) var(--_bds) var(--li-bf-bgc); }
.list-line:not(.list-horizontal) li::after { border-inline-start: var(--_w) var(--_bds) var(--li-bf-bgc); }
.list-line li:not(:first-of-type)::after,
.list-timeline li:not(:last-of-type)::after {
	block-size: var(--_h);
	content: "";
	display: block;
	inline-size: var(--_w);
	inset-block-start: var(--_t);
	inset-inline-start: var(--_l);
	position: absolute;
	z-index: 0;
}

/* Timeline */
/* TODO! scroll-snap */
.list-timeline.list-horizontal {
	--list-gap: var(--list-timeline-gap, 2ch);
	align-items: baseline;
	white-space: normal;
}
.list-timeline li {	
	--li-mas: 20rem; /* TODO! */
}
.list-timeline.list-horizontal li {
	--li-mas: 15rem; /* TODO! */
	--li-mis: 15rem;
	--li-plc: flex-start;
}
.list-timeline.list-horizontal li::before { place-self: flex-start; }
.list-timeline.list-horizontal li::after { inset-inline-start: 0; --_w: calc(100% + var(--list-gap)); }

/* Content Box for Timeline */
.list-timeline li > span {
	display: block;
	font-size: smaller;
	line-height: 1.2;
	margin-block-start: -1ch;
	padding: 1ch;
}
.list-timeline.list-horizontal li > span { margin-block-start: 1ch; }
.li-content-active {
	background-color: var(--accent-color);
	color: var(--accent-text-color);
}