.table-border {  --table-bdcl: collapse; }
.table-border :is(td, th) { --td-bdw: 1px; --th-bdw: 1px; }
.table-zebracol-even td:nth-of-type(even) { --td-bgc: var(--table-zebra-bg, var(--gray-1)); }
.table-zebracol-odd td:nth-of-type(odd) { --td-bgc: var(--table-zebra-bg, var(--gray-1)); }
.table-zebrarow tr:nth-of-type(even) td { --td-bgc: var(--table-zebra-bg, var(--gray-1)); }