[data-bs~="border"] { 
	--table-bdcl: collapse;
	--td-bdw: 1px; --th-bdw: 1px; 
}
/* [data-bs*="zebra"] { --color-zebra-bgc: var(--color-gray-1); } */

[data-bs~="zebracol-even"] td:nth-of-type(even) { --td-bgc: var(--color-zebra-bgc); }
[data-bs~="zebracol-odd"] td:nth-of-type(odd) { --td-bgc: var(--color-zebra-bgc); }
[data-bs~="zebrarow-even"] tr:nth-of-type(even) td { --td-bgc: var(--color-zebra-bgc); }
[data-bs~="zebrarow-odd"] tr:nth-of-type(odd) td { --td-bgc: var(--color-zebra-bgc); }
[data-bs~="zebrarow-odd"] th { --th-bgc: transparent; }

/* Column-alignment, if you need to support more than 8 columns, add more */
[data-col-1~="center"] tr > *:nth-of-type(1),
[data-col-2~="center"] tr > *:nth-of-type(2),
[data-col-3~="center"] tr > *:nth-of-type(3),
[data-col-4~="center"] tr > *:nth-of-type(4),
[data-col-5~="center"] tr > *:nth-of-type(5),
[data-col-6~="center"] tr > *:nth-of-type(6),
[data-col-7~="center"] tr > *:nth-of-type(7),  
[data-col-8~="center"] tr > *:nth-of-type(8) { text-align: center; }

[data-col-1~="end"] tr > *:nth-of-type(1),
[data-col-2~="end"] tr > *:nth-of-type(2),
[data-col-3~="end"] tr > *:nth-of-type(3),
[data-col-4~="end"] tr > *:nth-of-type(4),
[data-col-5~="end"] tr > *:nth-of-type(5),
[data-col-6~="end"] tr > *:nth-of-type(6),
[data-col-7~="end"] tr > *:nth-of-type(7)
[data-col-8~="end"] tr > *:nth-of-type(8) { text-align: end; }