:host::after, :host::before { box-sizing: border-box; }
:host {
	--_open: 0;
	--_bdrs: 50%;
	--_bdw: 0.0625em;
	--_bdwh: calc(var(--_bdw) / 2);
	--_cosh: calc(1em * cos(45deg));
	--_fz: 100%;
	--_trs: .25s cubic-bezier(.4, 0, .2, 1);
	--_cpw: calc(100% - (1.5 * var(--_p, 0)));

	background: var(--_bg, transparent);
	border-radius: var(--_bdrs);
	display: grid;
	font-size: var(--_fz);
	height: var(--_w, 1em);
	padding: var(--_p, 0);
	transition: var(--_trs);
	width: var(--_w, 1em);
}
:host::before,
:host::after {
	box-sizing: border-box;
	content: "";
	display: block;
	grid-area: 1 / 1;
	place-self: center;
	transition: var(--_trs);
}
:host::before {
	aspect-ratio: 1 / 1;
	background: currentColor;
	width: var(--_bw, 0);
}

[open] ~ :host, :host([open]) { --_open: 1; }

/* Arrow, Check, Chevron (+ common: Cross, Menu, Plus) */
:host([type~=arrow])::after,
:host([type~=check])::after,
:host([type~=chevron])::after {
	border-color: currentColor;
	border-style: solid;
	border-width: var(--_bdw) var(--_bdw) 0 0;
	height: var(--_cosh);
	rotate: 45deg;
	width: var(--_cosh);
}
:host([type~=arrow])::before,
:host([type~=cross])::before,
:host([type*=menu])::before,
:host([type*=plus])::before,
:host([type~=cross])::after,
:host([type*=menu])::after,
:host([type~=minus])::after,
:host([type*=plus])::after {
	background-color: currentColor;
	height: var(--_bdw);
	width: 1em;
}
:host([type*=arrow])::before {
	width: calc(1em - var(--_bdw));
}
:host([type=check])::after {
	border-width: 0 var(--_bdw) var(--_bdw) 0;
	height: calc(1em * cos(22.5deg));
	translate: 0 calc((.25em - var(--_bdwh)) * cos(45deg) * -1);
	width: calc(var(--_cosh)* 0.6);
}
:host([type*=chevron])::after {
	translate: calc((.25em - var(--_bdwh)) * cos(45deg) * -1) 0;
}

:host([type=cross])::before {
	rotate: 45deg;
}
:host([type=cross])::after {
	rotate: -45deg;
}





/* Grid, Kebab, Meatball */
:host([type=drag])::before,
:host([type=grid])::before,
:host([type=kebab])::before,
:host([type=meatball])::before {
	border-radius: 50%;
	width: .2em;
}
:host([type=drag])::before { translate: .2em 0; }
:host([type=drag])::before {
box-shadow: 
-.4em -.3em 0, 0 -.3em 0,
-.4em 0 0,
-.4em .3em 0, 0 .3em 0;
}
:host([type=grid])::before {
box-shadow: 
-.3em -.3em 0, 0 -.3em 0, .3em -.3em 0,
-.3em 0 0, .3em 0 0,
-.3em .3em 0, 0 .3em 0, .3em .3em 0;
}
:host([type=kebab])::before { box-shadow: 0 .3em 0, 0 -.3em 0; }
:host([type=meatball])::before { box-shadow: -.3em 0 0, .3em 0 0; }

/* Menu */
:host([type=veggie-menu]) { --_g: .3em; }
:host([type=burger-menu]), :host([type=filter-menu]) { --_g: .6em; }
:host([type=burger-menu])::before { box-shadow: 0 calc(0em - (var(--_g) / 2) * var(--_open) + (var(--_g) / 2)) 0 currentColor; }
:host([type*=menu])::before { margin-block-end: calc(0em - var(--_g) * var(--_open) + var(--_g)) ; rotate: calc(45deg * var(--_open)); } 
:host([type*=menu])::after { margin-block-start: calc(0em - var(--_g) * var(--_open) + var(--_g)); rotate: calc(-45deg * var(--_open)); }

/* Angle */
:host([type~=down]) { rotate: 90deg; }
:host([type~=down]), :host([type~=up]) { scale: calc(-2 * var(--_open) + 1) 1; }
:host([type~=left]) { scale: -1; rotate: calc(-90deg * var(--_open)); }
:host([type~=right]) { rotate: calc(90deg * var(--_open)); }
:host([type~=up]) { rotate: -90deg; }
:host([type~=downleft]) {
	&::after { rotate: 180deg; }
	&::before { rotate: 135deg; }
}
:host([type~=downright]) {
	&::after { rotate: 90deg; }
	&::before { rotate: 45deg; }
}
:host([type~=upleft]) {
	&::after { rotate: -90deg; }
	&::before { rotate: -135deg; }
}
:host([type~=upright]) {
	&::after { rotate: unset; }
	&::before { rotate: 135deg; }
}
:host([type~=downleft]), :host([type~=downright]), :host([type~=upleft]), :host([type~=upright]) { scale: calc(-2 * var(--_open) + 1); }



:host([type*=plus])::after { rotate: -90deg; }



/* clip-path based:  */
:host([type=first])::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 20% 0%, 20% 50%, 100% 0%, 100% 100%, 20% 50%, 20% 100%, 0% 100%); }
:host([type=last])::before { --_bw: var(--_cpw); clip-path: polygon(0% 0%, 80% 50%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 50%, 0% 100%); }
:host([type=pause])::before { --_bw: var(--_cpw); clip-path: polygon(40% 0%, 0% 0%, 0% 100%, 40% 100%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }
:host([type=rewind])::before { --_bw: var(--_cpw); clip-path: polygon(0% 50%, 50% 10%, 50% 50%, 100% 10%, 100% 90%, 50% 50%, 50% 90%, 0% 50%); }
:host([type=forward])::before { --_bw: var(--_cpw); clip-path: polygon(0% 10%, 50% 50%, 50% 10%, 100% 50%, 50% 90%, 50% 50%, 0% 90%); }
/* play: polygon(15% 0%, 15% 100%, 100% 50%); */
:host([type*=play])::before { --_bw: var(--_cpw); clip-path: polygon(15% 0%, 15% 100%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }

:host([open]):host([type=play-pause])::before { clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0%, 40% 0%, 60% 0%, 100% 0%, 100% 100%, 60% 100%, 60% 0%); }
:host([type=stop])::before { --_bw: var(--_cpw); clip-path: inset(0 0 0 0 round 2px); }

:host([type*=triangle])::before { --_bw: var(--_cpw); clip-path: polygon(25% 0%, 100% 50%, 25% 100%);}

/* Size */
:host([size*=xs]) { --_fz: 50%; }
:host([size*=sm]) { --_fz: 60%; }
:host([size*=md]) { --_fz: 80%; }
:host([size*=lg]) { --_fz: 120%; }
:host([size*=xl]) { --_fz: 140%; }
:host([size*=xxl]) { --_fz: 200%; }

/* State */


:host([type=plus-cross]) { rotate: calc(45deg * var(--_open)); }

[open] ~ :host, :host([open]):host([type=plus-minus])::after { rotate: 0deg; }
:host([open]):host([type=grid])::before {
	rotate: 135deg;
}

:host([open]):host([type=kebab])::before,
:host([open]):host([type=meatball])::before {
	box-shadow: -.3em 0 0, 0 .3em 0, 0 -.3em 0, .3em 0 0;
	rotate: 45deg;
}

/* Stroke */
:host([stroke*=xs]) { --_bdw: 0.003125em; }
:host([stroke*=sm]) { --_bdw: 0.0625em; }
:host([stroke*=md]) { --_bdw: 0.125em; }
:host([stroke*=lg]) { --_bdw: 0.1875em; }
:host([stroke*=xl]) { --_bdw: 0.25em; }