:where(.ui-xy) {
	all: unset;
	aspect-ratio: 1 / 1;
	background-color: var(--GrayCanvas);
	border-radius: var(--input-bdrs);
	direction: ltr;
	position: relative;
	touch-action: none;
	width: 100%;

	& [name="xyPoint"] {
		aspect-ratio: 1 / 1;
		background-color: var(--ButtonFace);
		border: var(---ui-xy-point-bdw, 0.5rem) solid var(--ButtonBorder);
		border-radius: var(--ui-xy-point-bdrs, 50%);
		inline-size: var(--ui-xy-point-sz, 4rem);
		outline: none;
		pointer-events: none;
		touch-action: none;
		transform: translate3d(calc(1px * var(--tx)), calc(1px * var(--ty)), 0);
		transition: none;
		user-select: none;
		&:focus-visible {
			background: var(--AccentColorLight);
			border-color: var(--AccentColor);
		}
	}
	&.--snap {
		--ui-xy-grid-bdw: 1px;
		--ui-xy-point-bdrs: 0;
		--ui-xy-point-sz: calc(100% / var(--xy-grid-x));
		--_wx: calc( (100% - (((var(--xy-grid-x, 1) - 1) * var(--ui-xy-grid-bdw)))) / var(--xy-grid-x, 1) );
		--_wy: calc( (100% - (((var(--xy-grid-y, 1) - 1) * var(--ui-xy-grid-bdw)))) / var(--xy-grid-y, 1) );

		background-image: repeating-linear-gradient(to right,
			transparent, transparent var(--_wx),
			var(--ButtonFace) var(--_wx), var(--ButtonFace) calc(var(--_wx) + var(--ui-xy-grid-bdw) ) ),
			repeating-linear-gradient(to bottom,
			transparent, transparent var(--_wy),
			var(--ButtonFace) var(--_wy), var(--ButtonFace) calc(var(--_wy) + var(--ui-xy-grid-bdw) ) );
	}
}