<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout Demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="dist/layout.min.css">
	<link rel="stylesheet" href="dist/content.min.css">
	<link rel="stylesheet" href="demo.css">
	
</head>
<body>

	<h1>Advanced Demo</h1>

	<lay-out
		sm="grid(3a)"
		md="grid(3b)"
		lg="grid(3d)"
		xl="grid(3c)">
		<con-tain>
			<item-card sm="rows(b-t)">
				<figure>
					<img src="https://picsum.photos/seed/1/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>
		</con-tain>
		<con-tain>
			<item-card sm="rows(b-t)" lg="stack(b-r)" md="stack(c-c)" xxl="stack(b-r)">
				<figure>
					<img src="https://picsum.photos/seed/3/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>
		</con-tain>
		<con-tain>
			<item-card sm="rows(t-b)">
				<figure>
					<img src="https://picsum.photos/seed/2/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>
		</con-tain>
	</lay-out>

<lay-out
	bleed=""
	xs="pi(1) pbs(3) pbe(6) rg(3) mbs(4) mbe(4)"
	width="xl">
	<h2>Some section headline</h2>
	<lay-out
		md="grid(3a)"
		xl="bento(6a)"
		width="xl">
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
	</lay-out>
</lay-out>

	<lay-out
		md="columns(3)"
		xs="pi(1) pb(2) mbe(4)"
		animation="fade-up"
		bleed>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
	</lay-out>

	<lay-out
		lg="grid(4b)"
		animation="bounce-in-left">
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
	</lay-out>

	<lay-out
		sm="columns(2)"
		md="bento(1lg:2sm-right)"
		lg="bento(fixed-8a)"
		xl="mosaic(scatter)"
		xs="pi(2) pb(3)"
		animation="fade-in-scale"
		bleed>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
		<item-card></item-card>
	</lay-out>

	</body>
	</html>