/* Base styles for all weather widgets */

:host {
	--weather-widget-bdc: color-mix(in srgb, currentColor, 80% transparent);
	--weather-widget-bdw: 1px;
	--weather-widget-light-text: color-mix(in srgb, currentColor, 30% transparent);
	--weather-widget-p: 1rem;
	--weather-widget-bgc: light-dark(hsl(210, 55%, 45%), hsl(235, 30%, 22%)); /*  hsl(210, 35%, 25%) */
	--weather-widget-c: light-dark(hsl(210, 100%, 95%), hsl(210, 95%, 90%));

	background-image: var(--weather-widget-bgi, none);
	background-position: var(--weather-widget-bgp, center);
	background-size: var(--weather-widget-bgsz, cover);
	border-radius: var(--weather-widget-bdrs, 1rem);
	container-type: inline-size;
	display: grid;
	font-family: var(--weather-widget-ff, ui-sans-serif, system-ui);
	font-size: var(--weather-widget-fs, .75rem);
	gap: var(--weather-widget-g, 1em);
}

:host * {
	box-sizing: border-box;
}

:host :is(h2, h3, h4, p) {
	margin: unset;
	text-box: text;
}

/* === Inner Widget === */
:host::part(widget){
	align-content: start;
	backdrop-filter: var(--weather-widget-bdf, none);
	background-color: var(--weather-widget-bgc);
	border-radius: inherit;
	color: var(--weather-widget-c);
	display: grid;
	height: 100%;
	padding: var(--weather-widget-p);
	row-gap: var(--weather-widget-rg, .5ch);
}
:host::part(icon) {
	fill: none;
	height: 1.25em;
	pointer-events: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.25;
	width: 1.25em;
}
:host::part(icon-lg) {
	fill: none;
	height: 3em;
	pointer-events: none;
	rotate: var(--_r, 0deg);
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.5;
	width: 3em;
}
:host::part(list) {
	all: unset;
	align-self: center;
}
:host::part(list-item) {
	border-block-start: var(--weather-widget-bdw) solid var(--weather-widget-bdc);
	display: flex;
	justify-content: space-between;
	padding-block: var(--weather-widget-wind-item-p, calc(var(--weather-widget-p) / 2));
}
:host::part(list-item-key) {
	font-weight: var(--weather-widget-wind-item-key-fw, 500);
}
:host::part(list-item-value) {
	color: var(--weather-widget-wind-item-value-color, var(--weather-widget-light-text));
}
[part~=list] li:first-of-type {
	border: 0;
}
:host::part(title) {
	align-items: center;
	border-block-end: var(--weather-widget-bdw) solid var(--weather-widget-bdc);
	display: flex;
	font-size: var(--weather-widget-title-fs, 1.2em);
	font-weight: var(--weather-widget-title-fw, 500);
	gap: .25ch;
	margin-block-end: calc(var(--weather-widget-p) / 2);
	padding-block-end: calc(var(--weather-widget-p) / 2);
	text-wrap: nowrap;
	text-overflow: ellipsis;
}
:host::part(header-xl) {
	font-size: var(--weather-widget-header-xl-fs, clamp(1.625rem, 6.5cqi, 6.5rem));
	font-weight: var(--weather-widget-header-xl-fw, 300);
}
:host::part(header-lg) {
	font-size: var(--weather-widget-header-lg-fs, clamp(1.25rem, 4cqi, 4rem));
	font-weight: var(--weather-widget-header-lg-fw, 300);
}
:host::part(header-md) {
	font-size: var(--weather-widget-header-md-fs, clamp(1rem, 2cqi, 2rem));
	font-weight: var(--weather-widget-header-md-fw, 300);
}
:host::part(light-text) {
	color: var(--weather-widget-light-text);
}
:host::part(condition-icon) {
	max-width: unset;
	width: var(--weather-widget-condition-icon-w, clamp(2rem, 10cqi, 4rem));
}
:host::part(unit-switcher) {
	cursor: pointer;
	font-size: 0.8em;
	margin-inline-start: auto;
	margin-left: auto;
	transition: opacity 0.2s;
	user-select: none;
}