:host {
	--gui-panel-bxsh: 0px 8px 56px 0px color-mix(in srgb, CanvasText, transparent 70%);
	--gui-panel-gap: .5rem;
	--gui-panel-m: 1rem;
	--gui-panel-w: 265px;
	--gui-panel-popover-w: 265;
	--gui-panel-docked-w: 220;
	--gui-panel-docked-maw: 500;
	--gui-panel-docked-miw: 65;
	--gui-panel-icon-sz: 1.25rem;
	--gui-panel-rz-touch: 12px;
	--gui-panel-rz-area: 6px;

	background: var(--gui-panel-bg, Canvas);
	border: 0;
	box-sizing: border-box;
	color: var(--gui-panel-c, CanvasText);
	color-scheme: light dark;
	container-type: inline-size;
	font-family: var(--gui-panel-ff, system-ui, sans-serif);
	font-size: var(--gui-panel-fs, 1rem);
	grid-template-columns: var(--_rzis, var(--gui-panel-rz-area)) 1fr var(--_rzie, var(--gui-panel-rz-area));
	grid-template-rows: var(--_rzbs, var(--gui-panel-rz-area)) min-content minmax(0, 1fr) var(--_rzbe, var(--gui-panel-rz-area));
	inset-block: var(--gui-panel-y, var(--gui-panel-m)) auto;
	inset-inline: var(--gui-panel-x, calc(100% - var(--gui-panel-w) - var(--gui-panel-m))) auto;
	interpolate-size: allow-keywords;
	padding: 0;
	max-height: calc(100dvh - (2 * var(--gui-panel-m)));
	min-height: max-content;
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	width: var(--gui-panel-w);
}

:host(:popover-open) { display: grid }

:host([popover]) {
	border-radius: var(--gui-panel-bdrs, 10px);
	box-shadow: var(--gui-panel-bxsh);
	height: var(--gui-panel-h, auto);
	touch-action: none;
}

[hidden] { display: none !important;}
:host([popover]) [part~="icon-button"][part~="resize"], 
:host([popover]) [part~="icon-button"][part~="undock"] {
	display: none;
}

/* docked */
:host(:not([popover])[dock]) {
	display: grid;
	header { 
		display: flex;
		[part~="close"],
		[part~="reset"],
		[part="heading"] { 
			display: none; 
		}
	}
	[part~="icon-group"] {
		display: contents;
	}
	[part~="resize-block-start"],
	[part~="resize-block-end"] { 
		display: none; 
	}
}

:host(:not([popover])[dock="end"]) header {
  justify-content: end;
}

/* parts */
[part~="content"] {
	grid-area: 3 / 1 / 4 / 4;
	overflow: auto;
	scrollbar-color: #CCC8 #0000;
	scrollbar-width: thin;
}
[part~="header"] {
	align-items: center;
	display: grid;
	grid-area: 2 / 2 / 3 / 3;
	grid-template-columns: 1fr 2fr 1fr;
	min-height: min-content;
	[part~="icon-group"]:last-of-type {
		justify-content: end;
	}
}
[part~="icon"] {
	fill: none;
	height: var(--gui-panel-icon-sz);
	pointer-events: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
	width: var(--gui-panel-icon-sz);
}
[part~="icon-button"] {
	display: inline-grid;
	background: #0000;
	color: inherit;
	border: none;
	border-radius: 50%;
	padding: calc(var(--gui-panel-rz-area) / 2);
}
[part~="icon-group"] {
	display: flex;
	padding-inline: calc(var(--gui-panel-rz-area) / 2);
}
[part~="heading"] {
	cursor: move;
	font-size: var(--gui-panel-heading-fs, 0.875rem);
	font-weight: 500;
	text-align: center;
	transition: all .16s ease;
}

/* position */
:host([position~="bottom"]) { 
	inset-block: var(--gui-panel-y, calc(100dvh - var(--gui-panel-h) - var(--gui-panel-m))) auto;
}
:host([position~="center"]) {
	inset-inline: var(--gui-panel-x, calc(50vw - (var(--gui-panel-w) / 2))) auto;
}
:host([position~="left"]) {
	inset-inline: var(--gui-panel-x, var(--gui-panel-m)) auto;
}

/* resize */
[part*="resize-"] {
	display: grid;
}
[part~="resize-block-start"] {
	grid-area: 1 / 1 / 2 / 4;
	place-self: start center;
}
[part~="resize-block-end"] {
	grid-area: 4 / 1 / 5 / 4;
	place-self: end center;
}
:host([resize~="block-start"]) [part~="resize-block-start"] {
	height: 100%;
	cursor: ns-resize;
	width: 100%;
}
:host([resize~="block-end"]) [part~="resize-block-end"] {
	height: 100%;
	cursor: ns-resize;
	width: 100%;
}
[part~="resize-inline-start"] {
	grid-area: 1 / 1 / 4 / 2;
}
[part~="resize-inline-end"] {
	grid-area: 1 / 3 / 4 / 4;
}
:host([resize~="inline-start"]) [part~="resize-inline-start"],
:host([resize~="inline-end"]) [part~="resize-inline-end"] {
	cursor: ew-resize;
}

/* media */
@media (prefers-color-scheme: light) {
	:host(.cs) { color-scheme: dark; }
	:host::part(content) { scrollbar-color: #CCC8 #0000; }
	:host(.cs)::part(content) { scrollbar-color: #CCC5 #0000; }
}
@media (prefers-color-scheme: dark) {
	:host(.cs) { color-scheme: light; }
	:host::part(content) { scrollbar-color: #CCC5 #0000; }
	:host(.cs)::part(content) { scrollbar-color: #CCC8 #0000; }
}
@media (hover:hover) {
	[part~="icon-button"]:hover { background: #CCC8; }
	[part~="heading"]:hover { font-weight: 700; scale: 1.025; } 
}
@media (pointer: coarse) {
	/* Touch-specific styles */
	:host([resize~="block-start"]) { --_rzbs: var(--gui-panel-rz-touch); }
	:host([resize~="block-end"]) { --_rzbe: var(--gui-panel-rz-touch); }
	:host([resize~="inline-start"]) { --_rzis: var(--gui-panel-rz-touch); }
	:host([resize~="inline-end"]) { --_rzie: var(--gui-panel-rz-touch); }

	:host([resize~="block-start"]) [part~="resize-block-start"]::before,
	:host([resize~="block-end"]) [part~="resize-block-end"]::before,
	:host([resize~="inline-start"]:not(:popover-open)) [part~="resize-inline-start"]::before,
	:host([resize~="inline-end"]:not(:popover-open)) [part~="resize-inline-end"]::before {
		background: var(--gui-panel-rz-bg, light-dark(#CCC4, #CCC1));
		border-radius: 40px;
		content: '';
		display: block;
	}
	:host([resize~="block-start"]) [part~="resize-block-start"]::before {
		height: var(--gui-panel-rz-area);
		place-self: end center;
		width: 80px;
	}
	:host([resize~="block-end"]) [part~="resize-block-end"]::before {
		height: var(--gui-panel-rz-area);
		place-self: start center;
		width: 80px;
	}
	:host([resize~="inline-start"]) [part~="resize-inline-start"]::before {
		height: 80px;
		place-self: center end;
		width: var(--gui-panel-rz-area);
	}
	:host([resize~="inline-end"]) [part~="resize-inline-end"]::before {
		height: 80px;
		place-self: center start;
		width: var(--gui-panel-rz-area);
	}
}