@layer bs-component {
	:where(.ui-file-tree) {
		--ui-file-bs: .75em;
		--ui-file-tree-bds: solid;
		--ui-file-tree-bdw: 1px;
		--ui-file-tree-gap: 1ch;

		direction: ltr;
		font-size: var(--ui-file-tree-fs, smaller);
		margin: 0;
		padding: 0;
		& li {
			list-style: none;
			margin-inline-start: var(--ui-file-tree-gap);
			padding-inline-start: calc(2 * var(--ui-file-tree-gap));
			position: relative;
			&::before {
				block-size: 100%;
				border-inline-start: var(--ui-file-tree-bdw) var(--ui-file-tree-bds) currentColor;
				content: " ";
				inline-size: var(--ui-file-tree-bdw);
				inset-block-start: 0;
				inset-inline-start: calc(0px - var(--ui-file-tree-gap));
				position: absolute;
			}
			&:last-of-type::before { block-size: var(--ui-file-bs); }
			&::after {
				block-size: var(--ui-file-tree-bdw);
				border-block-start: var(--ui-file-tree-bdw) var(--ui-file-tree-bds) currentColor;
				content: "";
				inline-size: calc(2 * var(--ui-file-tree-gap));
				inset-block-start: var(--ui-file-bs);
				inset-inline-start: calc(0px - var(--ui-file-tree-gap));
				position: absolute;
			}
		}
		& ul {
			margin: 0;
			padding-block: 0; 
			padding-inline: var(--ui-file-tree-gap) 0;
		}
	}
}