@media (min-width: 380px) {
	lay-out[sm="columns(2)"],
	lay-out[sm="bento(2sm:1lg-h)"],
	lay-out[sm="bento(1lg-h:2sm)"],
	lay-out[sm="bento(1lg-h:4sm)"],
	lay-out[sm="bento(4sm:1lg-h)"] { 
		--layout-gtc: 1fr 1fr; 
	}
	lay-out[sm="columns(2)"] { --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[sm="columns(3)"] { 
		--layout-gtc: 1fr 1fr 1fr; 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
}
