@import url('ui-grid-cols.css');
@import url('ui-grid-span.css');

:where(.ui-grid) {
	column-gap: var(--ui-grid-cg, 1em);
	display: grid;
	grid-template-columns: repeat(var(--ui-grid-cols, 1), 1fr);
	row-gap: var(--ui-grid-rg, 1em);
}