@container (min-width: 380px)  {
	/* Autofill / Autofit */
	lay-out[sm="autofill"] { 
		--layout-gtc: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
	lay-out[sm="autofit"] { 
		--layout-gtc: repeat(auto-fit, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}

	/* Columns / Masonry */
	lay-out[sm="columns(2)"],
	lay-out[sm="masonry(2sm:1lg-h)"],
	lay-out[sm="masonry(1lg-h:2sm)"],
	lay-out[sm="masonry(1lg-h:4sm)"],
	lay-out[sm="masonry(4sm:1lg-h)"] { 
		--layout-gtc: 1fr 1fr; 
	}
	lay-out[sm="columns(2)"] { --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[sm="columns(3)"] { 
		--layout-gtc: repeat(3, 1fr); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
	lay-out[sm="masonry(2sm:1lg-h)"] { 
		--_ga: initial;
		& > * { --layout-ga: auto; }
		*:nth-of-type(3n+3) { --layout-ga: auto / span 2; } 
	}
	lay-out[sm="masonry(1lg-h:2sm)"] { 
		--_ga: initial;
		& > * { --layout-ga: auto; }
		*:nth-of-type(3n+1) { --layout-ga: auto / span 2; } 
	}
	lay-out[sm="masonry(1lg-h:4sm)"] {
		--_ga: initial;
		& > * { --layout-ga: auto; }
		*:nth-of-type(5n+1) { --layout-ga: auto / span 2; }
	}
	lay-out[sm="masonry(4sm:1lg-h)"] {
		--_ga: initial;
		& > * { --layout-ga: auto; }
		*:nth-of-type(5n+5) { --layout-ga: auto / span 2; }
	}
}
