@layer layout.base {
	lay-out {
		--layout-col-rule-c: #CCC;
		--layout-preview-size: 100px; /* preview when overflow is set to preview */
		--layout-space-unit: 1rem;

		--layout-bleed: attr(bleed type(<number>), 0);
		--layout-colmg: attr(col-gap type(<number>), 1);
		--layout-gtc: attr(columns type(<length> | <custom-ident>), 1fr);
		--layout-gtr: attr(rows type(<length> | <custom-ident>), auto);
		--layout-mbe: attr(space-bottom type(<number>), 0);
		--layout-mbs: attr(space-top type(<number>), 0);
		--layout-mw: attr(max-width type(<length> | <percentage>), 100vw);
		--layout-pbe: attr(pad-bottom type(<number>), 0);
		--layout-pbs: attr(pad-top type(<number>), 0);
		--layout-pi: attr(pad-inline type(<number>), 0);
		--layout-ps: attr(self type(<custom-ident>), auto);
		--layout-rg: attr(row-gap type(<number>), 1);

		background: var(--layout-bg, #0000);
		border-radius: var(--layout-bdrs, 0);
		box-sizing: border-box;
		color: var(--layout-c, inherit);
		column-gap: calc(var(--layout-colmg) * var(--layout-space-unit));
		contain: layout inline-size;
		display: grid;
		grid-auto-flow: dense;
		grid-template-columns: var(--layout-gtc);
		grid-template-rows: var(--layout-gtr);
		margin-block-start: calc(var(--layout-mbs) * var(--layout-space-unit));
		margin-block-end: calc(var(--layout-mbe) * var(--layout-space-unit));
		margin-inline: auto;
		max-inline-size: var(--layout-mw);
		padding-block-end: calc(var(--layout-pbe) * var(--layout-space-unit));
		padding-block-start: calc(var(--layout-pbs) * var(--layout-space-unit));
		padding-inline: calc(var(--layout-pi) * var(--layout-space-unit));
		place-self: var(--layout-ps, auto);
		row-gap: calc(var(--layout-rg) * var(--layout-space-unit));
		scroll-behavior: var(--layout-sb, smooth);
		scrollbar-color: var(--layout-scrollbar-c, #0000 #0000);
		scrollbar-width: var(--layout-scroll-w, thin);
		width: var(--layout-w, 100%);

		&:focus-visible {
			outline: var(--layout-ol, 1px dotted #CCC);
			outline-offset: var(--layout-olo, 4px);
			scrollbar-color: var(--layout-scrollbar-c--focus, #AAA #0000);
		}

		& > *:not(lay-out) { grid-area: var(--_ga, var(--layout-ga, auto)); }
		& > lay-out { width: 100%; }

		&[size] {
			--_sz: attr(size type(<length> | <custom-ident>), auto);
			content-visibility: auto;
			contain-intrinsic-size: var(--_sz);
		}

		/* bleed */
		&[bleed] {
			/* --layout-w: calc(100vw - var(--layout-mi, 0px)); */
			--layout-w: 100vw;
			--_pi: calc((100vw - var(--layout-bleed-mw, 100vw)) / 2);
			background-color: #0000;
			border-image: conic-gradient(var(--layout-bg) 0 0) fill 0//0 100vw;
			margin-inline: min(-1 * var(--layout-mi, 0px), var(--layout-bleed-mw, 100vw) / 2 - 50vw);
		}
		&[bleed]:not([bleed="0"]) {
			--_s: calc(1 + (var(--layout-bleed) / 100));
			--_e: calc(1 - (var(--layout-bleed) / 100));
			padding-inline: 
				max(calc(var(--layout-pi) * var(--layout-space-unit)), var(--_pi) * var(--_s, 1))
				max(calc(var(--layout-pi) * var(--layout-space-unit)), var(--_pi) * var(--_e, 1));
		}
		&[bleed][width] { --_pi: calc((100vw - var(--_mi)) / 2); }

		/* gap-decorations */
		&[gap-decorations] {
				/* Default variables for all rules */
				--_rule-w: var(--layout-rule-w, 1px);
				--_rule-s: var(--layout-rule-s, solid);
				--_rule-c: var(--layout-rule-c, #CCC);
				--_rule-o: var(--layout-rule-o, 0%);
		}
		&[gap-decorations*="cols"] {
				column-rule: 
						var(--layout-col-rule-w, var(--_rule-w)) 
						var(--layout-col-rule-s, var(--_rule-s)) 
						var(--layout-col-rule-c, var(--_rule-c));
				column-rule-outset: var(--layout-col-rule-o, var(--_rule-o));
		}
		&[gap-decorations*="rows"] {
				row-rule: 
						var(--layout-row-rule-w, var(--_rule-w)) 
						var(--layout-row-rule-s, var(--_rule-s)) 
						var(--layout-row-rule-c, var(--_rule-c));
				row-rule-outset: var(--layout-row-rule-o, var(--_rule-o));
		}

		/* header & description */
		&[aria-label] {
			&::before {
				content: attr(aria-label);
				font-size: var(--layout-header-fs, 2em);
				font-weight: var(--layout-header-fw, 500);
				grid-area: 1 / 1 / 1 / -1;
				text-box: text;
			}
		}

		/* overflow */
		&[overflow] {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			& > *:not(lay-out) { 
				flex: 0 0 calc((100% - (var(--_ci, 1) - 1) * calc(var(--layout-colmg) * var(--layout-space-unit))) / var(--_ci, 1)); 
				scroll-snap-align: start;
			}
		}
		&[overflow]:not([bleed]) {
			& > *:not(lay-out) { 
				scroll-margin-inline-start: calc(var(--layout-pi, 0) * var(--layout-space-unit));
			}
		}
		&[overflow][bleed] {
			& > *:not(lay-out) { 
				scroll-margin-inline-start: max(calc(var(--layout-pi) * var(--layout-space-unit)), var(--_pi) * var(--_s, 1));
			}
		}
		&[overflow~="none"] { overflow: hidden; }
		&[overflow~="preview"] {
			& > *:not(lay-out) { 
				flex: 0 0 calc((100% - var(--layout-preview-size) - (var(--_ci, 1) - 1) * calc(var(--layout-colmg) * var(--layout-space-unit))) / var(--_ci, 1)); 
			}
		}
		&[overflow~="dynamic"] {
			& > *:not(lay-out) { 
				flex: 0 0 calc((100% - (var(--_ci, 1) - 1) * calc(var(--layout-colmg) * var(--layout-space-unit))) / var(--_ci, 1) - var(--layout-preview-size)); 
			}
		}

		/* themes */
		&[theme="primary"] {
			--layout-bg: var(--layout-primary-bg, #0000);
			--layout-c: var(--layout-primary-c, inherit);
		}
		&[theme="secondary"] {
			--layout-bg: var(--layout-secondary-bg, #0000);
			--layout-c: var(--layout-secondary-c, inherit);
		}
		&[theme="tertiary"] {
			--layout-bg: var(--layout-tertiary-bg, #0000);
			--layout-c: var(--layout-tertiary-c, inherit);
		}

		/* width */
		&[width]:not([bleed]) { max-inline-size: var(--_mi); }
		&[width="xs"]  { --_mi: var(--layout-width-xs,  20rem); }
		&[width="sm"]  { --_mi: var(--layout-width-sm,  30rem); }
		&[width="md"]  { --_mi: var(--layout-width-md,  48rem); }
		&[width="lg"]  { --_mi: var(--layout-width-lg,  64rem); }
		&[width="xl"]  { --_mi: var(--layout-width-xl,  80rem); }
		&[width="xxl"] { --_mi: var(--layout-width-xxl, 96rem); }
	}
}

@layer layout.reset {
	lay-out {
		--_ga: initial;
		& > * {
		 	--layout-ga: auto;
		}
	}
}