:where(.ui-gradient-text) {
	background: linear-gradient(
		var(--ui-gradient-dir, 90deg),
		var(--ui-gradient, var(--AccentColor), var(--AccentColorLight), var(--AccentColor))) 0 0 / 
		var(--ui-gradient-bgsz-x, 150%) 100%;
	background-clip: text;
  -webkit-background-clip: text;
	color: transparent;

	&.--animate {
		--ui-gradient-bgsz: 300%;
		animation: move-bg 10s infinite alternate linear;
	}
}
@keyframes move-bg {
	to { background-position: var(--ui-gradient-bgsz-x, 250%) 0;}
}