@import "../progress/ui-progress.css";
@layer bs-component {
	:where(.ui-rating-histogram) {
		--AccentColor: var(--ui-rating-histogram-c, var(--ColorWarning));
		--ui-rating-c: var(--AccentColor);
		display: grid;
		row-gap: 1ch;
		& nav {
			align-items: center;
			display: grid;
			gap: 2ch;
			grid-template-columns: max-content 1fr min-content;
			& * { white-space: nowrap; }
			& small { color: var(--GrayText); }
		}
		& span {
			align-items: center;
			display: flex;
			gap: 1ch;
		}
		& strong {
			color: var(--CanvasText);
			font-weight: 700;
			font-size: xx-large;
		}
	}
}