<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>avatar</title>
	<meta charset="UTF-8">
	<link rel="preload" href="/css/styles.css" as="style">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: avatar">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/figure.css">
	<link rel="stylesheet" href="/css/components/avatar.css">
	<meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' cdn.jsdelivr.net 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=';
		style-src 'self' 'unsafe-inline';
	">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>

		<h1>browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr />
		<section>
			<h2>Avatar</h2>
			<p>Requires <code>figure</code>-styles.</p>

			<figure class="bs-avatar">
					<img src="/demo/avatar1.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
					<img src="/demo/avatar2.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
					<img src="/demo/avatar3.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
					<img src="/demo/avatar4.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
					<img src="/demo/avatar5.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
					<img src="/demo/avatar6.webp" width="100" height="100" alt="Avatar of unknown person" loading="lazy" decoding="async" />
			</figure>

		</section>
	</main>
	<script src="/main.js" defer></script>
</body>
</html>