<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>browser.style: imagecompare</title>
	<meta charset="UTF-8">
	<link rel="preload" href="/css/styles.css" as="style">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: imagecompare">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/tags/figure.css">
	<link rel="stylesheet" href="/css/tags/input.range.css">
	<link rel="stylesheet" href="/css/components/imagecompare.css">
	<meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=';
		style-src 'self' 'unsafe-inline';
	">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>

		<h1 class="bs-header">browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr />
		<section>
			<h2>Image Compare</h2>
			<p>Requires <code>figure</code> and <code>input[type="range"]</code> as well as a small JavaScript (190 bytes) that updates a <code>CSS Custom Property</code></p>

			<figure class="bs-imagecompare" data-bs="widescreen">
					<img src="/demo/color.jpeg" width="1000" height="563" alt="Color Image for Comparison" loading="lazy" decoding="async" />
				<img src="/demo/bw.jpeg" width="1000" height="563" alt="Black and White Image for Comparison" loading="lazy" decoding="async" />
				<input type="range" min="0" max="100" name="value" value="50" data-scope="parent" data-unit="%" aria-label="Slider for comparing two images" />
			</figure>

			<small>&copy; Photo by Karley Saagi, Pexels</small>

		</section>
	</main>
	<script src="/main.js" defer></script>
	<script src="/js/app.js" defer></script>
</body>
</html>