@import '../grid/ui-grid.css';
:where(.ui-table-grid) {
	--ui-table-grid-bdw: 2px;
	background: var(--ui-table-grid-bdc, var(--ButtonBorder));
	display: grid;
	gap: var(--ui-table-grid-bdw);
	padding: var(--ui-table-grid-bdw);
}