<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>Asymmetrical Layouts</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Asymmetrical Layouts using CSS layout system">
	<link rel="stylesheet" href="layout.min.css">
</head>
<body>
	<h1>Asymmetrical Layouts</h1>
	<p>These layouts use the <strong>asym()</strong> layout mode to create various asymmetrical patterns.<br>The layouts display a specific/fixed number of items.</p>

	<h2>2 Items</h2>
	<section>
		<h3>Asym l-r</h3>
		<small>Asymmetrical Left Right</small>
		<code>&lt;lay-out md="columns(2)" lg="asym(l-r)"&gt;</code>
		<lay-out md="columns(2)" lg="asym(l-r)">
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>
	<section>
		<h3>Asym r-l</h3>
		<small>Asymmetrical Right Left</small>
		<code>&lt;lay-out md="columns(2)" lg="asym(r-l)"&gt;</code>
		<lay-out md="columns(2)" lg="asym(r-l)">
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>
	<section>
		<h3>Asym t-b</h3>
		<small>Asymmetrical Top Bottom</small>
		<code>&lt;lay-out md="columns(2)" lg="asym(t-b)"&gt;</code>
		<lay-out md="columns(2)" lg="asym(t-b)">
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>
	<section>
		<h3>Asym b-t</h3>
		<small>Asymmetrical Bottom Top</small>
		<code>&lt;lay-out md="columns(2)" lg="asym(b-t)"&gt;</code>
		<lay-out md="columns(2)" lg="asym(b-t)">
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>

	<h2>3 Items</h2>
	<section>
		<h3>Asym tl-br</h3>
		<small>Asymmetrical Top Left > Bottom Right</small>
		<code>&lt;lay-out md="columns(3)" lg="asym(tl-br)"&gt;</code>
		<lay-out md="columns(3)" lg="asym(tl-br)">
			<item-card></item-card>
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>
	<section>
		<h3>Asym bl-tr</h3>
		<small>Asymmetrical Bottom Left > Top Right</small>
		<code>&lt;lay-out md="columns(3)" lg="asym(bl-tr)"&gt;</code>
		<lay-out md="columns(3)" lg="asym(bl-tr)">
			<item-card></item-card>
			<item-card></item-card>
			<item-card></item-card>
		</lay-out>
	</section>

</body>
</html>