<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="../index.css">
	<link rel="stylesheet" href="../demo/demo.css">
</head>
<body>

	<h1>Asymmetrical</h1>

	<p>
		These layouts use <strong>fixed patterns</strong> where the number of items is predetermined and the layout adapts to a specific arrangement. Unlike <strong>columns()</strong>, <strong>ratios()</strong> and non-fixed <strong>bento()</strong> layouts which repeat patterns, these asymmetrical layouts do not repeat.<br>
		If you add more items than the layout can handle, they will be hidden.
	</p>

	<h2>2 Items</h2>

	<section>
		<h3>Asymmetrical Left Right</h3>
		<code>&lt;lay-out md="asym(left-right)"&gt;</code>
		<lay-out md="asym(left-right)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Right Left</h3>
		<code>&lt;lay-out md="asym(right-left)"&gt;</code>
		<lay-out md="asym(right-left)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Top Bottom</h3>
		<code>&lt;lay-out md="asym(top-bottom)"&gt;</code>
		<lay-out md="asym(top-bottom)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>3 Items</h2>

	<section>
		<h3>Asymmetrical Top Left &gt; Bottom Right</h3>
		<code>&lt;lay-out md="asym(top-left-bottom-right)"&gt;</code>
		<lay-out md="asym(top-left-bottom-right)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Bottom Left &gt; Top Right</h3>
		<code>&lt;lay-out md="asym(bottom-left-top-right)"&gt;</code>
		<lay-out md="asym(bottom-left-top-right)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

</body>
</html>