<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="../index.css">
	<link rel="stylesheet" href="../demo/demo.css">
</head>
<body>

	<h1>Columns</h1>
	<p>These layouts use the <strong>columns()</strong> layout mode to create <strong>repeating patterns</strong> of items.<br>
		When you add more items, the pattern repeats automatically.</p>
	<h2>1 Item</h2>

	<section>
		<h3>1-column</h3>
		<code>&lt;lay-out&gt;</code>
		<lay-out col-gap="1em">
			<content-item></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>2 Items</h2>
	<section>
		<h3>2-column</h3>
		<code>&lt;lay-out md="columns(2)"&gt;</code>
		<lay-out md="columns(2)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>3 Items</h2>
	<section>
		<h3>3-column</h3>
		<code>&lt;lay-out sm="bento(1lg-h:2sm)" md="columns(3)"&gt;</code>
		<lay-out sm="bento(1lg-h:2sm)" lg="columns(3)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>4 Items</h2>
	<section>
		<h3>4-column</h3>
		<code>&lt;lay-out sm="columns(2)" md="columns(4)"&gt;</code>
		<lay-out sm="columns(2)" md="columns(4)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>5 Items</h2>
	<section>
		<h3>5-column</h3>
		<code>&lt;lay-out sm="ratio(50x4:100)" lg="columns(5)" col-gap="1em"&gt;</code>
		<lay-out sm="bento(1lg-h:4sm)" xl="columns(5)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>6 Items</h2>
	<section>
		<h3>6-column</h3>
		<code>&lt;lay-out sm="columns(2)" md="columns(3)" xl="columns(6)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="columns(3)" xl="columns(6)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

</body>
</html>