<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="../index.css">
	<link rel="stylesheet" href="../demo/demo.css">
</head>
<body>
	<h1>Mosaic</h1>
	<p>These layouts use <strong>fixed patterns</strong> where the number of items is predetermined and the layout adapts to a specific arrangement.<br>
		If you add more items than the layout can handle, they will be hidden.</p>

	<h2>8 items</h2>
	<section>
		<h3>Mosaic: Scatter</h3>
		<small>Square items arranged in an artistic, non-traditional pattern across a 12x12 grid with overlapping and scattered positioning</small>
		<code>&lt;lay-out xl="mosaic(scatter)"&gt;</code>
		<lay-out md="columns(4)" xl="mosaic(scatter)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Mosaic: Hex</h3>
		<small>Square items arranged in an artistic, non-traditional pattern across a 12x12 grid with overlapping and scattered positioning</small>
		<code>&lt;lay-out xl="mosaic(hex)"&gt;</code>
		<lay-out md="columns(4)" xl="mosaic(hex)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
		</lay-out>
	</section>

	<h2>Infinite Items</h2>
		<section>
		<h3>Mosaic: Photo</h3>
		<small>Square items ...</small>
		<code>&lt;lay-out sm="mosaic(photo)"&gt;</code>
		<lay-out sm="mosaic(photo)">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
		</lay-out>
	</section>

</body>
</html>