<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="../index.css">
	<link rel="stylesheet" href="../css/demo.css">
</head>
<body>

	<h2>Ratios</h2>

	<section>
		<h3>Ratio 25:75</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(25:75)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(25:75)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 33:66</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(33:66)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(33:66)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 40:60</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(40:60)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(40:60)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 60:40</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(60:40)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(60:40)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 66:33</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(66:33)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(66:33)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 75:25</h3>
		<code>&lt;lay-out sm="columns(2)" lg="ratio(75:25)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" lg="ratio(75:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 25:25:50</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" lg="ratio(25:25:50)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" lg="ratio(25:25:50)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 25:50:25</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" lg="ratio(25:50:25)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" lg="ratio(25:50:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50:25:25</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" lg="ratio(50:25:25)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" lg="ratio(50:25:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50:50:100</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 100:50:50</h3>
		<code>&lt;lay-out sm="ratio(100:50:50)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(100:50:50)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50x4 100</h3>
		<code>&lt;lay-out sm="ratio(50x4:100)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50x4:100)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

</body>
</html>