:where(.ui-blink) {
	all: unset;
	background: var(--AccentColor);
	color: var(--AccentColorText);
	padding: 1ch 2ch;
	user-select: none;
	width: fit-content;
	& span {
		animation: blink var(--ui-blink-animdur, 2s) infinite;
	}
	& input:checked + span {
		animation-play-state: paused;
		opacity: 1;
	}
	&:has(input:focus-visible) {
		outline: 1px solid var(--ButtonBorder);
	}
}
@keyframes blink {
	50% { opacity: 0; }
}