:where(.ui-word-replace) {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--ui-word-replace-fs, 4rem);
	font-weight: var(--ui-word-replace-fw, 900);
	column-gap: .5ch;
	letter-spacing: var(--ui-word-replace-ls, -0.03em);
	line-height: var(--ui-word-replace-lh, 1.0625);
	& div {
		clip-path: inset(2px 0 0 0);
		height: calc(1lh + 2px);
		overflow: hidden;
	}
	& ul {
		all: unset;
		color: var(--AccentColor);
		display: grid;
		& li { list-style: none; }
	}
	&.--spin li {
		animation:
			spin-word calc(var(--_speed, 1s) * var(--_length, 1))
			calc(var(--_speed, 1s) * var(--_index, 0)) cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
		grid-area: 1 / -1;
		translate: 0 1lh;
	}
	&.--step li {
		animation:
			step-word calc(var(--_speed, 1s) * var(--_length, 1))
			steps(var(--_length, 1), jump-none) infinite;
	}
}
@keyframes spin-word {
	12.5% {
		opacity: 1;
		translate: 0; 
	}
	25% { 
		opacity: 0;
		translate: 0 -1lh;
	}
	100% { 
		opacity: 0;
	}
}
@keyframes step-word {
	to { translate: 0 calc((-1lh * var(--_length)) + 1lh); }
}