/* requires ui-scroll.css */
:where(.ui-carousel) {
	--button-p: 1ch;
	--ui-scroll-gap: 2ch;
	container-type: inline-size;
	direction: ltr;
	display: grid;
	& .ui-scroll >* {
		display: grid;
		flex: 0 0 100%;
		gap: var(--ui-scroll-gap);
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
		width: 100%;
	}
	@container (max-width: 600px) {
		& .ui-scroll >* {
			grid-auto-flow: row;
			grid-template-columns: unset;
			& >* {
				grid-row: unset;
				grid-template-rows: unset;
			}
		}
	}
}