/* GRID */
ui-grid {
	display: grid;
	grid-row-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}
ui-grid >* {
	display: grid;
	grid-row-gap: 0.25rem;
	inline-size: min-content;
	text-align: center;
}
ui-grid >*:nth-child(3n+2) { place-self: center; }
ui-grid >*:nth-child(3n+3) { place-self: end; }
ui-grid small { font-size: 0.6875rem; }