:where(ui-panel) {
	background: var(--ui-panel-bg, #FFF);
	backdrop-filter: blur(5px);
	block-size: var(--ui-panel-bs, auto);
	border-radius: var(--ui-bdrs);
	box-shadow: var(--ui-bxsh-lg);
	box-sizing: border-box;
	color: var(--ui-panel-c, currentColor);
	display: grid;
	grid-row-gap: var(--ui-panel-gap);
	grid-template-rows: min-content min-content 1fr min-content;
	inline-size: var(--ui-panel-is);
	inset-block-start: var(--ui-panel-y);
	inset-inline-start: var(--ui-panel-x);
	min-block-size: var(--ui-panel-mbs);
	padding-inline: calc(2 * var(--ui-panel-gap));
	position: fixed;
	z-index: var(--ui-panel-z, 1);
}

/* === PANEL POSITION === */
:where(ui-panel[position]) {
	transition: all var(--ui-trsdu) var(--ui-trstf);
}
@media (min-width: 600px) {
	:where(ui-panel[grabbable]) {
		--ui-panel-x: 110%;
	}

	:where(ui-panel[position="bottom"]) {
		--ui-panel-x: calc(50% - (var(--ui-panel-is) / 2));
		--ui-panel-y: 100%;
	}
	:where(ui-panel[position="left"]) {
		--ui-panel-bs: var(--ui-panel-full);
		--ui-panel-x: -110%;
	}
	:where(ui-panel[position="right"]) {
		--ui-panel-bs: calc(100dvh - (var(--ui-gap) * 2) - (var(--ui-dock-bs) * var(--ui-dock-v)) - (var(--ui-gap) * var(--ui-dock-v)));
		--ui-panel-x: 110%;
	}
}

/* === PANEL CONTENT === */
ui-panel-content {
	align-content: start;
	display: grid;
	grid-row-gap: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

ui-panel-content > strong {
	color: var(--ui-panel-headline-c, hsla(240, 2%, 55%, 1));
	font-size: var(--ui-panel-headline-fz, 0.8125rem);
	font-weight: 500;
	text-transform: uppercase;
}
/* --- SCROLL-BAR --- */
ui-panel-content::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
ui-panel-content::-webkit-scrollbar-track,
ui-panel-content::-webkit-scrollbar-thumb {
	border-radius: 16px;
	border: solid 3px transparent;
}
ui-panel-content::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.15);
}

/* === PANEL HEADER === */
ui-panel-header {
	align-items: center;
	background: transparent;
	display: flex;
	justify-content: space-between;
	padding-block-start: var(--ui-gap);
	user-select: none;
}
[grabbable] ui-panel-header {
	cursor: grab;
}

ui-panel-header [disabled] {
	opacity: 0;
}

/* === SEARCH === */
ui-panel [type="search"] {
	background: var(--ui-input-bg, hsla(240, 3%, 93%, 1)) var(--ui-icon-search) no-repeat .5rem center;
	background-size: 1rem;
	border: none;
	border-radius: 0.625rem;
	inline-size: 100%;
	padding: .5rem .5rem .5rem 1.85rem;
}
ui-panel [type="search"]::placeholder {
	color: hsl(240, 5%, 79%);
}



ui-resize-handle {
	background: transparent;
	block-size: 1.33em;
	cursor: ns-resize;
	display: block;
}
ui-resize-handle::after {
	background: var(--ui-resize-bg, hsla(0, 0%, 11.76%, 0.5));
	border-radius: 1em;
	content: "";
	display: block;
	height: 0.33rem;
	margin-block: .5rem;
	margin-inline: auto;
	width: 5rem;
}

/* ui-panel-nav {
	--ui-panel-nav-bdrs: 0.5rem;
	--ui-panel-nav-p: 4px;
	background: rgba(118, 118, 128, 0.12);
	border-radius: var(--ui-panel-nav-bdrs);
	padding: var(--ui-panel-nav-p);
} */




