:host *, :host *::after, :host *::before { box-sizing: border-box; }
:host {
	--uie-accent: hsl(211, 60%, 50%);
	--uie-bxsh-sm: 0px 3px 1px 0px color-mix(in srgb, CanvasText, transparent 95%), 0px 3px 8px 0px color-mix(in srgb, CanvasText, transparent 88%);

	--uie-bp-0: var(--uie-gray-10);
	/* --uie-bp-1: #D8E9DD; */
	--uie-bp-1: #bedac6;
	--uie-bp-2: #FFD6A5;
	--uie-bp-3: #FFB3B3;
	--uie-bp-4: #D4A5FF;
	--uie-bp-5: #A5D8FF;

	--uie-custom-1: #97c9a9;
	--uie-custom-2: #ffb47b;
	--uie-custom-3: #ff8f8f;
	--uie-custom-4: #c6a5ff;
	--uie-custom-5: #a5cfff;

	/* --uie-custom-1: #6dbb9d;
	--uie-custom-2: #ffa16b;
	--uie-custom-3: #ff7c7c;
	--uie-custom-4: #b08cff;
	--uie-custom-5: #78b4ff; */
	
	
	--uie-blue-20: color-mix(in srgb, Highlight, Canvas 80%);
	--uie-blue-40: color-mix(in srgb, Highlight, Canvas 60%);
	--uie-blue-60: color-mix(in srgb, Highlight, Canvas 40%);
	--uie-gray-5: color-mix(in srgb, Canvas, CanvasText 5%);
	--uie-gray-10: color-mix(in srgb, Canvas, CanvasText 10%);
	--uie-gray-15: color-mix(in srgb, Canvas, CanvasText 15%);
	--uie-gray-30: color-mix(in srgb, Canvas, CanvasText 30%);
	--uie-gray-tp: color-mix(in srgb, GrayText, transparent 80%);

	--uie-grid-c: rgba(255, 0, 0, .25);
	--uie-grid-sz: 20px;
	--uie-grid-visible: 0;
	
	--uie-gap: 8px;
	--uie-w: 264px;

	--uie-check: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="3" stroke="%23000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12l5 5l10 -10"/></svg>');
	--uie-reset: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.016 15.609l-3.609-3.609 3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406 3.609 3.609-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93z"/></svg>');

	background: var(--uie-bgc, transparent);

	color-scheme: dark light;
	font-family: system-ui;
	inset: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	z-index: 2147483647;
}

@media (prefers-color-scheme: light) {
	:host(.colorscheme) { color-scheme: dark; }
}
@media (prefers-color-scheme: dark) {
	:host(.colorscheme) { color-scheme: light; }
}
:host([open="true"]) {
	background-image: conic-gradient(from 90deg at 1px 1px, #0000 90deg, var(--uie-grid-c) 0);
	background-size: calc(var(--uie-grid-sz) * var(--uie-grid-visible)) calc(var(--uie-grid-sz) * var(--uie-grid-visible));
	pointer-events: all;
}
:host([open="true"]:not([responsive])) {
	outline: var(--uie-bdw, 3px) solid var(--uie-bdc, #09f);
	outline-offset: calc(0px - var(--uie-bdw, 3px));
}
:host([open="true"][responsive]) {
	--uie-bgc: var(--uie-gray-15);
}
.uie-copy {
	background: repeating-linear-gradient(-45deg,transparent 0 10px,rgba(0,0,0,.1) 0 20px);
}

/* === LOADER === */
:host([loader="overlay"]) [part=loader] {
	background: #0000;
	inset: 0;
	position: fixed;
	z-index: 1;
	&::after {
		content: "";
		left: 50%;
		position: absolute;
		top: 50%;
		translate: -50% -50%;
		width: 50px;
		z-index: 1;
		aspect-ratio: 1;
		background: var(--AccentColor);
		border-radius: 50%;
		padding: 8px;
		--_m: 
			conic-gradient(#0000 10%,#000),
			linear-gradient(#000 0 0) content-box;
		-webkit-mask: var(--_m);
						mask: var(--_m);
		-webkit-mask-composite: source-out;
						mask-composite: subtract;
		animation: l3 1s infinite linear;
	}
}

/* === PARTS === */
[part~=editor] {
	align-content: start;
	background: Canvas;
	border: 0;
	border-radius: 10px;
	box-shadow: 0px 8px 56px 0px color-mix(in srgb, CanvasText, transparent 70%);
	color: CanvasText;
	font-size: small;
	grid-template-rows: min-content min-content 1fr min-content;
	inset-block: var(--uie-y, 16px) auto;
	inset-inline: var(--uie-x, calc(100% - var(--uie-w) - 16px)) auto;
	max-height: calc(100dvh - 32px);
	padding: 0;
	touch-action: none;
	width: var(--uie-w);
	&:popover-open { display: grid }
}

/* === RESPONSIVE === */
:host([open="true"][responsive]) [part=editor] {
	border-inline-start: 1px solid ButtonFace;
	border-radius: 0;
	box-shadow: none;
	display: grid;
	height: 100dvh;
	inset: 0 0 auto auto;
	max-height: 100dvh;
	position: absolute;
	width: calc(var(--uie-w) + 1px);
	& [part=close], & [part=uireset] { display: none; }
	& [part=header] { grid-template-columns: min-content 1fr;}
	& [part~=draghandle] { cursor: default; }
}
:host([open="false"][responsive]) [part=editor],
:host([open="false"][responsive]) [part=form-frames],
:host([open="false"][responsive]) [part=outline] {
	display: none;
}
:host([open="true"][responsive]) [part=toggle] {
	left: calc(50% - (var(--uie-w) / 2));
}

/* === COLLOBORATION === */
:host([open="true"]) [part=form-collaboration] {
	
	/* inset: 0; */
	pointer-events: none;
	position: absolute;
}
[part=form-collaboration] div {
	background: var(--uie-accent);
	border-radius: 50%;
	color: #FFF;
	display: grid;
	left: calc((1px * var(--x)) + var(--uie-gap));
	padding: 6px;
	place-content: center;
	position: absolute;
	top: calc((1px * var(--y)) + var(--uie-gap));
	translate: 0 calc((var(--scroll-y, 0) + var(--iframe-scroll-y, 0))* -1px);
}

/* Loading animation */
/* :host([responsive="loader"])::before {
	background: rgba(255, 255, 255, .95);
	content: "";
	inset: 0;
	position: absolute;
	z-index: 1;
}
:host([responsive="loader"])::after {
	content: "";
	left: 50%;
	position: absolute;
	top: 50%;
	translate: -50% -50%;
	width: 50px;
	z-index: 1;
  aspect-ratio: 1;
  background: var(--AccentColor);
  border-radius: 50%;
  padding: 8px;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
} */
@keyframes l3 {to{transform: rotate(1turn)}}

/* ASSET IMAGE */
[part="asset-image"] {
	border: 1px solid var(--uie-gray-15);
	border-radius: 4px;
	
	grid-column: span 12;
	max-width: 100%;
	object-fit: cover;
	width: 100%;
}
fieldset:has([part="asset-image"]) {
	padding-block-start: 0;
}

[part=form-frames] {
	display: grid;
	width: calc(100% - var(--uie-w));
	user-select: none;
}
:host([open="true"][responsive]) [part=frame-group] {
	background: Canvas;
	border-block-end: 1px solid ButtonFace;
	color: CanvasText;
	display: flex;
	gap: 2em;
	isolation: isolate;
	justify-content: center;
}
[part=frame-group] label:has(:checked) { color: var(--uie-accent); } 
[part~=draghandle] {
	cursor: grab;
}
[part~=frameinfo] {
	--uie-gtc: 1fr 1fr;
	font-family: ui-monospace, monospace;
}
[part~="full"] { /* Take up all columns in micro-layout */
	grid-template-columns: 1fr;
}
[part~=group] {
	--uie-gtc: repeat(8, 1fr);
  gap: var(--uie-gap);
	&[name=layoutorganizer] { gap: 4px; }
}
[part=header] {
	display: grid;
	gap: calc(var(--uie-gap) / 2);
	grid-template-columns: min-content min-content 1fr min-content min-content;
	padding: var(--uie-gap);
	place-content: center;
}
[part=iframe] {
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 0 5px hsl(0, 0%, 50%);
	height: calc(100dvh - 160px);
	margin: 16px;
	max-height: calc(100dvh - 80px);
	max-width: calc(100% - 32px);
	resize: both;
	width: 100%;
}
[part=input-icon] {
	& :is(input, textarea) { grid-column: span 11; }
	& label { display: contents; }
	gap: var(--uie-gap);
}
[part=outline] {
	border: var(--uie-a-bdw, 2px) var(--uie-a-bds, dashed) var(--ui-csss-a-bdc, #f09);
	position: absolute;
	pointer-events: none;
	translate: 0 calc((var(--scroll-y, 0) + var(--iframe-scroll-y, 0)) * -1px);
}
[part~=title] {
	font-size: larger;
	margin: 0;
	text-align: center;
	user-select: none;
}
[part=toggle] {
  aspect-ratio: 1;
  background: Canvas;
  border-radius: 50%;
  bottom: 1rem;
	box-shadow: 0px 8px 56px 0px color-mix(in srgb, CanvasText, transparent 70%);
  display: grid;
	filter: grayscale(1);
  left: 50%;
  padding: 1ch;
	place-content: center;
  pointer-events: all;
  position: fixed;
  translate: -50% 0;
	transition: filter .5s ease-out;
	width: 4rem;
	& img { pointer-events: none; }
	&:has(:checked) { filter: none; }
}
[part~=tools] {
	display: flex;
	overflow-y: auto;
	[part~=tool] { 
		flex: 0 0 100%;
	}
}
[name=classactions] { padding-block-start: 0; }
[data-click=dom-undo] { grid-column: 7; }

/* === BUTTON === */
:is(button, [part~=button]) {
	background: Field;
	border: 1px solid var(--uie-gray-15);
	border-radius: 3px;
	font-size: 11px;
	height: 24px;
	padding: 0 var(--uie-gap);
	text-align: start;
	&:has(svg) {
		background: none;
		border: 0;
		font-size: 16px;
		padding: 0;
		text-align: center;
		width: 24px;
		&:focus-visible, &:hover { outline: 1px solid var(--uie-gray-15); }
	}
	&:focus-visible, &:hover { background: var(--uie-blue-40); }
	&[part~=primary] {
		background: var(--uie-accent);
		border-color: transparent;
		color: #fff;
		grid-column: 7 / span 6;
		text-align: center;
		&[value=""] { display: none; }
	}
	&[part~=secondary] {
		background: GrayText;
		color: #FFF;
		&:focus-visible, &:hover {
			background: ActiveText;
			outline: 0;
		}
	}
}

/* === BREAKPOINTS === */
[name="breakpoints"][part~=tabgroup] {
	background: var(--uie-gray-5);
	& label {
		padding-block: calc(var(--uie-gap) / 3);
		position: relative;
		&::after {
			background: var(--_c, transparent);
			border-radius: 5px;
			content: "";
			height: 2px;
			width: 100%;
			bottom: 0px;
			position: absolute;
		}
		&:not(:first-of-type):has(:checked) {
			background: var(--_c);
			box-shadow: inset 0px 0px 0px 2px color-mix(in srgb, CanvasText, transparent 90%);
			color: #000;
			&::after { display: none; }
		}
		&:nth-of-type(2) { --_c: var(--uie-bp-1); }
		&:nth-of-type(3) { --_c: var(--uie-bp-2); }
		&:nth-of-type(4) { --_c: var(--uie-bp-3); }
		&:nth-of-type(5) { --_c: var(--uie-bp-4); }
		&:nth-of-type(6) { --_c: var(--uie-bp-5); }
	}
	&[hidden] { display: none; }
	&:has(+ [part~=textgroup]) {
		border-end-start-radius: 0;
		border-end-end-radius: 0;
		margin-block-end: 0;
		& + [part~=textgroup] {
			border-radius: 0 0 7px 7px;
			margin-block-end: 0;
			& label {
				&:not(:has(:checked)) { background: Canvas; }
				&:first-of-type { border-radius: 1px 2px 2px 5px; }
				&:last-of-type { border-radius: 2px 1px 5px 2px; }
			}
		}
	}
}

[part*="reset-utility"] {
	margin-block: 3px;
	padding-block: 0;
	& button {
		border: 0;
		color: var(--uie-accent);
		font-size: xx-small;
		height: auto;
		padding: 2px 4px;
		place-self: end;
	}
}

/* === BREAKPOINTS: CODE/VAR LABELS === */
[data-bp] {
	align-self: start;
	background: var(--_bg, var(--uie-bp-0));
	border-radius: 2px;
	color: CanvasText;
	color-scheme: light;
	font-size: 10px;
	font-style: normal;
	padding: 0px 4px;
	&:empty { display: none; }
}
code:has([data-bp]) {
	display: grid;
	gap: 4px;
	grid-auto-flow: column;
	& [data-bp] {
		&:nth-of-type(2) { --_bg: var(--uie-bp-1); }
		&:nth-of-type(3) { --_bg: var(--uie-bp-2); }
		&:nth-of-type(4) { --_bg: var(--uie-bp-3); }
		&:nth-of-type(5) { --_bg: var(--uie-bp-4); }
		&:nth-of-type(6) { --_bg: var(--uie-bp-5); }
	}
}

/* === CHECKBOX === */
label:has([part="checkbox"]) {
	display: contents;
	& input {
		appearance: none;
		aspect-ratio: 1/1;
		block-size: 16px;
		border-radius: 50%;
		border: 1px solid ButtonBorder;
		display: grid;
		grid-column: span 1;
		margin: 0px;
		position: relative;
		&::after {
			background: #FFF;
			content: "";
			inset: 0;
			position: absolute;
			mask: var(--uie-check) no-repeat center / 85% 100%;
			-webkit-mask: var(--uie-check) no-repeat center / 85% 100%;
		}
		&:checked {
			background: var(--uie-accent);
			border-color: var(--uie-accent);
		}
	}
	& span { font-weight: 500; grid-column: span 11; }
	&:has(:checked) span { text-decoration: line-through;}
}

/* === COMPONENT CONFIGURE === */
[name=components] { 
	&:has(button[value=""]) { padding-block-end: 0; }
}
[name=component-configure] {
	grid-column: span 12;
  padding: 0;
	& input { display: block; width: 100%; }
	& label { grid-column: span 12; }
	&[hidden] { display: none; }
}
label:has([name=component-info]) {
	grid-column: span 12;
}

/* === CONNECTED === */
[name="connectedgroup"][part~=tabgroup] {
	background: var(--uie-gray-5);
	margin: var(--uie-gap);
}

/* === DETAILS/SUMMARY === */
details[open] {
	& > summary {
		background: var(--uie-summary-bg, var(--uie-gray-5));
		border-color: transparent;
		&:focus-visible, &:hover { background: var(--uie-blue-40); }
		& > [part~=icon] svg path:first-of-type { display: none; }
	}
	& details { /* level 2 */
		--uie-summary-bg: var(--uie-gray-10);
		border-inline-start: calc(var(--uie-gap) / 2) solid var(--uie-accent);
		&[open] :is(details, fieldset) {
			border-inline-start: calc(var(--uie-gap) / 2) solid var(--uie-gray-15);
		}
		& details { /* level 3 */
			--uie-summary-bg: var(--uie-gray-15);
			&[open] :is(details, fieldset) {
				border-color: var(--uie-gray-15);
			}
			&[open] > summary:is(:focus-visible, :hover) {
				margin-inline-start: calc(0px - (var(--uie-gap) / 2));
				padding-inline-start: calc(var(--uie-gap) * 1.5);
			}
		}
	}
}
summary {
	align-items: center;
	border-block-start: 1px solid ButtonFace;
	display: flex;
	justify-content: space-between;
	padding: var(--uie-gap);
	position: relative;
	user-select: none;
	[part^=unit-] & {
		padding-inline-start: calc(2 * var(--uie-gap));
		&::after {
			background: var(--uie-gray-30);
			border-radius: 50%;
			box-shadow: -6px 0 0 var(--uie-gray-30), -3px -3px 0 var(--uie-gray-30), -3px 3px 0 var(--uie-gray-30);
			/* box-shadow: 0 -6px 0 var(--uie-gray-30), 0 6px 0 var(--uie-gray-30); */
			/* box-shadow: 0 0 0 1px Canvas, 0 0 0 2px var(--uie-gray-30); */
			content: "";
			height: 3px;
			left: 10px;
			position: absolute;
			width: 3px;
		}
	}
	&:focus-visible, &:hover { background: var(--uie-blue-40); outline: 0; }
	&::marker { content: ""; }
	&::-webkit-details-marker { display: none; }
	& > [part~=icon]:hover { background: var(--uie-blue-20); outline-color: var(--uie-blue-60); }
	
}

/* === FIELDSET === */
fieldset {
	align-items: center;
	border: 0;
	display: grid;
	font-size: 11px;
	grid-template-columns: var(--uie-gtc, repeat(12, 1fr));
	margin: 0;
	padding: var(--uie-gap);
	row-gap: var(--uie-gap);
	word-break: break-word;
	&:empty { display: none; }
}

/* === INPUT === */
input:is([type=text], [type="number"], [type="url"], [type=search]) {
	border: 1px solid var(--uie-gray-15);
	border-radius: 3px;
	padding: var(--uie-gap);
	&:focus-visible { 
		background: var(--uie-blue-40);
		outline: 0;
	}
}

/* === MISC === */
label {
	user-select: none;
	&:has([disabled]) { 
		color: GrayText;
		text-decoration: line-through;
		& input[type=radio] { filter: grayscale(1); opacity: .4; }
		& span { text-decoration: line-through; }
	}
}
legend { display: none; }
strong { color: GrayText; }
svg {
	fill: none;
	height: 24px;
	pointer-events: none;
	stroke: currentColor;
	stroke-width: 1.25;
	width: 24px;
}
textarea {
	border: 1px solid var(--uie-gray-15);
	border-radius: 3px;
	field-sizing: content;
	font-family: inherit;
	font-size: small;
	grid-column: span 12;
	max-block-size: 20lh;
	min-block-size: 2lh;
	padding: var(--uie-gap);
	resize: vertical;
	&:focus-visible { 
		background: var(--uie-blue-40);
		outline: 0;
	}
 }
 label:has(textarea) {
	display: contents;
	& span { grid-column: span 12; }
}

/* === AVATAR === */
[part~=avatar] {
  all: unset;
  aspect-ratio: 1;
	background: var(--_bg);
	block-size: 4em;
  clip-path: inset(0% 0% round 50%);
	color: color-contrast(var(--_bg) vs #FFF, #000);
  display: grid;
  place-content: center;
	place-self: end;
	user-select: none;
	& * { grid-area: 1/ 1;}
	& img {
		height: auto;
		max-width: 100%;
	}
}
/* === MESSAGES === */
[part~=messages] {
	all: unset;
	display: grid;
	row-gap: var(--uie-gap);
	& li {
		display: flex;
		gap: var(--uie-gap);
		& [part~=message] {
			background: ButtonFace;
			padding: var(--uie-gap);
			border-radius: 12px 12px 12px 0;
			place-self: end;
		}
		&[value="1"] {
			justify-self: end;
			& [part~=message] {
				background: var(--uie-accent);
				border-radius: 12px 12px 0 12px;
				color: #FFF;
			}
			& [part~=avatar] { order: 2; }
		}
	}
}


/* === RADIO === */
[part~=radio] {
	& label { display: contents; }
	& input {
		appearance: none;
		aspect-ratio: 1;
		block-size: 16px;
		border: 1px solid ButtonBorder;
		border-radius: 50%;
		margin: 0 1ch 0 0;
		padding: 0;
		position: relative;
		&:checked {
			background: var(--uie-accent);
			border-color: transparent;
			&::after {
				background: #FFF;
				content: "";
				inset: 0;
				position: absolute;
				mask: var(--uie-check) no-repeat center / 85% 100%;
				-webkit-mask: var(--uie-check) no-repeat center / 85% 100%;
			}
		}
	}
	& span { 
		font-weight: 500;
		display: flex;
		grid-column: 2 / span 11;
		justify-content: space-between;
	}
	/* Variants */
	&[part~=colorgrid] {
		--uie-gtc: repeat(10, 1fr);
  	clip-path: inset(calc(var(--uie-gap) - 1px));
		gap: 1px;
		& input {
			background: var(--_v);
			block-size: auto;
			border: 0;
			border-radius: 0px;
			margin: 0;
			&::after {
				background: var(--_c, #FFF);
				mask-size: 70% 100%;
				-webkit-mask-size: 70% 100%;
			}
			&:focus-visible {
				outline: 2px solid var(--_c, #FFF);
				outline-offset: -2px;
			}
		}
		& span { 
			display: none;
		}
	}
	&[part~=swatch] {
		& input {
			aspect-ratio: 2/1;
			background: var(--_v);
			border: 0;
			border-radius: 16px;
			grid-column: span 2;
			&::after {
				background: var(--_c, #FFF);
			}
		}
		& span { 
			grid-column: 3 / span 10;
		}
	}
	&[part~=font] span { font-family: var(--_v); }
}
[part~=buttongroup] {
	gap: var(--uie-gap);
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	& label {
		background: var(--uie-gray-5);
		border-radius: 3px;
		display: grid;
		height: 2.5em;
		padding: 3px;
		place-content: center;
		text-align: center;
		&:has(:checked) {
			background: var(--uie-accent);
			color: #FFF;
		}
		&:has(:focus-visible) { outline: 2px solid var(--uie-accent); outline-offset: 2px; }
		&:not(:has(:checked)):hover { background: var(--uie-gray-tp); }
	}
	& code {
		justify-content: center;
		& [data-bp] {
			border-radius: 50%;
			text-indent: 200%;
			overflow: hidden;
			padding: 0;
			width: 5px;
			height: 5px;
		}
	}
}

/* === RANGE === */
label:has([type=range]) {
	display: contents;
	& input {
		accent-color: var(--uie-accent);
		appearance: none;
		background: ButtonFace;
		block-size: 3px;
		border-radius: 3px;
		grid-column: span 12;
		margin-block: 6px;
		touch-action: none;
	}
	& span {
		display: flex;
		font-weight: 500;
		grid-column: span 12;
		justify-content: space-between;
	}
}

/* === RICHTEXT === */
ui-richtext::part(toolbar) { font-size: 1rem; }
[part=texteditor] {
	font-size: small;
	grid-column: span 12;
	&:focus-visible { 
		background: var(--uie-blue-40);
		outline: 0;
	}
}

ui-richtext [contenteditable] {
	border: 1px solid var(--uie-gray-15);
	border-radius: 3px;
	margin-block-start: .5em;
	padding: var(--uie-gap);
}


/* === SEARCH === */
label:has([type=search]) {
	display: contents;
	& input {
		grid-column: span 12;
		&::-webkit-calendar-picker-indicator {
			display: none !important;
		}
		&::-webkit-search-cancel-button {
			--icon: var(--uie-reset);
			background-color: currentColor;
			display: block;
			height: 1em;
			mask-image: var(--icon);
			width: 1em;
			-webkit-appearance: none;
			-webkit-mask-image: var(--icon);
		}
	}
}

/* === SWITCH === */
label:has([role=switch]) {
	display: contents;
	& input {
		appearance: none;
		aspect-ratio: 1.8/1;
		background: ButtonBorder;
		border-radius: 16px;
		block-size: 16px;
		display: grid;
		grid-column: span 2;
		margin: 0px;
		place-content: center start;
		padding: 2px;
		&::after {
			background: Canvas;
			border-radius: 50%;
			content: "";
			height: 12px;
			transition: translate 0.2s ease-in-out;
			width: 12px;
		}
		&:checked {
			background: var(--uie-accent);
			&::after { translate: 1em 0; }
		}
	}
	& span { font-weight: 500; grid-column: span 10; }
}

/* === TABS === */
[part~=tabs] {
	grid-template-columns: 1fr;
	padding-block-start: 0;
	& [part~=tab] {
		display: none;
		grid-area: 1/1;
		& fieldset {
			padding: 0 0 var(--uie-gap) 0;
			&:last-of-type { padding-block-end: 0; }
		}
	}
}
[part~=tabs-control] {
	&:has([part~=tab-1]:checked) + [part~=tabs] > [part~=tab]:nth-of-type(1),
	&:has([part~=tab-2]:checked) + [part~=tabs] > [part~=tab]:nth-of-type(2),
	&:has([part~=tab-3]:checked) + [part~=tabs] > [part~=tab]:nth-of-type(3),
	&:has([part~=tab-4]:checked) + [part~=tabs] > [part~=tab]:nth-of-type(4) { display: block; }
}


/* === TABGROUP === */
[part~=tabgroup] {
	--uie-gtc: 1fr;
	background: var(--uie-gray-15);
	border-radius: 7px;
	display: grid;
	gap: var(--uie-gap);
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	margin: 0 var(--uie-gap) var(--uie-gap) var(--uie-gap);
	padding: 4px;
	place-content: center;
	& label {
		border-radius: 5px;
		display: grid;
		gap: 2px;
		place-content: center;
		padding-block: 1px;
		text-align: center;
		&:has(:checked) { 
			background: Canvas;
			box-shadow: var(--uie-bxsh-sm);
		}
		&:has(:focus-visible) { background: var(--uie-blue-40) ; }
		&:not(:has(:checked)):hover { background: var(--uie-gray-tp); }
		&[hidden] { display: none; }
	}
}

/* === TAGLIST === */
[part~=taglist] {
	display: flex;
	flex-wrap: wrap;
	gap: var(--uie-gap);
}

/* === TEXTGROUP === */
[part~=textgroup] {
	background: var(--uie-gray-15);
	border-radius: 4px;
	display: grid;
	font-size: xx-small;
	gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	margin: 0 var(--uie-gap) var(--uie-gap) var(--uie-gap);
	padding: 2px;
	place-content: center;
	& label {
		border-radius: 2px;
		color: GrayText;
		display: grid;
		gap: 2px;
		place-content: center;
		padding: 1px;
		text-align: center;
		&:has(:focus-visible) { background: var(--uie-blue-40) ; }
		&:not(:has(:checked)):hover { background: var(--uie-gray-tp); }
		&:has(:checked) { 
			background: Canvas;
			&:has(:focus-visible) { background: var(--uie-blue-40) ; }
		}
		&:has(select[required]:valid),
		&:has([type=checkbox]:checked) {
			background-color: var(--AccentColor);
			color: var(--AccentColorText);
		}
		& select { all: unset; }
	}
}

/* === TOOLBAR === */
[part~=toolbar] {
	padding-block-start: 0;
	button {
		border-color: var(--uie-gray-15);
		border-radius: 0;
		border-style: solid;
		border-width: 1px 0 1px 1px;
		display: grid;
		height: 30px;
		place-content: center;
		width: 30px;
		&:first-of-type { border-radius: 3px 0 0 3px; }
		&:last-of-type { 
			border-radius: 0 3px 3px 0;
			border-right-width: 1px;
		}
		&:is(:hover,:focus-visible) { outline: none; }
	}
}

/* === AI TYPES === */
[data-ai-type] {
	background: var(--_bg, var(--uie-gray-5));
	border-color: color-mix(in srgb, var(--_bg), #000 10%);
	&:is(:focus-visible, :hover) { background: color-mix(in srgb, var(--_bg), Canvas 50%); }
}
@media (prefers-color-scheme: light) {
	:host(.colorscheme) [data-ai-type] {
		background: color-mix(in srgb, var(--_bg, var(--uie-gray-5)), Canvas 85%);
		&:is(:focus-visible, :hover) { background: color-mix(in srgb, var(--_bg), Canvas 25%); }
	}
}
[data-ai-type="1"] { --_bg: var(--uie-custom-1); }
[data-ai-type="2"] { --_bg: var(--uie-custom-2); }
[data-ai-type="3"] { --_bg: var(--uie-custom-3); }
[data-ai-type="4"] { --_bg: var(--uie-custom-4); }
[data-ai-type="5"] { --_bg: var(--uie-custom-5); }

[name=airesult] {
	grid-template-columns: 1fr;
	&:empty { display: none; }
}

[data-sr] {
	border: 0;
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}