@media (min-width: 380px) {
	lay-out[sm*="mosaic"] { --_ga: initial; & > * { --layout-ga: auto; } }

	lay-out[sm="mosaic(photo)"] {
		--layout-bg: light-dark(#333, #EEE);
		--layout-colmg: 1px;
		--layout-gtc: repeat(5, 1fr);
		--layout-p: var(--layout-colmg);
		grid-auto-flow: dense;
		& > * {
			aspect-ratio: 1 / 1;
			object-fit: cover;
			object-position: center;
		}
		& *:nth-of-type(11n+1) { --layout-ga: span 2 / span 2; }
		& *:nth-of-type(11n+4) { --layout-ga: span 2 / span 2; }
		& *:nth-of-type(11n+7) { --layout-ga: span 2 / span 2; }
		& *:nth-of-type(11n+10) { --layout-ga: span 2 / span 2; }
	}
}