:where(.ui-chip) {
	background: var(--ui-chip-bg, var(--GrayCanvas));
	border-radius: var(--ui-chip-bdrs, 3ch);
	color: var(--ui-chip-c, var(--CanvasText));
	display: inline-flex;
	font-size: smaller;
	margin: var(--ui-chip-m, .5ch 0);
	padding: var(--ui-chip-p, .5ch 2.125ch);
}