<!DOCTYPE html>
<html lang="zh-Hans-CN-u-nu-hanidec" dir="ltr">
<head>
	<title>confetti</title>
	<meta charset="UTF-8">
	<!-- <link rel="preload" href="/css/styles.css" as="style"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: avatar">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<!-- <link rel="stylesheet" href="/css/styles.css"> -->
	<link rel="stylesheet" href="/css/components/kalel.css">
	<link rel="stylesheet" href="/css/components/kalel-confetti.css">

	<meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'sha256-juu2toLdiCgKoOYCR9sndqbx5mAn0Duu9QCrz91ffNI=';
		style-src 'self' 'unsafe-inline';
	">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>
		<h1 class="bs-header">browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr>
		<section>
			<h2>confetti year</h2>
			<jor-el id="app" data-year="true" class="confetti"></jor-el>
		</section>
	</main>
	<!-- <script src="/main.js" defer></script> -->
	<script type="module">
		import kalEl from'/assets/js/kalel.js';
		app.innerHTML = kalEl(app.dataset)
	</script>
</body>
</html>