:where([data-tooltip]) {
	--ui-tooltip-bg: var(--CanvasText);
	--ui-tooltip-triangle-h: 0%;

	position: relative;
	&::before {
		background: var(--ui-tooltip-bg);
		border-radius: var(--tooltip-bdrs, .25em);
		content: attr(data-tooltip);
		color: Canvas;
		display: inline-grid;
		font-size: var(--ui-tooltip-fs, 80%);
		inset-block: calc(100% + var(--ui-tooltip-triangle-h)) auto;
		inset-inline: 50% auto;
		isolation: isolate;
		opacity: 0;
		line-height: 1;
		padding: var(--ui-tooltip-p, .5em .75em);
		place-content: center;
		position: absolute;
		transition: all .2s ease-in-out;
		translate: -50% 0;
		white-space: nowrap;
	}
	&:hover::before { opacity: 0.9; }

	/* Modifiers */
	&[data-tooltip-ui*=help] { cursor: help; }
	&[data-tooltip-ui*=top]::before { inset-block: auto calc(100% + var(--ui-tooltip-triangle-h)); }
	&[data-tooltip-ui*=triangle] {
		--ui-tooltip-triangle-h: .5em;
		&::after {
			background: var(--ui-tooltip-bg);
			clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
			content: "";
			display: inline-block;
			height: var(--ui-tooltip-triangle-h);
			inset-block: 100% auto;
			inset-inline: 50% auto;
			opacity: 0;
			position: absolute;
			translate: -50% 0;
			transition: all .2s ease-in-out;
			width: calc(2 * var(--ui-tooltip-triangle-h));
		}
		&:hover::after { opacity: 0.9; }
	}
	&[data-tooltip-ui*=top][data-tooltip-ui*=triangle]::after { 
		clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
		inset-block: auto 100%;
	}
	&[data-tooltip-ui*=underline] { 
		text-decoration: .0625em dotted underline;
		text-underline-offset: .2em;
	}
}