@layer gui {
	:where(.gui) {
		--_c: #2FA1D6;
		--_bg: #303030;
		--_gap: .33em;
		--_h: 1lh;

		background: #2c2c2c;
		color: #eee;
		font-family: ui-sans-serif, system-ui;
		font-size: small;
		inline-size: fit-content;
		inset-block: 0 auto;
		inset-inline: auto 0;
		position: fixed;

		& * {
			box-sizing: border-box;
		}

		ul {
			all: unset;
			display: grid;
			row-gap: 0.125em;
		}

		label {
			display: contents;
			gap: calc(2 * var(--_gap));
		}
		li {
			align-items: center;
			background: #1a1a1a;
			border-inline-start: var(--_gap) solid var(--_c);
			column-gap: calc(2 * var(--_gap));
			display: grid;
			grid-template-columns: 6em 1fr 3em;
			padding-block: var(--_gap);
			padding-inline: calc(2 * var(--_gap)) var(--_gap);
		}
		output {
			background: var(--_bg);
			color: var(--_c);
			display: grid;
			font-family: ui-monospace, monospace;
			font-size: 80%;
			height: 100%;
			justify-self: end;
			padding-inline: var(--_gap);
			place-content: center;
			width: 100%;
		}
		[type=range] {
			appearance: none;
			background: none;
			cursor: ew-resize;
			font-size: inherit;
			margin: 0;
			overflow: hidden;
			&::-webkit-slider-runnable-track { height: 100%; }
			&::-webkit-slider-thumb {
				appearance: none;
				aspect-ratio: 1;
				border-radius: 0;
				box-shadow: 0 0 0 1lh inset var(--_c);
				border-image: linear-gradient(90deg, var(--_c) 50%, var(--_bg) 0) 0 1 / calc(50% - 1lh / 2) 100vw / 0 calc(100vw);
				height: 1lh;
				width: 0;
			}
		}
		[type=color] {
			border: 0;
			grid-column: span 2;
			height: 100%;
			inline-size: 100%;
			padding: 0;
			&::-webkit-color-swatch { border: 0; }
			&::-webkit-color-swatch-wrapper {
				border: none;
				padding: 0;
			}

		}
		summary {
			padding: var(--_gap) calc(2 * var(--_gap));
			text-align: center;
			user-select: none;
		}
	}
}