:where(.ui-custom-color) {
	aspect-ratio: 1 / 1;
	background-image: 
		conic-gradient(from 1deg,
			hsl(360, 100%, 40%),
			hsl(315, 100%, 40%),
			hsl(270, 100%, 40%),
			hsl(225, 100%, 40%),
			hsl(180, 100%, 40%),
			hsl(135, 100%, 40%),
			hsl(90, 100%, 40%),
			hsl(45, 100%, 40%),
			hsl(0, 100%, 40%)
		);
	border-radius: 50%;
	padding: .25em;
	width: auto;
	&::-webkit-color-swatch, &::-webkit-color-swatch-wrapper {
		border-radius: 50%;
		border: 1px solid white;
	}
}