:where([data-ratio]) {
	aspect-ratio: var(--_ar, auto);
	inline-size: 100%;
	object-fit: var(--_of, none);
	object-position: var(--_op, initial);
}

/* === aspect-ratio === */
[data-ratio~="square"] { --_ar: 1; }
[data-ratio~="landscape"] { --_ar: 4/3; }
[data-ratio~="photo"] { --_ar: 3/2; }
[data-ratio~="portrait"] { --_ar: 3/4; }
[data-ratio~="widescreen"] { --_ar: 16 / 9; }
[data-ratio~="ultrawide"] { --_ar: 18/5; }
[data-ratio~="universal"] { --_ar: 2/1; }
[data-ratio~="golden"] { --_ar: 1.6180/1; }

/* === object-fit === */
[data-ratio~="contain"] { --_of: contain; }
[data-ratio~="cover"] { --_of: cover; }
[data-ratio~="fill"] { --_of: fill; }
[data-ratio~="scale-down"] { --_of: scale-down; }

/* === object-position === */
[data-ratio~="top-left"] { --_op: 0% 0%; }
[data-ratio~="top-center"] { --_op: 50% 0%; }
[data-ratio~="top-right"] { --_op: 100% 0%; }
[data-ratio~="center-left"] { --_op: 0% 50%; }
[data-ratio~="center-center"] { --_op: 50% 50%; }
[data-ratio~="center-right"] { --_op: 100% 50%; }
[data-ratio~="bottom-left"] { --_op: 0% 100%; }
[data-ratio~="bottom-center"] { --_op: 50% 100%; }
[data-ratio~="bottom-right"] { --_op: 100% 100%; }