:host, :host * { box-sizing: border-box; }
:host {
	--gui-tabs-gap: 4px;
	--gui-tabs-icon-sz: 1.25rem;

	container-type: inline-size;
	display: block;
	font-family: var(--gui-tabs-ff, ui-sans-serif, system-ui);
}
:host::part(icon) {
	fill: none;
	height: var(--gui-tabs-icon-sz);
	pointer-events: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
	width: var(--gui-tabs-icon-sz);
}
:host::part(panel) {
	flex: 0 0 100%;
	margin: var(--gui-tabs-panel-m, 0);
	padding: var(--gui-tabs-panel-p, 0);
}
:host::part(panels) {
	display: flex;
	overflow-y: hidden;
	scroll-behavior: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}
:host::part(tab) {
	align-items: center;
	background: var(--gui-tab-bg, #0000);
	border-radius: 5px;
	color: inherit;
	column-gap: var(--gui-tab-gap, 1ch);
	container-type: inline-size;
	container-name: tab;
	display: flex;
	flex-wrap: nowrap;
	font-size: var(--gui-tabs-fs, 12px);
	padding: var(--gui-tab-p, .25em .5em);
	justify-content: center;
	text-align: center;
	text-decoration: none;
	user-select: none;
}
[role=tab][aria-selected="true"] {
	background: var(--gui-tab-selected-bg, light-dark(#FFFFFF, #414140));
	color: var(--gui-tab-selected-c, inherit);
}
:host::part(tabs) {
	background: var(--gui-tabs-bg, light-dark(#EDEDEC, #1C1C1E));
	border-radius: var(--gui-tabs-bdrs, .5em);
	color: var(--gui-tabs-c, light-dark(#222222, #CBCBCB));
	display: grid;
	gap: var(--gui-tabs-gap);
	grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
	padding: var(--gui-tabs-gap);
	place-content: center;
}

@container tab (width < 100px) {
	[part="label"] { 
		display: none; 
	}
}

@container (width < 100px) {
	:host::part(panels) { display: none; }
	:host::part(tab) { aspect-ratio: 1; width: 100%; }
	:host::part(tabs) { grid-template-columns: 1fr; }
}