@media (min-width: 720px) {
	lay-out[lg="autofill"] {
		--layout-gtc: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
	lay-out[lg="autofit"] { 
		--layout-gtc: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
		--_ga: auto; 
		& > * { --layout-ga: auto; }
	}
}
