:where(ui-details) {
  display: block; 
  &  ui-expand {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s cubic-bezier(.4, 0, .2, 1);
    & >* { overflow: hidden; }
  }
  & ui-summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    user-select: none;
    &[aria-expanded="true"] + ui-expand { grid-template-rows: 1fr; }
    &[aria-expanded="false"] + ui-expand >* { margin: 0; padding: 0; }
  }
}