@import '../icon/ui-icon.css';

@layer bs-component {
	:where(.ui-draggable) {
		all: unset;
		& li {
			align-items: center;
			border-block-end: 1px solid var(--ButtonBorder);
			display: flex;
			gap: 1em;
			list-style: none;
			padding: 1ch 0;
			pointer-events: none;
			touch-action: none;
			& > ui-icon {
				color: var(--GrayText);
				cursor: move;
				pointer-events: all;
			}
			&.--dragging { opacity: .5; }
		}
	}
}