@import '../icon/ui-icon.css';
@import '../scroll/ui-scroll.css';
:where(.ui-form-step) {
	--ui-scroll-ga: unset;
	--ui-scroll-gap: 2ch;
	--ui-scroll-nav-jc: space-between;
	padding-inline: 1ch;
	& fieldset {
		margin-block: 2ch 0ch;
	}
	& .ui-scroll { grid-area: unset; }
}