<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<!-- <link rel="stylesheet" href="css_functions_layout.css"> -->
	<link rel="stylesheet" href="layout-demo.css">
</head>
<body>


	<!-- With CSS functions -->
<lay-out layout="ratio" ratio="25:75" breakpoint="540px">
  <content-item></content-item>
  <content-item></content-item>
</lay-out>

<!-- Or even simpler -->
<!-- <lay-out layout="sidebar" min-width="250px">
  <nav></nav>
  <main></main>
</lay-out> -->

<!-- Auto-fitting cards -->
<!-- <lay-out layout="auto-fit" min-width="300px">
  <card></card>
  <card></card>
  <card></card>
</lay-out> -->

</body>
</html>