<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>Miscellaneous Layouts</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<meta name="view-transition" content="same-origin">
	<link rel="stylesheet" href="/base.css">
</head>
<body>

	<h1>Layout</h1>

	<a href="demo/columns.html">Columns</a><br>
	<a href="demo/ratios.html">Ratios</a><br>
	<a href="demo/bento.html">Bento — Repeating Patterns</a><br>
	<a href="demo/bento.fixed.html">Bento — Fixed</a><br>
	<a href="demo/asymmetrical.html">Asymmetrical</a><br>
	
	<a href="demo/mosaic.html">Mosaic</a><br>
	<a href="demo/overflow.html">Overflow</a><br>
	<a href="demo/misc.html">Miscellaneous</a><br>

</body>
</html>