<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout Demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="dist/layout.min.css">
	<link rel="stylesheet" href="core/content.css">
	<!-- <link rel="stylesheet" href="demo.css"> -->
	<style>
		body { background-color: #EEE; }
		item-card { background: #FFF; }
	</style>
	
</head>
<body>

	<!-- <h1>Advanced Demo</h1> -->

	<lay-out lg="columns(4)">

		<item-card layout="rows(t-b)" type="article">
			<figure>
				<img src="https://picsum.photos/seed/1/320/180" alt="Image 1">
			</figure>
			<article>
				<h2>Møns Klint er kommet i selskab med pyramiderne</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a href="#1">Read more</a>
			</article>
		</item-card>

			<item-card layout="rows(b-t)">
				<figure>
					<img src="https://picsum.photos/seed/2/320/180" alt="Image 1">
				</figure>
				<article>
					<header class="meta">
						<small class="category">Kort nyt</small>
						<time datetime="2025-07-13T10:07">kl. 10:07</time>
					</header>
					<h2>Fremgang for truede fuglearter i dansk fjord</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#2">Read more</a>
				</article>
			</item-card>

			<item-card layout="stack(b-l)">
				<figure>
					<img src="https://picsum.photos/seed/3/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="stack(t-r)">
				<figure>
					<img src="https://picsum.photos/seed/4/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="columns(c-l 16:9)" style="grid-column: span 2;">
				<figure>
					<img src="https://picsum.photos/seed/4/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="columns(reverse b-l 1:1)" style="grid-column: span 2;">
				<figure>
					<img src="https://picsum.photos/seed/4/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="image(3:4)">
				<figure>
					<img src="https://picsum.photos/seed/5/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="text(b-l)">
				<figure>
					<img src="https://picsum.photos/seed/5/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

			<item-card layout="text(c-l)">
				<figure>
					<img src="https://picsum.photos/seed/5/320/180" alt="Image 1">
				</figure>
				<article>
					<h2>Item 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="#">Read more</a>
				</article>
			</item-card>

	</lay-out>



	</body>
	</html>
	