@container (min-width: 240px)  {
	/* Autofill / Autofit */
	lay-out[xs="autofill"] { 
		--layout-gtc: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
	lay-out[xs="autofit"] { 
		--layout-gtc: repeat(auto-fit, minmax(min(10rem, 100%), 1fr)); 
		--_ga: auto;
		& > * { --layout-ga: auto; }
	}
}
