<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Layout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Layout using CSS container queries">
	<link rel="stylesheet" href="layout.css">
	<link rel="stylesheet" href="layout-demo.css">
</head>
<body>

	<h2>Columns</h2>

	<section>
		<h3>1 column</h3>
		<code>&lt;lay-out&gt;</code>
		<lay-out col-gap="1em">
			<content-item></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>2 Columns</h3>
		<code>&lt;lay-out md="columns(2)" col-gap="1em"&gt;</code>
		<lay-out md="columns(2)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>3-column</h3>
		<code>&lt;lay-out sm="columns(2)" md="columns(3)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="columns(3)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>4-column</h3>
		<code>&lt;lay-out sm="columns(2)" md="columns(4)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="columns(4)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>5-column</h3>
		<code>&lt;lay-out sm="ratio(50x4:100)" lg="columns(5)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50x4:100)" lg="columns(5)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>6-column</h3>
		<code>&lt;lay-out sm="columns(2)" md="columns(3)" md="columns(6)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="columns(3)" xl="columns(6)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>Ratios</h2>

	<section>
		<h3>Ratio 25:75</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(25:75)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(25:75)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 33:66</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(33:66)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(33:66)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 40:60</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(40:60)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(40:60)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 60:40</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(60:40)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(60:40)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 66:33</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(66:33)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(66:33)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 75:25</h3>
		<code>&lt;lay-out sm="columns(2)" md="ratio(75:25)" col-gap="1em"&gt;</code>
		<lay-out sm="columns(2)" md="ratio(75:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 25:25:50</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" md="ratio(25:25:50)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" md="ratio(25:25:50)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 25:50:25</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" md="ratio(25:50:25)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" md="ratio(25:50:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50:25:25</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" md="ratio(50:25:25)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" md="ratio(50:25:25)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50:50:100</h3>
		<code>&lt;lay-out sm="ratio(50:50:100)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50:50:100)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 100:50:50</h3>
		<code>&lt;lay-out sm="ratio(100:50:50)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(100:50:50)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Ratio 50x4 100</h3>
		<code>&lt;lay-out sm="ratio(50x4:100)" col-gap="1em"&gt;</code>
		<lay-out sm="ratio(50x4:100)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>Masonry</h2>

	<section>
		<h3>Masonry 1-2</h3>
		<code>&lt;lay-out md="masonry(1-2)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-2)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 2-1</h3>
		<code>&lt;lay-out md="masonry(2-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(2-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-1-2</h3>
		<code>&lt;lay-out md="masonry(1-1-2)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-1-2)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

		<section>
		<h3>Masonry 1-1-2 Reverse</h3>
		<code>&lt;lay-out md="masonry(1-1-2-reverse)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-1-2-reverse)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-2-1</h3>
		<code>&lt;lay-out md="masonry(1-2-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-2-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 2-2-1</h3>
		<code>&lt;lay-out md="masonry(2-2-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(2-2-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-2-2</h3>
		<code>&lt;lay-out md="masonry(1-2-2)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-2-2)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 3-1-1</h3>
		<code>&lt;lay-out md="masonry(3-1-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(3-1-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-1-3</h3>
		<code>&lt;lay-out md="masonry(1-1-3)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-1-3)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-3-1</h3>
		<code>&lt;lay-out md="masonry(1-3-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-3-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-3</h3>
		<code>&lt;lay-out md="masonry(1-3)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-3)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 3-1</h3>
		<code>&lt;lay-out md="masonry(3-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(3-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 1-4</h3>
		<code>&lt;lay-out md="masonry(1-4)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(1-4)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Masonry 4-1</h3>
		<code>&lt;lay-out md="masonry(4-1)" col-gap="1em"&gt;</code>
		<lay-out md="masonry(4-1)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<h2>Asymmetrical</h2>
	<p>
		Asymmetrical layouts do not repeat like <code>column()</code>, <code>ratio()</code> and <code>masonry()</code> layouts. <br>
		If you add more items than the layout can handle, it will be hidden.
	</p>

	<section>
		<h3>Asymmetrical Left Right</h3>
		<code>&lt;lay-out md="asym(left-right)" col-gap="1em"&gt;</code>
		<lay-out md="asym(left-right)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Right Left</h3>
		<code>&lt;lay-out md="asym(right-left)" col-gap="1em"&gt;</code>
		<lay-out md="asym(right-left)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Top Bottom</h3>
		<code>&lt;lay-out md="asym(top-bottom)" col-gap="1em"&gt;</code>
		<lay-out md="asym(top-bottom)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Top Left &gt; Bottom Right</h3>
		<code>&lt;lay-out md="asym(top-left-bottom-right)" col-gap="1em"&gt;</code>
		<lay-out md="asym(top-left-bottom-right)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

	<section>
		<h3>Asymmetrical Bottom Left &gt; Top Right</h3>
		<code>&lt;lay-out md="asym(bottom-left-top-right)" col-gap="1em"&gt;</code>
		<lay-out md="asym(bottom-left-top-right)" col-gap="1em">
			<content-item></content-item>
			<content-item></content-item>
			<content-item></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
			<content-item repeat></content-item>
		</lay-out>
	</section>

</body>
</html>