.bs-avatar {
	display: flex;
	flex-wrap: wrap;
	max-inline-size: 100%;
}
.bs-avatar img {
	aspect-ratio: 1 / 1;
	border: var(--avatar-bdw, 2px) solid var(--avatar-bdc, #FFF);
	border-radius: 50%;
	width: var(--avatar-size, clamp(3rem, 1.5714rem + 4.5714vw, 5rem));
}
.bs-avatar img:not(:first-of-type) { margin-inline-start: var(--avatar-mis, -1em); }