.bs-inputstep {
	--button-bdrs: 50%;
	--button-pi: 0;

	display: grid;
	grid-column-gap: .5em;
	grid-template-columns: var(--_h) 1fr var(--_h);
}
.bs-inputstep button {
	align-self: end;
	aspect-ratio: 1;
}
.bs-inputstep :is(span, strong) { /* label-text */
	grid-column: 1 / 4;
}


.bs-inputstep input::-webkit-outer-spin-button,
.bs-inputstep input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.bs-inputstep input {
  -moz-appearance: textfield;
}

/* PAGINATION */
.bs-pagination {
	--button-pi: 0;

	align-self: end;
	display: grid;
	grid-column-gap: .5em;
	grid-template-columns: repeat(2, var(--_h)) 1fr repeat(2, var(--_h));
}

.bs-pagination button {
	align-self: end;
	aspect-ratio: 1;
}