@layer bs-component {
	:where(circular-range) {
		--circular-range-fill: #0066cc;
    --circular-range-track: #f0f0f0;
		--circular-range-thumb-sz: 1.5rem;

		--_min: attr(min type(<number>), 0);
		--_max: attr(max type(<number>), 100);
		--_value: attr(value type(<number>), 0);
		--_fill: calc((var(--_value) - var(--_min)) / (var(--_max) - var(--_min)) * 100);
		--_mask: radial-gradient(circle farthest-side at center, #0000 calc(100% - var(--circular-range-thumb-sz) - 1px), var(--circular-range-fill) calc(100% - var(--circular-range-thumb-sz)));
		--_rad: calc(360deg / (var(--max, 100) - var(--min, 0)));

		aspect-ratio: 1;
		display: grid;
		place-items: center;
		max-inline-size: var(--circular-range-mai, 320px);
		touch-action: none;
		width: 100%;

		&::before {
			background: conic-gradient(
				var(--circular-range-fill) calc(1% * var(--_fill)),
				var(--circular-range-track) calc(1% * var(--_fill))
			);
			border-radius: 50%;
			content: "";
			grid-area: 1 / 1;
			height: 100%;
			mask: var(--_mask);
			width: 100%;
		}

		&::after {
			counter-reset: val var(--_value);
			content: counter(val) attr(suffix);
			font-size: 200%;
			font-weight: 700;
			grid-area: 1 / 1;
		}

		& span {
			/* background: tomato; */
			grid-area: 1 / 1;
			height: 100%;
			pointer-events: none;
			rotate: calc(var(--_rad) * var(--_fill));
			width: var(--circular-range-thumb-sz);
			&::before {
				aspect-ratio: 1;
				background-color: var(--circular-range-fill);
				border-radius: 50%;
				box-shadow: 0 0 0 2px Canvas;
				content: '';
				display: block;
				width: 100%;
			}
		}
	}
}