@layer bs-component {
	:where(circular-range) {
		--circular-range-fill: #0066cc;
    --circular-range-track: #f0f0f0;
		--circular-range-track-sz: 1.5rem;

		--_mask: radial-gradient(circle farthest-side at center, #0000 calc(100% - var(--circular-range-track-sz) - 1px), var(--circular-range-fill) calc(100% - var(--circular-range-track-sz)));
		--_start-angle: 0deg;
		--_end-angle: 360deg;
		--_fill-angle: 0deg;

		aspect-ratio: 1;
		display: grid;
		place-items: center;
		max-inline-size: var(--circular-range-mai, 320px);
		touch-action: none;
		width: 100%;

		&::before {
			background: conic-gradient(
				#0000 0, #0000 var(--_start-angle),
				var(--circular-range-fill) var(--_start-angle), var(--circular-range-fill) var(--_fill-angle),
				var(--circular-range-track) var(--_fill-angle), var(--circular-range-track) var(--_end-angle),
				#0000 var(--_end-angle), #0000 360deg
			);
			border-radius: 50%;
			content: "";
			grid-area: 1 / 1;
			height: 100%;
			mask: var(--_mask);
			width: 100%;
		}

		&::after {
			counter-reset: val var(--_value);
			content: counter(val) attr(suffix);
			font-size: 200%;
			font-weight: 700;
			grid-area: 1 / 1;
		}

		& span {
			/* background: tomato; */
			grid-area: 1 / 1;
			height: 100%;
			pointer-events: none;
			rotate: var(--_fill-angle);
			width: var(--circular-range-track-sz);
			&::before {
				aspect-ratio: 1;
				background-color: var(--circular-range-fill);
				border-radius: 50%;
				box-shadow: 0 0 0 2px Canvas;
				content: '';
				display: block;
				width: 100%;
			}
		}
	}
}