@import "/ui/icon/index.css";

/*
 ***********************************************
 * COMPONENT INITIALIZATION & CUSTOM PROPERTIES
 ***********************************************
 */

tab-cordion {
	/* Accent Color */
	--tc-accent: light-dark(hsl(210, 100%, 45%), hsl(210, 100%, 75%));

	/* Borders and Shadows */
	--tc-item-bdc: light-dark(hsl(0 0% 80%), hsl(0 0% 30%));
	--tc-item-bdc-open: light-dark(hsl(0 0% 60%), hsl(0 0% 40%));
	--tc-item-bdrs: 1em;
	--tc-item-bdrs-separate: 2em;
	--tc-item-bdw: 1px;
	--tc-item-bdw-open: 2px;
	--tc-item-bxsh: 0 0 1px 0 rgba(0, 0, 0, .07), 0 1px 1px 0 rgba(0, 0, 0, .06), 0 1px 2px 0 rgba(0, 0, 0, .1);
	--tc-item-bxsh-open: 0 0 2px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);
	--tc-tabs-bdrs: 3em;
	--tc-tabs-bdw: 4px;
	--tc-tabs-container-bdrs: 1em;
	--tc-tabs-item-bdc: light-dark(#FFF, rgba(255, 255, 255, .30));
	--tc-tabs-item-bdw: 1px;
	--tc-tabs-line-bdw: 3px;
	--tc-tabs-line-bdc: light-dark(#EEE, #555);
	--tc-tabs-panel-bxsh: 0 8px 18px -12px rgba(0, 0, 0, .35), 0 6px 12px -14px rgba(0, 0, 0, .2);
	--tc-tabs-panel-bxsh-dark: 0 8px 18px -12px rgba(255, 255, 255, .35), 0 6px 12px -14px rgba(255, 255, 255, .35);

	/* Spacing and Transitions */
	--tc-breakout-unit: 1rem;
	--tc-group-rg: 1em;
	--tc-item-p: 1.25ch 1.5ch;
	--tc-item-p-separate: 1.5ch 2.5ch;
	--tc-item-p-tabs: 1.25ch;
	--tc-item-trsdu: 300ms;

	/* Panel/Content */
	--tc-panel-fs: inherit;
	--tc-panel-pb: 0 2ch;
	--tc-panel-pi: 1.5ch;
	--tc-tabs-panel-pb: 2ch;
	--tc-tabs-panel-pi: 1.5ch;

	/* Background Colors */
	--tc-bg: light-dark(#EEE, #222527);
	--tc-hover-bg: light-dark(hsl(210, 100%, 95%), hsl(210, 50%, 15%));
	--tc-item-bg-active: light-dark(rgba(255, 255, 255, .5), rgba(255, 255, 255, .14));
	--tc-tabs-bg: light-dark(#EAEAEA, #222527);
	--tc-tabs-panel-bg: light-dark(#f7f7f7, #1c1c1c);

	/* Accordion Hover States (from-hover) */
	--tc-from-hover-bg: var(--tc-hover-bg);
	--tc-from-hover-accent: var(--tc-accent);

	/* Tab Hover States (to-hover) */
	--tc-to-hover-bg: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
	--tc-to-hover-accent: var(--tc-accent);
	--tc-to-hover-line: light-dark(#CCC, #888);

	/* Base Styles */
	container-type: inline-size;
	display: block;
	interpolate-size: allow-keywords;

	cq-box {
		display: grid;
	}

	details {
		background: var(--tc-item-bg, Canvas); /* TODO! */
		translate: 0 calc(var(--_y) * var(--tc-breakout-unit));
		transition: translate var(--tc-item-trsdu) ease;
		&::details-content {
			block-size: 0;
			content-visibility: hidden;
			font-size: var(--tc-panel-fs);
			overflow: hidden;
			padding-block: 0;
			/* padding-inline: var(--tc-panel-pi); */
			transition: block-size var(--tc-item-trsdu), content-visibility var(--tc-item-trsdu), padding-block var(--tc-item-trsdu);
			transition-behavior: allow-discrete;
		}

		&[open]::details-content {
			block-size: auto;
			content-visibility: visible;
			/* padding-block: var(--tc-panel-pb); */
		}
	}

		summary {
		color: var(--tabs-group-c, inherit);
		cursor: pointer;
		display: flex;
		font-family: var(--tc-item-ff, inherit);
		font-size: var(--tc-item-fs, inherit);
		grid-column: var(--tab-cordion-index);
		grid-row: 1;
		justify-content: space-between;
		list-style: none;
		padding: var(--tc-item-p);
		position: relative;
		-webkit-user-select: none;
		user-select: none;
		text-box: cap alphabetic;
		text-wrap: var(--tc-item-txw, nowrap);
		transition: background-color .2s ease;

		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}

	ui-icon {
		color: var(--tc-icon-c, light-dark(#5a5a5a, #b0b0b0));
	}
}