/*
 **************************************
 * HOVER EFFECTS & CONTENT TRANSITIONS
 **************************************
 */

tab-cordion {

	/* --- Accordion hover --- */
	@media (hover: hover) {
		&:not([to])[from~="hvr-bg"] details:hover:not([open]) {
			background: var(--tc-from-hover-bg);
		}

		&:not([to])[from~="hvr-accent"] details:hover:not([open]) {
			color: var(--tc-from-hover-accent);
		}
	}

	@container (width <=700px) {
		@media (hover: hover) {
			&[from~="hvr-bg"] details:hover:not([open]) {
				background: var(--tc-from-hover-bg);
			}

			&[from~="hvr-accent"] details:hover:not([open]) {
				color: var(--tc-from-hover-accent);
			}
		}
	}

	/* --- Tabs hover --- */
	@container (width >=700px) {
		@media (hover: hover) {
			&[to] details:hover {
				background: #0000;
			}

			&[to~="hvr-bg"] details:not([open]) summary:hover {
				background: var(--tc-to-hover-bg);
			}

			&[to~="hvr-accent"] summary:hover {
				color: var(--tc-to-hover-accent);
				cursor: pointer;
			}

			&[to~="hvr-line"] {
				details:not([open]) summary::after {
					border-block-end: var(--tc-tabs-line-bdw) solid var(--tc-to-hover-line);
					content: "";
					inset-block-end: 0;
					inset-inline: 0;
					opacity: 0;
					position: absolute;
					transition: opacity var(--tc-item-trsdu) ease;
				}

				details:not([open]) summary:hover::after {
					opacity: 1;
				}
			}
		}
	}

	/* --- Tabs panel slide transition --- */

}