@media (min-width: 720px) {
	lay-out[lg="ratio(25:75)"] { --layout-gtc: 1fr 3fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(75:25)"] { --layout-gtc: 3fr 1fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(33:66)"] { --layout-gtc: 1fr 2fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(66:33)"] { --layout-gtc: 2fr 1fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(40:60)"] { --layout-gtc: 2fr 3fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(60:40)"] { --layout-gtc: 3fr 2fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(25:25:50)"] { --layout-gtc: 1fr 1fr 2fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(25:50:25)"] { --layout-gtc: 1fr 2fr 1fr; --_ga: auto; & > * { --layout-ga: auto; } }
	lay-out[lg="ratio(50:25:25)"] { --layout-gtc: 2fr 1fr 1fr; --_ga: auto; & > * { --layout-ga: auto; } }
}
