@layer bs-component {
	:where(.ui-color-key) {
		all: unset;
		background-color: var(--CanvasGray);
		border-radius: var(--ui-color-key-bdrs, 1em);
		display: grid;
		font-family: var(--ui-color-key-ff, var(--ff-form));
		column-gap: 1.5ch;
		grid-auto-flow: row;
		overflow: hidden;
		padding: 1ch 1.5ch;
		row-gap: .25ch;
		width: fit-content;
		& li {
			align-items: center;
			display: flex;
			font-size: smaller;
			gap: 1ch;
			grid-auto-flow: column;
			&::before {
				aspect-ratio: 1 / 1;
				background-color: var(--ui-color-key, var(--ButtonBorder));
				border: 1px solid color-mix(in srgb, var(--ui-color-key), #000 15%);
				border-radius: 50%;
				content: "";
				display: block;
				width: 1em;
			}
		}
	}
}