@media (min-width: 540px) {
	lay-out[md*="bento"] { --_ga: initial; & > * { --layout-ga: auto; } }
	lay-out[md="bento(2sm:1lg-h)"],
	lay-out[md="bento(1lg-h:2sm)"],
	lay-out[md="bento(1lg-h:4sm)"],
	lay-out[md="bento(4sm:1lg-h)"] {
		--layout-gtc: 1fr 1fr;
	}
	lay-out[md="bento(1lg-v:2sm)"],
	lay-out[md="bento(1lg-v:3sm)"],
	lay-out[md="bento(1lg-v:4sm)"] {
		--layout-gtc: 2fr 1fr; 
	}
	lay-out[md="bento(2sm:1lg-v)"],
	lay-out[md="bento(3sm:1lg-v)"],
	lay-out[md="bento(4sm:1lg-v)"] {
		--layout-gtc: 1fr 2fr;
	}
	lay-out[md="bento(1lg-h:1lg-v:2sm)"],
	lay-out[md="bento(1lg-v:1lg-h:2sm)"],
	lay-out[md="bento(1lg-v:2sm:1lg-v)"],
	lay-out[md="bento(2sm:1lg-v:2sm)"],
	lay-out[md="bento(1lg-v:2sm:2sm)"] {
		--layout-gtc: 1fr 1fr 1fr;
	}
	lay-out[md="bento(1xl-v:2sm:2sm)"] { --layout-gtc: 1fr 1fr 1fr 1fr; }

	lay-out[md="bento(1lg-v:2sm)"] *:nth-of-type(3n+1) { --layout-ga: span 2 / auto; }
	lay-out[md="bento(2sm:1lg-h)"] *:nth-of-type(3n+3) { --layout-ga: auto / span 2; }
	lay-out[md="bento(1lg-h:2sm)"] *:nth-of-type(3n+1) { --layout-ga: auto / span 2; }
	lay-out[md="bento(2sm:1lg-v)"] *:nth-of-type(3n+2) { --layout-ga: span 2 / auto; }
	lay-out[md="bento(1lg-v:3sm)"] *:nth-of-type(4n+1) { --layout-ga: span 3 / auto; }
	lay-out[md="bento(1lg-v:4sm)"] *:nth-of-type(5n+1) { --layout-ga: span 4 / auto; }
	lay-out[md="bento(3sm:1lg-v)"] *:nth-of-type(4n+2) { --layout-ga: span 3 / auto; }
	lay-out[md="bento(4sm:1lg-v)"] *:nth-of-type(5n+2) { --layout-ga: span 4 / auto; }
	lay-out[md="bento(1lg-h:4sm)"] *:nth-of-type(5n+1) { --layout-ga: auto / span 2; }
	lay-out[md="bento(4sm:1lg-h)"] *:nth-of-type(5n+5) { --layout-ga: auto / span 2; }
	lay-out[md="bento(1lg-h:1lg-v:2sm)"] {
		*:nth-of-type(4n+1) { --layout-ga: auto / span 2; }
		*:nth-of-type(4n+2) { --layout-ga: span 2 / auto; }
	}
	lay-out[md="bento(1lg-v:1lg-h:2sm)"] {
		*:nth-of-type(4n+1) { --layout-ga: span 2 / auto; }
		*:nth-of-type(4n+2) { --layout-ga: auto / span 2; }
	}
	lay-out[md="bento(1lg-v:2sm:1lg-v)"] {
		*:nth-of-type(4n+1),
		*:nth-of-type(4n+3) { --layout-ga: span 2 / auto; } 
	}
	lay-out[md="bento(2sm:1lg-v:2sm)"] *:nth-of-type(5n+3) { --layout-ga: span 2 / auto; }
	lay-out[md="bento(1lg-v:2sm:2sm)"] *:nth-of-type(5n+1) { --layout-ga: span 2 / auto; }
	lay-out[md="bento(1xl-v:2sm:2sm)"] *:nth-of-type(5n+1) { --layout-ga: span 2 / span 2; }
}