@media (min-width: 1024px) {
	lay-out[xl*="bento(fixed-"] { --_ga: initial; & > * { --layout-ga: auto; } }

	lay-out[xl="bento(fixed-6a)"] {
		--layout-gtc: repeat(10, 1fr);
		--layout-gtr: repeat(5, 1fr);
		*:nth-of-type(6n+1) { --layout-ga: span 2 / span 3; }
		*:nth-of-type(6n+2) { --layout-ga: span 4 / span 4; }
		*:nth-of-type(6n+3) { --layout-ga: span 3 / span 3; }
		*:nth-of-type(6n+4) { --layout-ga: span 3 / span 3; }
		*:nth-of-type(6n+5) { --layout-ga: span 1 / span 4; }
		*:nth-of-type(6n+6) { --layout-ga: span 2 / span 3; }
		*:nth-of-type(n+7) { display: none; }
	}

	lay-out[xl="bento(fixed-6b)"] {
		--layout-gtc: repeat(10, 1fr);
		--layout-gtr: repeat(5, 1fr);
		*:nth-of-type(6n+1) { --layout-ga: span 4 / span 4; }
		*:nth-of-type(6n+2) { --layout-ga: span 3 / span 3; }
		*:nth-of-type(6n+3) { --layout-ga: auto / span 3; }
		*:nth-of-type(6n+4) { --layout-ga: span 2 / span 3; }
		*:nth-of-type(6n+5) { --layout-ga: span 2 / span 6; }
		*:nth-of-type(6n+6) { --layout-ga: auto / span 4; }
		*:nth-of-type(n+7) { display: none; }
	}

	lay-out[xl="bento(fixed-7a)"] {
		--layout-gtc: repeat(3, 1fr);
		--layout-gtr: repeat(5, 1fr);
		*:nth-of-type(7n+1) { --layout-ga: span 2 / span 2; }
		*:nth-of-type(7n+2) { --layout-ga: span 2 / auto; }
		*:nth-of-type(7n+3) { --layout-ga: span 2 / auto; }
		*:nth-of-type(7n+4) { --layout-ga: auto / auto; }
		*:nth-of-type(7n+5) { --layout-ga: span 3 / auto; }
		*:nth-of-type(7n+6) { --layout-ga: span 2 / auto; }
		*:nth-of-type(n+8) { display: none; }
	}

	lay-out[xl="bento(fixed-7b)"] {
		--layout-gtc: repeat(10, 1fr);
		--layout-gtr: repeat(6, 1fr);
		*:nth-of-type(7n+1) { --layout-ga: span 4 / span 4; }
		*:nth-of-type(7n+2) { --layout-ga: span 2 / span 6; }
		*:nth-of-type(7n+3) { --layout-ga: span 3 / span 3; }
		*:nth-of-type(7n+4) { --layout-ga: span 1 / span 3; }
		*:nth-of-type(7n+5) { --layout-ga: span 2 / span 3; }
		*:nth-of-type(7n+6) { --layout-ga: span 2 / span 4; }
		*:nth-of-type(7n+7) { --layout-ga: auto / span 6; }
		*:nth-of-type(n+8) { display: none; }
	}

	lay-out[xl="bento(fixed-9a)"] {
		--layout-gtc: repeat(4, 1fr);
		*:nth-of-type(9n+1),
		*:nth-of-type(9n+6),
		*:nth-of-type(9n+7),
		*:nth-of-type(9n+8) { --layout-ga: span 2 / auto; }
		*:nth-of-type(9n+2) { --layout-ga: span 2 / span 2; }
		*:nth-of-type(n+10) { display: none; }
	}
}
