@layer bs-component {
	:where(.ui-number-card) {
		aspect-ratio: 1/1;
		background-color: var(--ButtonFace);
		padding-block-end: 2ch;
		padding-inline: 2ch; 
		text-align: center;
		& p { margin: 0; }
		& ui-number {
			&::part(number) {
				font-size: 500%;
				font-variant-numeric: tabular-nums;
				font-weight: 900;
			}
			&::part(suffix) {
				font-size: 75%;
			}
		}
	}
}