@import "../toolbar/ui-toolbar.css";
:where(.ui-text-editor) {
	display: grid;
	row-gap: 2ch;
	& label:has([hidden]) { display: none; }
	& textarea {
		block-size: auto;
		color-scheme: dark;
		font-family: var(--ff-mono);
		font-size: small;
	}
	[contenteditable]:focus-visible {
		outline-color: var(--ButtonBorder);
		outline-offset: 1ch;
		outline-style: dotted;
	}
}