@layer bs-core {
	/* Global */
	*, *::before, *::after { box-sizing: border-box; }
	[dir=rtl] * { --_dir: left; } /* for direction-aware gradients */
	[hidden] { display: none; }
	[data-sr] {
		border: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	/* Elements */
	:where(body) {
		accent-color: var(--color-accent);
		background-color: var(--color-surface);
		color: var(--color-text);
		color-scheme: light dark;
		font-family: var(--font-body);
		font-size: clamp(1rem, 0.8661rem + 0.4286vw, 1.1875rem);
		line-height: 1.5;
		margin-inline: auto;
		max-inline-size: 85ch;
		padding-inline: 2ch;
		text-rendering: optimizeLegibility;
	}
	:where(a) {
		color: var(--color-link);
		-webkit-tap-highlight-color: transparent;
		&:visited { color: var(--color-link-visited); }
	}
	:where(abbr) {
		cursor: help;
		text-decoration: underline;
		text-decoration-style: dotted;
	}
	:where(audio) {
		&::-webkit-media-controls-panel {
			background: var(--color-surface-alt);
		}
	}
	:where(blockquote) {
		border-inline-start: .75ch solid var(--color-text-muted);
		padding-inline-start: 2ch;
	}
	:where(blockquote, dl, figure, h1, ol, p, pre, ul) {
		margin-block: 1rlh;
	}
	:where(caption) {
		font-size: smaller;
		font-style: italic;
		margin-block: 1rlh;
	}
	:where(code) {
		background-color: var(--color-surface-alt);
		font-family: var(--font-mono);
		font-size: 80%;
		padding: .165ch .33ch;
	}
	:where(del) { color: var(--color-error); }
	:where(dfn) {
		text-decoration: underline;
		text-decoration-style: double;
	}
	:where(dt) { font-weight: 700; }
	:where(figcaption) { font-size: smaller; }
	:where(h1, h2, h3, h4) {
		font-family: var(--font-heading);
		line-height: 1.3;
		overflow-wrap: break-word;
		text-wrap: balance;
	}
	:where(h2) { margin-block: .75rlh; }
	:where(hr) {
		border: solid var(--color-border);
		border-width: 1px 0 0;
		margin-block: .5rlh;
	}
	:where(img) {
		font-style: italic;
		height: auto;
		max-width: 100%;
	}
	:where(ins) { color: var(--color-success) }
	:where(kbd) {
		background-color: var(--color-button);
		font-size: smaller;
		padding: .33ch .66ch;
	}
	:where(mark) {
		background-color: var(--color-mark);
		color: var(--color-mark-text);
	}
	:where(p) { text-wrap: pretty; }
	:where(pre) { font-size: smaller; overflow: auto; }
	:where(pre, tr:nth-of-type(even)) {
		background-color: var(--color-surface-alt);
	}
	:where(table) {
		border-collapse: collapse;
		/* Column-alignment, if you need to support more than 8 columns, add more here: */
		&[data-c1~="center"] tr > *:nth-of-type(1),
		&[data-c2~="center"] tr > *:nth-of-type(2),
		&[data-c3~="center"] tr > *:nth-of-type(3),
		&[data-c4~="center"] tr > *:nth-of-type(4),
		&[data-c5~="center"] tr > *:nth-of-type(5),
		&[data-c6~="center"] tr > *:nth-of-type(6),
		&[data-c7~="center"] tr > *:nth-of-type(7),
		&[data-c8~="center"] tr > *:nth-of-type(8) { text-align: center; }

		&[data-c1~="end"] tr > *:nth-of-type(1),
		&[data-c2~="end"] tr > *:nth-of-type(2),
		&[data-c3~="end"] tr > *:nth-of-type(3),
		&[data-c4~="end"] tr > *:nth-of-type(4),
		&[data-c5~="end"] tr > *:nth-of-type(5),
		&[data-c6~="end"] tr > *:nth-of-type(6),
		&[data-c7~="end"] tr > *:nth-of-type(7),
		&[data-c8~="end"] tr > *:nth-of-type(8) {
			text-align: end;
		}
	}
	:where(td) { border: 1px solid; }
	:where(td, th) {
		font-size: smaller;
		padding: 1ch;
	}
	:where(video) { max-width: 100%; }
}
