<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<title>countdown</title>
	<meta charset="UTF-8">
	<link rel="preload" href="/css/styles.css" as="style">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="browser.style: avatar">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/png" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="countdown.css">
	<meta http-equiv="Content-Security-Policy" content="
		base-uri;
		default-src;
		connect-src 'self';
		font-src;
		form-action;
		frame-src www.youtube.com;
		img-src 'self' picsum.photos *.picsum.photos i.ytimg.com data:;
		manifest-src 'self';
		media-src 'self';
		object-src 'none';
		script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'sha256-aMAaWBSzU+6TAsexJqeaXnZNRv+HYE/ouNNkwU8/s7A=';
		style-src 'self' 'unsafe-inline';
	">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	<main>
		<h1 class="bs-header">browser.style</h1>
		<a href="/">Back to table of contents</a>
		<hr>
		<section>
			<h2>countdown</h2>
			<time datetime="2023-01-01" class="bs-countdown"></time>
		</section>
	</main>
	<script src="/main.js" defer></script>
	<script type="module">
		import countdown from './countdown.js';
		document.querySelectorAll('.bs-countdown').forEach(element => countdown(element))
	</script>
</body>
</html>