@keyframes fullwidth {
	to { width: 100%; }
}
@keyframes push {
	50% { transform: scale(0.8); }
	100% { transform: scale(1); }
}
@keyframes wobble {
	16.65% { transform: translateX(8px); }
	33.3% { transform: translateX(-6px); } 
	49.95% { transform: translateX(4px); }
	66.6% { transform: translateX(-2px); }
	83.25% { transform: translateX(1px) }
	100% { transform: translateX(0); }
}