:where(.ui-price-card) {
	background: var(--ui-price-card-bg, var(--GrayCanvas));
	border-radius: var(--ui-price-card-bdrs, 2ch);
	display: grid;
	padding: 1.5ch 2ch;

	& button {
		justify-self: center;
		margin-block-end: 1ch;
	}
	& li {
		&::marker {
			content: "✓  ";
			font-family: ui-sans-serif, system-ui;
			font-size: smaller;
		}
		&.--disabled {
			opacity: .33;
			&::marker {
				content: "✕  ";
			}
		}
	}
	& .ui-chip { justify-self: start; }
}
/* TODO: Outline button hover-bg */
/* TODO: Options for column-width, breaks */
:where(.ui-column) {
	container-type: inline-size;
	display: grid;
	gap: var(--ui-column-gap, 2ch);
	grid-auto-flow: column;
}