@import 'input.range.css';

:where(input:not([type="checkbox"],[type="file"],[type="radio"],[type="range"]), option, select, textarea) {
	--icon-mie: .75em;
	--icon-mis: 1ch;
	--icon-sz: 1.5em;
}

:where(select) {
	-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
}

/*
================
 Specific Types
================
*/

/* <input type="checkbox">, <input type="radio"> */
:where(input:indeterminate) { background: var(--color-gray-1) var(--icon-minus) center center no-repeat; }

:where([type="checkbox"],[type="radio"]) {
	--input-bdw: 2px;
	--input-bgsz: 1em;
	--input-bs: 1.5em;
	--input-pab: 0px;
	--input-pi: 0px;
	--input-is: var(--input-bs);
}


/* TODO! Create hover for radio + checkboxes 


--_bxsh-hover-focus: 

*/




/* :where([type="radio"]):hover {
	box-shadow: inset 0 0 0 var(--input-radio-bdw, 3px) var(--input-radio-inner, #FFF), 0 0 0 4px tomato;
} */

/* TODO! CHECKED AND UNCHECKED VERSIONS FOR ALL COLORS */

:where([type="radio"]:not(:checked)):hover,
:where([type="radio"]:not(:checked)):focus-visible,
:where([type="checkbox"]):focus-visible,
:where([type="checkbox"]):hover {
	box-shadow: 0 0 0 .2em var(--input-bxsh);
	--outline-width: 0px;
	transition: box-shadow .3s ease-out;
}

:where([type="checkbox"]:not([role="switch"]):checked, [data-bs*="checkbox"]:checked) {
	background: var(--color-accent) var(--icon-check-light) center center no-repeat;
	background-size: var(--input-bgsz);
	border-color: var(--color-accent);
}
/* role="switch" */
:where([type="checkbox"][role="switch"]) {
	--_bs: calc(var(--input-bs) - (2 * var(--input-bdw)));
	--input-bdw: 3px;
	--input-bg: var(--input-switch-bg);
	--input-bdrs: var(--_bs);
	box-sizing: content-box;
	align-content: center;
	block-size: var(--_bs);
	border-color: var(--input-switch-bg);
	display: grid;
	inline-size: calc(var(--input-switch-ratio, 1.9) * var(--_bs));
	justify-content: start;
}
:where([type="checkbox"][role="switch"])::before {
	aspect-ratio: 1 / 1;
	background-color: var(--input-switch-toggle-bg);
	border-radius: 50%;
	content: "";
	display: block;
	inline-size: var(--_bs);
}
:where([type="checkbox"][role="switch"]:checked) {
	background-color: var(--input-switch-checked-bg);
	border-color: var(--input-switch-checked-bg);
}
:where([type="checkbox"][role="switch"]:checked) { justify-content: end; }

/* <input type="radio"> */
:where([type="radio"]) { border-radius: 50%; }
:where([type="radio"]:checked) {
	--input-bdc: var(--color-accent);
	--input-bg: var(--color-accent);
}
[data-bs~="radio"] {
	background-image: none;
}

[data-bs~="radio"]:checked,
:where([type="radio"]:not([data-bs~="checkbox"]):checked) {
	box-shadow: inset 0 0 0 var(--input-radio-bdw, 3px) var(--input-radio-inner, #FFF);
}

/* HOVER */
[data-bs~="radio"]:checked:hover,
:where([type="radio"]:not([data-bs~="checkbox"]):checked:hover) {
	box-shadow: 0 0 0 .2em var(--input-bxsh), inset 0 0 0 var(--input-radio-bdw, 3px) var(--input-radio-inner, #FFF);
}


:where([type="radio"][data-bs~="macos"]:checked) {
	--input-bdw: var(--input-radio-bdw, .45em);
	box-shadow: inset 0 0 0 var(--input-radio-bdw, 6px) var(--input-radio-inner, #FFF);
}

/* <input type="color"> */
:where([type="color"]) { padding-inline: var(--input-pab); }
:where([type="color"])::-webkit-color-swatch-wrapper { padding: 0; }
:where([type="color"])::-webkit-color-swatch { border-radius: var(--input-bdrs); }

/* <input type="date">, <input type="datetime-local">, <input type="month">, <input type="week">  */
:where(input:not([type="search"]))::-webkit-calendar-picker-indicator {
	opacity: 0;
	block-size: var(--icon-sz);
	inline-size: var(--icon-sz);
	margin: calc(var(--icon-sz) * -1);
}

/* <input type="file"> */
:where([type=file]) {
	inline-size: 100%;
}
:where([type=file])::file-selector-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--file-button-bgc);
	block-size: var(--_h);
	border-radius:  var(--input-bdrs) 0 0 var(--input-bdrs);
	border-color: var(--input-bdc);
	border-style: var(--input-bds, solid);
	border-width: 0px var(--input-bdw) 0px 0px;
	font-size: var(--input-fz, inherit);
	font-weight: var(--button-fw, 400);
	margin-inline-end: var(--input-pi);
	padding-block: var(--input-pb);
	padding-inline: var(--input-pi);
}
:where([capture]) {
	border: 0;
	color: rgba(0, 0, 0, 0);
	inline-size: 100%;
	position: relative;
}
:where([capture])::file-selector-button,
:where([capture])::before {
	background-color: var(--color-accent);
	background-image: url('/svg/camera-selfie.svg');
	background-size: 2.5em;
	background-position: 1ch center;
	background-repeat: no-repeat;
	border-radius: inherit;
	color: var(--accent-text-color);
	border: 0;
	width: 100%;
}
:where([capture])::before {
	content: attr(aria-label);
	display: grid;
	inset: 0;
	place-content: center;
	position: absolute;
}
:where([capture="environment"])::before { background-image: url('/svg/camera.svg'); }



/* <input type="search"> */
:where([type="search"])::-webkit-list-button,
:where([type="search"])::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	appearance: none;
	background-color: #9e9e9e;
	block-size: var(--icon-sz);
	inline-size: var(--icon-sz);
	margin-block: 0;
	margin-inline: 0 -0.75em;
	-webkit-mask-image: var(--icon-chevron-down);
	mask-image: var(--icon-chevron-down);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
/* Search reset-button */
:where([type="search"])::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: currentColor;
	block-size: var(--icon-sz);
	inline-size: var(--icon-sz);
	inset-inline-end: 0.75em;
	margin: 0;
	-webkit-mask-image: var(--icon-reset);
	mask-image: var(--icon-reset);
	position: absolute;
}
/* Combination: Search reset-button AND datalist dropdown-button */
:where([type="search"][list])::-webkit-search-cancel-button { inset-inline-end: 2.5em; }

/* <select>, <optgroup>, <option> */
:where(select:not([size])) { --icon: var(--select-icon, var(--icon-chevron-down)); }

/* Target non-Safari only */
/* @supports (contain: paint) { */
	:where(select[size]) {
		block-size: calc(var(--_sz, 1) * var(--_h));
		overflow: hidden;
		padding: 0;
	}
	:where(optgroup) { font-style: normal; }
	:where(optgroup)::before { 
		background-color: var(--optgroup-bgc);
		color: var(--optgroup-c);
		content: attr(label);
		display: block;
		height: var(--_h);
		padding: 1em var(--input-pi);
	}
	:where(option) { padding-block-start: 1em; }
	:where(option:not(:last-of-type)) { border-block-end: var(--input-bdw) solid var(--input-bdc); }
	:where(option:checked) {
		--icon: var(--icon-checkmark);
		background-color: var(--option-checked-bgc);
	}
	:where(optgroup > option)::before { display: none; }
	:where(optgroup option:first-of-type) { margin-block-start: -1.25em }
	:where(optgroup option:not(:checked)) { background-color: var(--input-bgc); }
/* } */

/* <textarea> */
:where(textarea) { resize: vertical; }
:where(textarea[rows="2"]) { min-block-size: calc(2 * var(--_h)); }
:where(textarea[rows="3"]) { min-block-size: calc(3 * var(--_h)); }
:where(textarea[rows="4"]) { min-block-size: calc(4 * var(--_h)); }

/* Icons */
:where([data-icon~="end"]) { padding-inline-end: calc(var(--icon-sz) + calc(var(--icon-mie) + var(--icon-mis))); }
:where([data-icon~="start"]) { padding-inline-start: calc(var(--icon-sz) + calc(var(--icon-mie) + var(--icon-mis))); }

/* Validation Patterns */
input:required:not(:focus-visible):not(:placeholder-shown):invalid {
	--input-bdc: var(--input-invalid-bdc);
	--input-bgc: var(--input-invalid-bgc);
}

input[data-bs~="live"]:required:not(:placeholder-shown):invalid {
	--input-bdc: var(--input-invalid-bdc);
	--input-bgc: var(--input-invalid-bgc);
	--icon: var(--icon-alert);
}

input[data-bs~="live"]:required:not(:placeholder-shown):invalid ~ :is(span, small),
input:required:not(:focus-visible):not(:placeholder-shown):invalid ~ :is(span, small) {
	--icon: var(--icon-alert);
	color: var(--input-invalid-c);
	opacity: 1;
}

input[data-bs~="valid"]:required:not(:placeholder-shown):valid { --icon: var(--icon-checkmark); }

/* Classes for shadow-dom etc. */
.input-no-spinner { -moz-appearance: textfield; }
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

/*
========================
 Browser-specific hacks
========================
*/

/* Target Firefox */
/* FIX: option:checked in Firefox */
@-moz-document url-prefix() {
	:where(optgroup option:first-of-type) { margin-block-start: 0; }
}

/* Target Safari */
@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (display:flow-root) {
		:where(input[type="search"])::-webkit-list-button {
			margin-inline: 0;
		}
		:where(select[size]) {
			block-size: auto;
		}
	}
}

/* Target Mobile Safari */
@supports (-webkit-touch-callout: none) {
	:where(input[type="search"])::-webkit-list-button {
		margin-inline-end: -.5em;
	}

	:where(select[size]) {
		--icon: var(--select-icon, var(--icon-chevron-down));
		block-size: var(--_h);
		overflow: hidden;
		padding: var(--input-pi);
	}
}