@import 'li.css';

:where(ol:not([type])) {
	counter-reset: ol;
	list-style: none;
	margin-block-start: var(--list-mbs, 1em);
  margin-block-end: var(--list-mbe, 1em);
	padding-inline-start: var(--list-pis, 1.5em);
}

:where(ol ol) {
	--list-mbe: 0;
	--list-mbs: 0;
}

:where(ol:not([type]) li) { counter-increment: ol; }

:where(ol:not([type]) li) {
	--li-bf-cnt: counters(ol, '.') '. ';
	--li-bf-fw: 600;
}

:where(ol:not([class]) li) { --li-bf-bgc: transparent; }

/* Ensure tap-target-size is large enough for links */
:where(ol li a) { line-height: 2; } 