/* abbr */
:where(abbr[title]) {
	cursor: var(--abbr-cur, help);
	text-decoration-line: var(--abbr-tds, underline);
	text-decoration-style: var(--abbr-tds, dotted);
	text-underline-offset: var(--abbr-tdo, 3px);
}

:where(b) {
	font-weight: var(--b-fw, 500);
}

/* code */
:where(code),
:where(var) {
	display: inline-block;
	font-family: var(--code-ff, ui-monospace, monospace);
	font-size: var(--code-fs, 0.9em);
	padding-block: var(--code-pb, 0 .0125em);
	padding-inline: var(--code-pi, 0.3em);
}

:where(code) {
	background-color: var(--code-bgc);
	color: var(--code-c);
}

/* dfn */
:where(dfn)	{
	font-style: var(--dfn-fs, normal);
	text-decoration-line: var(--dfn-tds, underline);
	text-decoration-style: var(--dfn-tds, double);
	text-underline-offset: var(--dfn-tdo, 2px);
}

/* del */
:where(del)	{ color: var(--del-c); }

/* ins */
:where(ins)	{ color: var(--ins-c); }

/* kbd */
:where(kbd) {
	align-items: center;
	background-color: var(--kbd-bgc);
	border-radius: var(--kbd-bdrs, 3px);
	border: var(--kbd-bd, 1px solid var(--gray-5));
	box-shadow: var(--kbd-bxsh, 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #fff);
	color: var(--kbd-c);
	display: inline-flex;
	font-family: var(--kbd-ff, ui-sans-serif, system-ui, sans-serif);
	font-size: var(--kbd-fz, small);
	font-weight: var(--kbd-fw, 500);
	inset-block-start: -0.125em;
	line-height: var(--kbd-lh, 1.3);
	margin-inline: var(--kbd-mi, .125em);
	padding: var(--kbd-p, 0 .5em);
	position: relative;
	text-shadow: var(--kbd-txsh, 0 1px 0 #fff);
}

/* mark */
:where(mark) {
	background-color: var(--mark-bgc);
	color: var(--mark-c);
	padding-block: var(--mark-pb, .25ch);
	padding-inline: var(--mark-pi, .5ch);
}

/* time */
:where(time) { font-weight: var(--time-fw, 700); }
:where(time > span) { font-variant-numeric: ordinal;}

/* var */
:where(var) {
	background-color: var(--var-bgc);
	color: var(--var-c);
	font-style: var(--var-fs, normal);
}