/* Adjust number of columns in scrollable area */

@media (min-width: 768px) {
	.--sm-cols-2 { --ui-scroll-cols: 2; }
	.--sm-cols-3 { --ui-scroll-cols: 3; }
}

@media (min-width: 1024px) {
	.--md-cols-2 { --ui-scroll-cols: 2; }
	.--md-cols-3 { --ui-scroll-cols: 3; }
	.--md-cols-4 { --ui-scroll-cols: 4; }
}
