@import url('ui-scroll-cols.css');
@import url('ui-scroll-nav.css');

:where(.ui-scroll) {
	display: flex;
	gap: var(--ui-scroll-gap, 0%);
	grid-area: 1 / 1; 
	overflow-y: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar { display: none; }
	&[data-scroll-behavior] { scroll-behavior: auto; }
	& > * {
		--_w: calc((100% / var(--ui-scroll-cols, 1)) - (((var(--ui-scroll-cols, 1) - 1) / var(--ui-scroll-cols, 1)) * var(--ui-scroll-gap, 0%)));
		flex: 0 0 var(--_w);
		scroll-snap-align: start;
	}
}
/* outer wrapper: */
*:has(> .ui-scroll + .ui-scroll-nav) {
	display: grid;
	direction: ltr;
}
/* change grid-layout, if nav is outside: */
.ui-scroll:has(+ .--nav-outside) {
	grid-column: 2;
	grid-row: 1;
}
/* change outer wrapper gap, if nav is outside: */
*:has(> .ui-scroll + .--nav-outside) {
	gap: var(--ui-scroll-gap);
}
/* hide navigation for tabs */
.ui-scroll[data-scroll-nav="--nav-tabs"] + .--nav-tabs {
	display: none;
}
/* hide navigation when single page */
.--single-page + .ui-scroll-nav {
	display: none;
}