@layer bs-component {
	:where(.ui-scroll + .ui-scroll-nav) {
		--ui-scroll-nav-gap: 2ch;
		display: grid;
		gap: var(--ui-scroll-gap);
		grid-auto-flow: column;
		justify-content: var(--ui-scroll-nav-jc, center);
		margin-block: var(--ui-scroll-gap);
		& ol {
			all: unset;
			align-content: center;
			display: grid;
			gap: var(--ui-scroll-dot-gap, .6em);
			grid-auto-flow: column;
			pointer-events: all;
			& li {
				all: unset;
				background-color: var(--AccentColorText);
				border-radius: 50%;
				height: var(--ui-scroll-dot-h, .5em);
				width: var(--ui-scroll-dot-w, .5em);
				&[aria-selected=true] {
					background-color: var(--AccentColor);
					box-shadow: 0 0 0 2px var(--AccentColorText);
				}
			}
		}
		&.--control {
			--ui-scroll-nav-jc: start;
			background: var(--ui-scroll-nav-bg, var(--CanvasGray));
			border-radius: var(--ui-scroll-nav-bdrs, 1.5em);
			column-gap: 1ch;
			grid-template-columns: min-content 1fr min-content;
			padding: var(--ui-scroll-nav-p, .5em);
			ol {
				grid-column: 2;
				justify-self: start;
				&::before {
					background: linear-gradient(var(--AccentColor),var(--AccentColor)) left no-repeat, var(--Canvas);
					border-radius: .25em;
					content: "";
					width: 3ch;
				}
				li[aria-selected=false] {
					background-color: light-dark(#FFF, hsl(211, 100%, 95%));
					box-shadow: 0 0 0 2px light-dark(var(--ButtonFace), transparent);
				 }
			}
			&.--playing ol::before {
				animation: progress var(--duration) linear infinite var(--playstate);
			}
			[dir=rtl] & ol::before { scale: -1 1; }
		}
		&.--hidden { display: none; }
		&.--inside {
			grid-area: 1 / 1;
			justify-content: space-between;
			height: 100%;
			padding-inline: var(--ui-scroll-nav-gap);
			pointer-events: none;
			width: 100%;
			& button {
				align-self: center;
				pointer-events: auto;
			}
		}
		&.--outside {
			display: contents;
			gap: var(--ui-scroll-nav-gap);
			& button {
				grid-row: 1;
				place-self: center;
				&:first-of-type { grid-column: 1; }
			}
			& ol {
				grid-column: 2;
				grid-row: 1;
			}
		}
		&.--inside,
		&.--outside {
			margin-block: 0;
			& ol {
				margin-block-end: var(--ui-scroll-nav-gap);
				place-self: end center;
			}
		}
		&.--no-buttons button { visibility: hidden; }
		&.--no-dots ol { visibility: hidden; }

		&.--progress {
			grid-template-rows: min-content 1fr;
			padding-inline: 0;
			z-index: 500; /* FIX: SAFARI */
			&::before {
				background: linear-gradient(var(--AccentColor), var(--AccentColor)) left no-repeat, var(--Canvas);
				content: "";
				display: block;
				grid-area: 1 / 1 / 1 / 4;
				height: .5em;
				width: 100%;
			}
			[data-action=next] {
				grid-row: 2;
				margin-inline-end: var(--ui-scroll-nav-gap);
			}
			[data-action=prev] {
				grid-row: 2;
				margin-inline-start: var(--ui-scroll-nav-gap);
			}
			[data-action=play] {
				place-self: center;
			}
			[data-action=play], ol {
				grid-area: 2 / 2 / 3 / 3;
			}
			&.--playing::before {
				animation: progress var(--duration) linear infinite var(--playstate);
			}
			[dir=rtl] &::before { scale: -1 1; }
		}

		@media (hover: hover) {
			&.--hover {
				opacity: 0;
				transition: opacity .2s ease-in;
				&:hover { opacity: 1; }
			}
		}
	}
	@keyframes progress {
		0% { background-size: 0% 100%; }
		100% { background-size: 100% 100%; }
	}
}