@import '../icon/ui-icon.css';
@layer bs-component {
	:where(.ui-table) {
		[popovertarget],
		label:has([data-toggle-expand]) {
			background: #0000;
			border-radius: 0;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			grid-template-columns: 1fr; /* for label */

			/* Icon */
			&:has(ui-icon) {
				padding: 0 .3ch;
				@media (hover: hover) {
					&:hover {
						background-color: var(--ButtonFace);
					}
				}
				&:focus, &:focus-visible {
					background-color: var(--ButtonFace);
					outline-offset: 0px;
				}
			}
			/* Text */
			&:not(:has(ui-icon)) {
				--button-bxsh--hover: none;
				color: var(--AccentColor);
				cursor: pointer;
				padding: 0;
				@media (hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
				&:focus, &:focus-visible {
					border-color: #0000;
					color: var(--AccentColor);
					outline: none;
					text-decoration: underline;
				}
			}
		}

		.ui-table-expand--trigger,
		td:has(input[data-toggle-expand]) {
			display: flex;
			gap: 1ch;
			justify-content: space-between;
			
		}
		td:has(> [popovertarget] > ui-icon) {
			padding-inline-end: .6ch;
		}

		/* Inline Expand */
		tr[style*="--row"] > td {
			padding-block-end: var(--row, initial);
			transition: padding .25s linear;
		}

		/* tr:has([data-toggle-expand]:not(:checked)) + tr[data-toggle-expand] {
			display: none;
		}
		tr:nth-last-child(2):has([data-toggle-expand]:not(:checked)) td {
			border-block-end-width: 1px;
		}
		tr:has([data-toggle-expand]:checked) + tr[data-toggle-expand] {
			display: table-row;
		} */
	}

	:where(.ui-table-expand) {
		--ui-table-popover-m: 1rem;
		--ui-table-popover-w: clamp(220px, 33vw, 350px); /* for inline start/end positions */
		border: 1px solid var(--ButtonBorder);
		border-radius: var(--ui-table-popover-bdrs, .33rem);
		font-size: var(--ui-table-popover-fs, smaller);
		margin: 0;
		padding: var(--ui-table-popover-p, 1.2ch);
		position: fixed;

		/* === MODIFIERS === */

		&:not(.--anchor) {
			&, &::backdrop {
				transition: 
					display .5s allow-discrete, 
					overlay .5s allow-discrete, 
					inset .5s,
					scale .5s,
					opacity .5s;
				opacity: 0;
			}
	
			&::backdrop {
				background: #0002;
			}
	
			&:popover-open {
				opacity: 1;
				&::backdrop {
					opacity: 0.5;
				}
			}
	
			@starting-style {
				&:popover-open,
				&:popover-open::backdrop {
					opacity: 0;
				}
			}
		}

		&.--anchor {
			border-radius: 0;
			inset-block: auto anchor(bottom);
			inset-inline: anchor(start);
			interpolate-size: allow-keywords;
			position: unset;
			width: anchor-size(width);

			& {
				transition: 
					display .25s allow-discrete, 
					overlay .25s allow-discrete, 
					height .25s,
					opacity .5s;
				opacity: 0;
			}
			@starting-style {
				&:popover-open{
					height: 0;
				}
			}
			&[popover]:not(:popover-open) { 
				height: 0;
			}
			&:popover-open {
				height: max-content;
				opacity: 1;
			}
			&:not(.--last) {
				border-block-end-width: 0;
			}
		}
		&.--block-end {
			inline-size: calc(100vw - 2 * var(--ui-table-popover-m));
			inset-block: auto var(--ui-table-popover-m);
			inset-inline: var(--ui-table-popover-m);

			@starting-style {
				&:popover-open {
					inset-block: auto -100dvh;
				}
			}
			&[popover]:not(:popover-open) { 
				inset-block: auto -100dvh;
			}
		}
		&.--block-start {
			inline-size: calc(100vw - 2 * var(--ui-table-popover-m));
			inset-block: var(--ui-table-popover-m) auto;
			inset-inline: var(--ui-table-popover-m);

			@starting-style {
				&:popover-open {
					inset-block: -100dvh 0;
				}
			}
			&[popover]:not(:popover-open) { 
				inset-block: -100dvh 0;
			}
		}
		&.--inline-end {
			block-size: calc(100dvh - 2 * var(--ui-table-popover-m));
			inline-size: var(--ui-table-popover-w);
			inset-block-start: var(--ui-table-popover-m);
			inset-inline: calc(100vw - var(--ui-table-popover-w) - var(--ui-table-popover-m));

			@starting-style {
				&:popover-open {
					inset-inline: 100vw;
				}
			}
			&[popover]:not(:popover-open) { 
				inset-inline: 100vw;
			}
		}
		&.--inline-start {
			block-size: calc(100dvh - 2 * var(--ui-table-popover-m));
			inline-size: var(--ui-table-popover-w);
			inset-block-start: var(--ui-table-popover-m);
			inset-inline: var(--ui-table-popover-m);

			@starting-style {
				&:popover-open {
					inset-inline: calc(0px - var(--ui-table-popover-w));
				}
			}
			&[popover]:not(:popover-open) { 
				inset-inline: calc(0px - var(--ui-table-popover-w));
			}
		}
		&.--modal {
			block-size: calc(100dvh - 2 * var(--ui-table-popover-m));
			inline-size: calc(100dvw - 2 * var(--ui-table-popover-m));
			inset-block-start: var(--ui-table-popover-m);
			inset-inline: var(--ui-table-popover-m);
			transform-origin: 50% 50%;

			@starting-style {
				&:popover-open{
					scale: 0;
				}
			}
			&[popover]:not(:popover-open) { 
				scale: 0;
			}

			[popovertargetaction="hide"] {
				background: #0000;
				inset-block-start: 0;
				inset-inline-end: 0;
				position: absolute;
			}
		}
	}
}