.ui-progress-circular {
	--meter-progress-bs: 10em;
	--progress-bdw: 1em;
	--_mask: radial-gradient(circle farthest-side at center, transparent calc(99% - var(--progress-bdw)), #FFF calc(100% - var(--progress-bdw)));
	position: relative;
	width: var(--meter-progress-bs);

	&::after {
		counter-reset: val var(--value);
		content: counter(val) "%";
		font-size: 200%;
		font-weight: 700;
		margin-top: 1.25ch;
		place-self: center;
		position: absolute;
	}
	& progress {
		background: conic-gradient(
			var(--AccentColor) 0%,
			var(--AccentColor) calc(1% * var(--value)) 0,
			var(--ButtonBorder) calc(1% * var(--value))
		);
		border-radius: 50%;
		height: var(--meter-progress-bs);
		mask: var(--_mask);
		-webkit-mask: var(--_mask);
		&::-webkit-progress-inner-element { display: none; }
		&::-moz-progress-bar { opacity: 0; }
	}
}