@import '../color-key/ui-color-key.css';

@layer bs-component {
	:where(.ui-cinema) {
		--ui-cinema-seat-gap: 1cqi;
		--ui-cinema-seat-w: 7.5cqi;
		all: unset;
		container-type: inline-size;
		direction: ltr;
		display: block;
		max-inline-size: var(--ui-cinema-mw, 320px);
		& input {
			--_bdc: color-mix(in srgb, var(--ui-cinema-seat-bg, var(--CanvasGray)), #000 30%);
			aspect-ratio: 1 / .9;
			--input-check-bg: var(--ui-cinema-seat-bg, var(--CanvasGray));
			border-color: var(--_bdc);
			border-radius: .5rem .5rem .15rem .15rem;
			border-width: 0 0 .25rem 0;
			font-size: 150%;
			margin: 0;
			&:checked { 
				--ui-cinema-seat-bg: var(--ColorSuccess);
				--AccentColor: var(--ui-cinema-seat-bg);
				border-color: var(--_bdc);
			}
			&:disabled { --ui-cinema-seat-bg: var(--ColorError); }
			&:is([value=""], :not([value])) {
				opacity: 0;
				pointer-events: none;
			}
			&:focus-visible:not(:checked),
			&:hover:not(:checked):not(:disabled) {
				background: color-mix(in srgb, var(--ColorSuccess), Canvas 80%);
			}
			&:focus-visible:checked {
				outline: 2px solid color-mix(in srgb, var(--ColorSuccess), Canvas 40%);
			}
			&[inert] { --ui-cinema-seat-bg: var(--ButtonBorder); }
		}
		& label { display: contents; }
		[dir="rtl"] & legend { margin-left: auto; }
		& li {
			align-items: center;
			counter-increment: row;
			display: grid;
			gap: var(--ui-cinema-seat-gap);
			grid-auto-flow: column;
			&::before,
			&::after {
				content: counter(row);
				font-size: small;
				padding-inline: .5cqi;
			}
		}
		& ol {
			counter-reset: row;
			display: grid;
			gap: 2cqi;
			padding: 0;
		}
	}
}